[2019-01-13 12:36] laughingbiscuit opened #1 "Could not find package apigee/apigee-devportal-kickstart-project with stability dev."
When I run (following the README)
[code]
I see the error:
[code]

However when I run
[code]
..all is good.

[2019-01-14 10:25] mxr576 opened #2 "CS issue: Use single quotes where it is possible"
https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/3c735122fef64086c2e32b306ab44d6af9eb06e9/apigee_devportal_kickstart.install#L42

[2019-01-25 14:58] mikesson commented on #1
readme is incorrect (across composer, github and drupal), dash is to be replaced with underscore and without "-project" (composer [...] apigee/apigee_devportal_kickstart works for me, dev tag also detected)

[2019-01-25 22:03] cnovak commented on #2
Fixed

[2019-01-25 22:03] #2 closed, assigned to nobody

[2019-01-25 23:17] cnovak commented on #1
Created PR #5 to take care of incorrect README command issue reported by @laughingbiscuit.

@mikesson the [apigee/apigee_devportal_kickstart](https://packagist.org/packages/apigee/apigee_devportal_kickstart) project is the Drupal installation profile. If you run `composer create-project` against that repo you will not get the installation profile, Drupal core, and Drupal modules laid out properly.

[2019-01-26 01:15] #1 closed, assigned to nobody

[2019-02-28 22:23] jbennett13 opened #10 "Apigee Edge connection error - developer with <email> email address not found"
After setting up the Developer Portal with the Kickstart distribution, I ran into another error configuring the connection to Apigee Edge.  The error in the logs says:

<img width="555" alt="screen shot 2019-02-28 at 3 13 30 pm" src="https://user-images.githubusercontent.com/20446683/53602535-58924b00-3b6c-11e9-9fef-fc1d4c8a4af9.png">

I was able to resolve the error by going to my user profile, c

[2019-03-01 17:52] kiranjyoth commented on #10
@jbennett13 Ive tried replicating this issue. Once private file system is correctly set (permissions, path etc in settings.php), and drupal creates a .htaccess file in that location, I didn't encounter this.
Please add if there are any other steps to replicate it after setting file system, I can work towards resolving this issue.

[2019-03-04 16:12] jbennett13 commented on #10
There were no additional steps, per se.  After the file system path was set correctly and caches were cleared, I was still unable to get a connection to Edge.  That is, when I navigated to "MyApps," the connection error message was still there and no data was available.  Checking the log messages indicated the issue shown above in the screenshot.

This error flow only happened when installing Deve

[2019-03-05 18:30] kiranjyoth commented on #10
@jbennett13 will explore ways to create private file system during install or throw exception for prompting the user to create one. Thanks!

[2019-04-08 20:44] jacine opened #72 "When "Enable demo content" is not selected during installation, associated custom blocks are still placed."
When the content associated with these blocks is not installed, the blocks contain references to content that does not exist.  The following message appears, in place of those blocks:

## Workaround

1. Visit the "Block Layout" page at `/admin/structure/block`.
2. Delete the following blocks:
    - Title bar: APIs
    - Title bar: Blog
    - Title bar: Contact Us
    - Title bar: FAQs
    - Title

[2019-04-08 21:10] jacine commented on #10
Hello!

This feature is not currently available in the installer, so this bug as reported no longer applies. However, this feature is planned and will be reworked in the near future.

Thanks,
Jacine

[2019-04-10 09:19] laughingbiscuit opened #75 "Apigee demo content gone?"
Hi all,

When I ran this over a week ago, the installation wizard had a page for Apigee credentials and org details. Once the installation was complete, the default theme was an Apigee theme with the nice background with 3 people.

When running this today, the Apigee page has gone from the wizard and the default theme is the Acme theme. Has something changed?

[2019-04-10 15:30] laughingbiscuit commented on #75
theme: confirmed with @cnovak that the Acme portal is the new design
apigee wizard missing: possibly still a bug

[2019-04-10 15:57] kiranjyoth commented on #75
@laughingbiscuit yes, ACME portal will be the new theme on bootstrap as per @giteshk too. After apigee wizard is added, one feature pending as referred in #10 , is to set a private file system using config or set a default private file system - if it's executed using quick-start script.

[2019-04-10 18:49] laughingbiscuit commented on #75
exciting! ill keep an eye on the changes. thanks

[2019-04-16 21:58] nextagencyio opened #83 "Migration from D7 Apigee developer portal"
Curious if there is any migration path from the D7 distribution.

[2019-05-03 14:29] jacine commented on #75
Hello! The demo content and Apigee credentials are back, along with the new theme, so I think we can close this.  Feel free to re-open, or create a new issue if there are any problems.  Thanks!

[2019-05-03 14:29] #75 closed, assigned to nobody

[2019-05-03 14:31] jacine commented on #10
This feature is back and working in the latest release, so I think we can close this.  If you have any issues, please feel free to re-open or create a new issue.  Thanks!

[2019-05-03 14:31] #10 closed, assigned to nobody

[2019-05-03 17:51] kscheirer opened #94 "navbar.twig error"
When I install Kickstart on pantheon, I always end up with this fatal error causing a 503.
`Template "@apigee-kickstart/icons/navbar-toggle.svg" is not defined in "@apigee-kickstart/navbar/navbar.twig" at line 36.`

Deleting this line does not seem to cause any problems. I noticed apigee-kickstart-style.scss does not @import components/icons, could this be the problem?

[2019-05-03 19:32] jacine commented on #94
Hi @kscheirer,

Ah, I've run into similar issues with anything containing `icon` in the name, on Pantheon too.  Check your `.gitignore` file.  I'm not sure how you installed (via Dashboard or Terminus), but either way you probably have an entry for `Icon` that's being ignored.  It's safe to remove it.  Once you commit that removal, you should see the source for this and be able to commit it and pu

[2019-05-06 16:44] epowelljr commented on #1
Getting the error below when using the apigee_devportal_kickstart.  I ran the composer command:

composer create-project apigee/devportal-kickstart-project:8.x-dev portal --stability dev --no-interaction

I also ran the composer command:
composer.phar create-project apigee/devportal-kickstart-project:8.x-dev portal --stability dev --no-interaction

Got the same error below:

<img width="800" alt="

[2019-05-06 19:16] cnovak opened #96 "Installation error on Drupal 8.7"
Getting the error below when using the apigee_devportal_kickstart.  I ran the composer command:

composer create-project apigee/devportal-kickstart-project:8.x-dev portal --stability dev --no-interaction

I also ran the composer command:
composer.phar create-project apigee/devportal-kickstart-project:8.x-dev portal --stability dev --no-interaction

Got the same error below:

<img width="800" alt="

[2019-05-06 19:19] cnovak commented on #96
@epowelljr I created a new issue for your comment on issue #1 since this is a different problem.  There are changes in Drupal core 8.7 that are not compatible with our current codebase.  We are preparing a release to address this issue.

[2019-05-06 22:21] cnovak opened #98 "composer quick-start throws error: fields are required"
When running `composer quick-start`, you no longer get a working site.

## Steps to reproduce
Follow steps in README.md:

1. Run `composer create-project apigee/devportal-kickstart-project:8.x-dev kickstart --stability dev --no-interaction`
2. Cd into kickstart directory and run: `composer quick-start`

* Expected*: Site is up and running
* Actual*: Error message displayed, see below

[code]

[2019-05-06 22:29] cnovak commented on #96
This is fixed in [8.x-1.0-beta2 ](https://www.drupal.org/project/apigee_devportal_kickstart/releases/8.x-1.0-beta2) which was just released.  You can run `composer update --optimize-autoloader --with-dependencies` to grab this release.

[2019-05-06 22:29] #96 closed, assigned to nobody

[2019-05-07 06:01] mohit-wadhwa opened #99 "By when we can expect the stable release of Apigee Devportal with Drupal 8 ?"

[2019-05-07 06:02] mohit-wadhwa opened #100 "Drupal 7 and 8 will be end-of-life in November 2021 and Drupal 9 will be released in 2020 so what are the plans to support Drupal 9 as Drupal 8 will no longer be supported after 2 years ?"

[2019-05-08 07:26] epowelljr commented on #96
Hi Chris,

Updated the Drupal site and it crashed. Got the error below.

How can I restore the site?

Fatal error: Interface 'Apigee\Edge\Entity\EntityInterface' not found in /app/web/modules/contrib/apigee_edge/src/Entity/EdgeEntityInterface.php on line 32

-Edgar

[2019-05-08 17:33] cnovak opened #106 "Fatal error: Interface 'Apigee\Edge\Entity\EntityInterface' not found"
Updated the Drupal site and it crashed. Got the error below.

How can I restore the site?

Fatal error: Interface 'Apigee\Edge\Entity\EntityInterface' not found in /app/web/modules/contrib/apigee_edge/src/Entity/EdgeEntityInterface.php on line 32

-Edgar

_Originally posted by @epowelljr in https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/96#issuecomment-490379197_

[2019-05-08 17:35] cnovak commented on #96
@epowelljr I moved your message above to a new issue.

[2019-05-08 17:39] cnovak commented on #106
@epowelljr we are working on putting out a new release to fix this issue along with making kickstart Drupal core 8.7 compatible.  You could try requiring Apigee Edge 8.x-1.0-rc4 for now.

[2019-05-08 22:40] cnovak commented on #106
@epowelljr I tried replicating the issue but did not see that issue, instead I see the issue #98 when running a fresh install of kickstart right now.  I am wondering if your root composer file is out of date.  Can you make sure your project root `composer.json` file has a requirement of [apigee/apigee_devportal_kickstart of ^1.0.0](https://github.com/apigee/devportal-kickstart-project-composer/blo

[2019-05-08 22:45] Jaesin commented on #106
It looks to me like the [PHP client](https://github.com/apigee/apigee-client-php) is missing or just not being found by the composer auto loader. The `Apigee\Edge\Entity\EntityInterface` class is here: <https://github.com/apigee/apigee-client-php/blob/2.x/src/Entity/EntityInterface.php>. The library should be in your vendor folder as `vendor/apigee/apigee-client-php`.

[2019-05-08 22:46] cnovak commented on #94
Will close ticket, but reopen if still fix above does not work @kscheirer

[2019-05-08 22:46] #94 closed, assigned to nobody

[2019-05-08 22:48] cnovak commented on #100
@mohit-wadhwa luckily the update to Drupal 9 will be much easier than the upgrade to Drupal 8.  We do plan on having a Drupal 9 version of this profile.  Feel free to reopen this ticket if I did not fully answer your question.

[2019-05-08 22:48] #100 closed, assigned to nobody

[2019-05-08 22:54] cnovak commented on #99
We plan to have a 1.0 release as soon as we finalize our last features and review for any critical issues.  We consider this will happen in weeks, not months.  We recently promoted this project to beta since we consider functionality complete and no major issues in functionality.

Let us know if you run into any critical issues in this issue queue so that we can properly evaluate our release sched

[2019-05-08 22:54] #99 closed, assigned to nobody

[2019-05-09 01:23] jacine opened #109 "Using drush si + drush key-save to install the profile with credentials is not working"
Due to changes in the Apigee Edge connection form, this is no longer working.

Related issue: #107

[2019-05-09 01:36] jacine commented on #98
The 8.x-1.0-beta3 release has been published and includes a fix for this.  Please feel free to reopen if you experience issues after updating.  Thanks!

[2019-05-09 01:36] #98 closed, assigned to nobody

[2019-05-09 02:54] cnovak commented on #106
We did finish our release [8.x-1.0-beta3](https://www.drupal.org/project/apigee_devportal_kickstart/releases/8.x-1.0-beta3), but from what @Jaesin pointed out, it may be unrelated to issues the Apigee Edge version being used.

[2019-05-09 05:58] mxr576 commented on #106
@epowelljr
Do you see the `apigee/apigee-client-php` and the `drupal/apigee_edge` module installed when you run `composer show | grep apigee`? Please share the output of this command if you do.

Also, if these packages are installed, try to run `composer dump-autoload`. If you have [APC](https://www.php.net/manual/en/book.apc.php) installed you should restart the web server to flush out the PHP ob

[2019-05-14 18:26] kscheirer commented on #94
Thanks @jacine this was the problem. Removing from gitignore cleared that up, and also surfaced a bunch more places where icons from contrib modules were being ignored.

[2019-05-21 17:15] kscheirer opened #116 "Instructions for deploying to Pantheon"
I'm a little scared to post this cause I'm sure I did it the hard/wrong way, but I'd appreciate any feedback or improvements to this process @jacine.

# Initial D8 site

- On your Pantheon dashboard, create a new site, name it, and choose Drupal 8 as your CMS
- click "Deploy", wait for Pantheon to complete
- click to go back to your Dashboard
- click "install later" link to avoid installing Drupal

[2019-05-27 11:02] mxr576 opened #117 "Project creation issue after Apigee Edge RC5"
![image](https://user-images.githubusercontent.com/1755573/58415539-10a59600-807f-11e9-8271-df4721333f6c.png)

https://github.com/apigee/apigee-edge-drupal/pull/197#issuecomment-496053544

[2019-05-27 11:02] mxr576 commented on #117
Hi @epowelljr.

I opened this new issue from your comment in the project that this could be related.

[2019-05-28 21:11] cnovak commented on #117
@epowelljr we are putting in a new release to fix this issue, will keep this ticket updated.

[2019-05-28 21:14] cnovak commented on #116
@kscheirer thanks for putting together this info, we plan on reviewing this and getting back to you soon.

[2019-05-29 02:12] epowelljr commented on #117
Thank you very much Chris!

-Edgar

[2019-05-29 04:20] cnovak commented on #117
You are welcome @epowelljr. We just released [Kickstart 1.0-rc1](https://www.drupal.org/project/apigee_devportal_kickstart/releases/8.x-1.0-rc1) which I validated fixes this issue.  Update your project using `composer update -o --with-dependencies` to get the latest.  You might also want to update your project composer file to [remove Swagger UI library](https://github.com/apigee/devportal-kicksta

[2019-05-29 04:20] #117 closed, assigned to nobody

[2019-05-29 13:49] epowelljr commented on #117
This is wonderful Chris!

Please keep me informed when there are now updates.

Have a great day!

[2019-05-29 15:50] cnovak commented on #117
Great to hear, thanks @epowelljr

[2019-05-29 20:47] cnovak opened #121 "Add sidebar regions to the theme"
From @giteshk:
The current kickstart theme does not have a left or right sidebar.

This would make it difficult for end users to add blocks quickly into the site without writing CSS code. We should add these two regions into the theme

[2019-05-31 18:24] jacine commented on #121
This has been merged and will be included in the next release: 8.x-1-1.

[2019-05-31 18:24] #121 closed, assigned to jacine

[2019-05-31 18:30] jacine commented on #106
I don't believe this was actually a Kickstart issue based on the above comments, but either way this should be resolved, as 8.7 support was added a few releases ago.

If you're still having an issue and need help, please feel free to reopen this with further details.

Thanks!

[2019-05-31 20:28] cnovak commented on #83
@drupalninja we have not spent any time yet working through a guide with info/tips on how to migrate over. However, the goal of this project was to cover all the functionality that existed in Drupal 7. Most of the Apigee Edge data such as apps, API products,  and developers will already be in Edge org, but I am sure results will vary depending on how much customization was done.  Let us know if yo

[2019-06-01 06:13] epowelljr commented on #106
I installed the kickstarter on a redhat server. The site only display the front-page and not all the images displayed.
When you click a link to go to another page you get the 404 error. The requested URL was not found on this server.

I noticed the .htaccess file is not being recognized. I renamed it and nothing happened. First I placed garbaged characters in it and nothing happened.
I do not know

[2019-06-03 20:45] cnovak opened #127 "Create subtheme instructions/template"
There is [some info about how to sub-theme our kickstart theme](https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/8.x-1.x/themes/custom/apigee_kickstart/README.md), but would be good to add more detail and a template so that persons new to Drupal 8 theming can easily understand how to make modifications to the look and feel of Kickstart.

[2019-06-03 23:27] arunz6161 opened #128 "Implement Custom Theming & Configuration for Rate Plan Detail page alongside DRUP-762"
This issue is for the custom theming and config that will be necessary to implement the Rate Plan detail page as designed. This issue may or may not end up relying on some aspects of DRUP-762 (potentially at field level).

[2019-06-03 23:28] arunz6161 opened #129 "Style the Monetization user profile pages, as designed for Kickstart"
Style the Monetization user profile pages, as designed for Kickstart

[2019-06-03 23:33] arunz6161 opened #130 "Style the Commerce Cart / Checkout to the extent possible in Kickstart"

[2019-06-03 23:36] arunz6161 opened #131 "Re-work the Title Bar component to allow for a Buttons, either in place of, or in addition to the Font Awesome Icon"
Re-work the Title Bar component to allow for a Buttons, either in place of, or in addition to the Font Awesome Icon

[2019-06-03 23:40] arunz6161 opened #132 "Add Title Bar with Icon to "Pricing and Plans" page"

[2019-06-04 00:12] arunz6161 opened #133 "Docs: Commonly asked customer changes"
To document on how customers could customize front page and colors for the theme. Also cover other commonly asked questions.

[2019-06-04 00:17] arunz6161 opened #134 "Implement custom theming of Pricing & Plans page"
This issue is for the Kickstart theming related tasks, involved with apigee/apigee-m10n-drupal#117 implementing the new Pricing & Plans page, after the base implementation is done in the M10n module, as these customizations will build upon what's done in M10n.

[2019-06-04 14:38] jacine commented on #131
This can't be done the way I was thinking because this would actually require content for rate plans, which we don't have.  I'm going to leave the Title bar component alone, and do this styling in #128, directly in the rate plan template.

[2019-06-04 14:38] #131 closed, assigned to jacine

[2019-06-04 21:01] cnovak commented on #106
It sounds like an issue with your web server configuration with Drupal clean urls:
* [Fixing clean URL problems](https://www.drupal.org/docs/8/troubleshooting-drupal-8/fix-drupal-8-clean-urls-problems)
* [This thread has the same issue of links being 404s](https://groups.drupal.org/node/105954)

[2019-06-04 21:01] #106 closed, assigned to nobody

[2019-06-04 21:01] epowelljr opened #136 "404 Not Found"
I installed the kickstarter 8.7.2 on a Redhat server.
I'm getting the 404 Not Found error. This page can not be found on this server.

I get this error after clicking on all the pages of the website. The front page will display for the most part. Some of the image do not display on the frontpage. Also, I get the same error when clicking on login of sign.

--Edgar

[2019-06-04 21:09] jacine commented on #136
Hi @epowelljr,

@cnovak added some information that should be helpful in #106.

I also found this, which suggests that you may need to configure this outside of `.htaccess` itself: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/5/html/deployment_guide/s1-apache-config

Hope it helps!
Jacine

[2019-06-04 21:15] cnovak commented on #136
Here is that info again:
It sounds like an issue with your web server configuration with Drupal clean urls:
* [Fixing clean URL problems](https://www.drupal.org/docs/8/troubleshooting-drupal-8/fix-drupal-8-clean-urls-problems)
* [This thread has the same issue of links being 404s](https://groups.drupal.org/node/105954)

Let us know if you are still having issues.

[2019-06-04 21:15] #136 closed, assigned to nobody

[2019-06-05 02:44] epowelljr opened #137 "product_access_control` placeholder field"
Do you know how to resolve this displaying in the Status Report of Drupal 8.7.2

ENTITY/FIELD DEFINITIONS
Mismatched entity and/or field definitions
The following changes were detected in the entity type and field definitions.
API Doc
The `product_access_control` placeholder field needs to be installed.

[2019-06-05 14:52] jacine opened #138 "Create an Issue Template for this Repository"
We should create a [template](https://help.github.com/en/articles/about-issue-and-pull-request-templates) to help improve details provided in issues.

[2019-06-05 15:09] #138 closed, assigned to cnovak

[2019-06-05 16:43] jacine opened #141 "Style the Teams pages in the Apigee Kickstart theme"
This task includes:

- **Teams**: `/teams`
  https://projects.invisionapp.com/d/main/default/#/console/16939246/361490145/preview
- **Team Members** `/teams/team/members`
  https://projects.invisionapp.com/d/main/default/#/console/16939246/361490141/preview
- **Team Apps**: `/teams/team`
  https://projects.invisionapp.com/d/main/default/#/console/16939246/361490143/preview

## Related issues

- Co

[2019-06-05 16:45] jacine commented on #127
We could potentially use Tour module to enhance certain aspects, related to the theme.  For example, on the Block Layout page would could use the Tour module to describe each theme region and its purpose.

[2019-06-05 17:55] jacine opened #142 "Add and Configure the Legal module"
https://www.drupal.org/project/legal

[2019-06-06 14:15] d1ndra opened #143 ""Page not found" when trying to access API documentation"
**Describe the bug**
API documentation doesn't show, instead says "Page not found"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page / API list page
2. Click on any catalog
3. "Page not found"

**Expected behavior**
List of APIs

**Screenshots**
.
![image](https://user-images.githubusercontent.com/7220131/59040094-a4ebd600-8893-11e9-8aff-1c8f278b2d73.png)

**Version Info**
1.1.

[2019-06-06 14:47] shadcn commented on #130
PR sent: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/144

[2019-06-06 16:45] jacine opened #145 "Revert local action customizations to defaults"
In earlier versions of Kickstart comps, the button to add a new app on the "My Apps" page, the button text read: "Register New App".  This has been removed from newer versions, and also affects the Team app button.

The results of this issue should be:

- On `user/x/apps` the button should read "Add App"
- On `teams/x/apps` the button should read "Add Team App"

[2019-06-06 18:29] jacine commented on #141
Just updated the issue description here to contain a list of things to discuss.

[2019-06-10 13:16] shadcn commented on #129
PR (wip): https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/146

[2019-06-11 01:53] arunz6161 opened #151 "Newly created app does not show on "Apps" page unless site cache is cleared"
**Describe the bug**
Newly created app does not show up on "Apps" page unless site cache is cleared

**To Reproduce**
Steps to reproduce the behavior:
1. As a developer, navigate to Apps page
2. Create a couple of apps. You will see a success message confirming app creation.
3. Refresh the screen a couple of times.
4. No apps are listed.
5. Clear site cache.
6. Refresh apps page- you will see the

[2019-06-11 15:55] epowelljr commented on #117
I’m still having issues with the Apigee kickstart Drupal portal installation.

I installed the portal on Prem. It was a LAMP installation using MariaDB as the Database. The Sever is Redhat.

1. The portal work fine when a user is just surfacing through the portal page and content.
2. If you login to the portal you will notice the interface had normal structure. The portal display lists of folder.

[2019-06-11 17:53] jacine commented on #117
Hi @epowelljr,

Did you try the suggestions we posted for you in #136?

Are you sure that you have `mod_rewrite` enabled?  Here is another documentation page that might be useful for you: https://www.drupal.org/node/228462.

Thanks,
Jacine

[2019-06-11 18:22] epowelljr opened #148 "Questions on using Apigee Kickstart Dev Portal"
I’m still having issues with the Apigee kickstart Drupal portal installation.

I installed the portal on Prem. It was a LAMP installation using MariaDB as the Database. The Sever is Redhat.

1. The portal work fine when a user is just surfacing through the portal page and content.
2. If you login to the portal you will notice the interface structure breaks. The portal display lists of folder.
3. W

[2019-06-11 18:22] cnovak commented on #117
@epowelljr here is a doc on how to get [Drupal 8 running on RHEL](https://www.web3us.com/drupal-how-guides/install-drupal-8-composer-and-drush-9) without our Kickstart.  You can replace step number 7 in this doc with the Kickstart composer project command.

[2019-06-11 18:29] epowelljr commented on #117
Where is the link to the doc?

[2019-06-11 21:51] davemyb opened #149 "When no sidebar present, blog pages still have a blank space to the left."
Updated Kickstart to the latest dev version and saw that sidebars were added to the regions and new code exists to add them to pages. Without any other changes, the included article nodes now have a blank region to the left on large screens. The article content should be full width when no sidebars are not present.

This is due to the "col-lg-8" class on the wrapper, which is assigned in node-arti

[2019-06-11 23:16] jacine commented on #149
Hi @davemyb, this isn't a bug and is not any different visually than in the previous version.  It is supposed to be `col-lg-8` when there are no sidebars.  Here's a screenshot with the code inspector showing that class.

<img width="1595" alt="Screen Shot 2019-06-11 at 7 13 33 PM" src="https://user-images.githubusercontent.com/60979/59313006-2e791a80-8c7d-11e9-8cf5-bf490eabf016.png">

If you'd lik

[2019-06-11 23:16] #149 closed, assigned to jacine

[2019-06-12 05:49] mxr576 commented on #151
@arunz6161 This automated test validates exactly what you have described as an issue:
https://github.com/apigee/apigee-edge-drupal/blob/8.x-1.x/tests/src/Functional/DeveloperAppUITest.php#L114-L123

Can you reproduce this issue when you only install the apigee_edge module in a clean Drupal installation (not created from the Kickstart) as well? Has this problem occurred after you experienced the pe

[2019-06-12 14:44] jacine commented on #148
Hi @epowelljr,

We're confident this is a server configuration issue, as opposed to an issue with this project.  That's to say that if you installed Drupal alone, without the Kickstart, in your current setup, you would likely face the same issue.  We've been trying to help, across numerous issues/comments across this queue, but it's not clear if you've tried our suggestions.  I've added all of tho

[2019-06-12 15:40] cnovak commented on #148
We have commented back on each ticket about steps to try, but have not heard back on any of our suggestions. Like @jacine pointed out this is a configuration issue of your web server but we would like to offer help as much as we can.  Let us know in this ticket of anything you find following our suggestions, we will keep this ticket open for you to comment on.

[2019-06-12 17:15] cnovak commented on #148
@epowelljr I thought of another solution that may help you - Pantheon.io will bring up an Apigee Kickstart site for you on their platform.  Go to the [Apigee Pantheon Partnership page](https://pantheon.io/product/apigee-pantheon-partnership), scroll to the bottom and click on "Free Consultation" link, use that to request a Kickstart site to be spun up.  Hope this helps!

[2019-06-13 06:22] arunz6161 commented on #151
@mxr576 thanks for the response. Yes, i used kickstart to install and also had M10n module enabled. But i reproduced after disabling  M10n module. I will try reproducing this by just installing the  apigee_edge module in a clean Drupal installation and update here with findings.

[2019-06-13 21:19] shadcn commented on #130
PR merged: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/144

[2019-06-13 21:19] #130 closed, assigned to shadcn

[2019-06-13 21:20] shadcn commented on #129
PR merged: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/146

[2019-06-13 21:20] #129 closed, assigned to shadcn

[2019-06-14 18:28] kscheirer commented on #117
I've followed up with Edgar over email to help resolve his issues, this does not appear to be a problem in Kickstart.

[2019-06-14 18:29] kscheirer commented on #148
I've followed up with Edgar over email to help resolve his issues, this does not appear to be a problem in Kickstart. I think you can close this issue.

[2019-06-14 19:55] shadcn commented on #151
@arunz6161 @mxr576 OK I ran some tests. This is a kickstart cache context bug not apigee_edge or apigee_m10n. I'll fix. Thanks

[2019-06-15 20:53] epowelljr commented on #148
Do you have a default .htaccess file that I can use for the Apigee kickstart Dev Portal?

We had to make edits to rewrite conditions to git the content to format and display.

-Edgar

[2019-06-15 21:11] jacine commented on #148
Hi @epowelljr,

Sure, it’s right here: https://git.drupalcode.org/project/drupal/blob/8.7.3/.htaccess

Thanks,
Jacine

[2019-06-15 21:18] epowelljr commented on #148
Is this .htaccess identical to the one that is in the kickstart download for 8.7.3?

[2019-06-15 21:24] jacine commented on #148
Yes, it’s the same. The Kickstart downloads the latest Drupal core version directly when you run the `composer create-project apigee/devportal-kickstart-project:8.x-dev MY_PROJECT --no-interaction` command.

[2019-06-15 21:29] epowelljr commented on #148
We had to include RewriteCond to get the page content to format and display.
Do you know what is going? Is the the correct place to make these edits?

[2019-06-15 21:44] jacine commented on #148
I rarely ever have to make edits to this file. Did you try going through this list yet? https://www.drupal.org/node/228462

[2019-06-15 21:47] epowelljr commented on #148
Yes, but we still had issues.

[2019-06-15 21:55] jacine commented on #148
What kind of issues? Are you sure mod_rewrite is enabled and properly configured at the server level? Are you installing in the web root directory or a sub directory? The more information you can provide, the better.

[2019-06-16 02:46] epowelljr commented on #148
We have PHP 7.3.5 loaded. I saw come document saying that Apigee and the modules are not supported with PHP 7.3.5 but is support with PHP 7.2

Do know what is correct?

[2019-06-16 04:26] jacine commented on #148
I'm not aware of any issues with PHP 7.3.  I've got PHP 7.3.1 running locally, with all the latest Apigee modules, and everything is working fine. PHP 7.3 has been recommended, alongside 7.2, for Drupal since version 8.6.4 (see screenshot below). If you recall where you found this information in the docs, please let us know, so we can make sure to verify/update it.

<a href="https://www.drupal.org

[2019-06-16 04:59] epowelljr commented on #148
The portal is working without error now. I did increase the memory_limit to 512. I increase the file upload. I was set to 128MB. I noticed some images would not display so I increase it to 300MB, I guess that is a little high, what’s your thoughts?

I did not change the max_execution_time. I will check that now.

Thanks

[2019-06-16 14:43] jacine commented on #148
Great! 🎉 I’m so glad to hear it’s all working for you.

Unless you are expecting to have users upload large files, 300MB is kind of high.  The largest source image we have in the repo is about 6MB, but we use responsive images everywhere, so they’re all transformed to smaller sizes when viewed.  That’s probably what you experienced, the initial creation of the smaller image variants created by the

[2019-06-16 17:13] epowelljr commented on #148
1. Responsive images? How can I convert my images to be of such?
2. Also, do I need to install an additional module to handle registered developers or users? Drupal has built-in capabilities to add roles and users.

[2019-06-16 17:25] jacine commented on #148
1. There’s nothing you need to do. This is done for you, upon installation. The Drupal entity display configuration is already using responsive image formatters everywhere. The first time (only once) the site is ever loaded the images generate (like Drupal 7 image cache). This is what I was referring to in my previous comment. Are you seeing images on the site?

2.  No additional modules are neede

[2019-06-16 19:09] epowelljr commented on #148
Yes, all the images are displaying correctly. Apparently, it was something else that was preventing the images from displaying.
If that is the case, I will lower the file upload.

[2019-06-16 19:34] jacine commented on #148
Ok great! Thanks for letting us know @epowelljr. 🙂

[2019-06-17 15:10] davemyb opened #153 "Alt tag missing for logo image."
The logo in the navbar does not currently have an alt tag on it. Caught this when running https://achecker.ca for WCAG 2.0 accessibility.
My fix is as follows:
1. In src/components/navbar/navbar-brand.twig, line 22 add "alt" after the "height" parameter: `{{ navbar_brand.image(image, width, height, alt) }}`
2. On line 35, add "alt" parameter: `{% macro image(src, width, height, alt) %}`
3. On line

[2019-06-17 15:19] davemyb opened #154 "Extra <h4> tag showing up above <h3> tag that contains card title."
On the API cards on the home page of the demo content, there is an empty H4 tag right above the card title that is wrapped in an H3 tag. This fails WCAG 2.0 accessibility checks.

I tracked it down to src/components/card/card.twig which is doing this on line 40: `<h4 class="card-title">{{ title }}</h4>`. Then, in templates/field/field--paragraph--field-title--card.html.twig, the title is getting w

[2019-06-17 20:23] epowelljr commented on #148
Jacine,

Now that we have resolved the issues with the Dev Portal 404 and .htaccess.

1. I need to connect the Drupal 8 Dev Portal to the Apigee Management server.
2. Originally, there was a Drupal 7 Dev Portal connected to the Apigee Management server. Do we need to make any updates to the Management server since we are planning on attaching the Drupal 8 version of the Dev Portal?
3. Also, what a

[2019-06-18 11:34] joaoclobocar opened #155 ""Page not found" if running Drupal in a subdirectory"
SmartDocsFormatter is not working if you are using Drupal in a subdirectory.

[2019-06-18 12:51] shadcn commented on #145
Fixed in https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/147

[2019-06-18 12:51] #145 closed, assigned to jacine

[2019-06-18 15:05] #151 closed, assigned to shadcn

[2019-06-18 15:20] epowelljr commented on #148
Hi Jacine,

I trying to connect the Dev Portal to the Apigee Management Server. I applied the credentials the Dev Portal Apigee Edge Connection Settings form.

I’m getting the error below:

Failed to connect to Apigee Edge. cURL error 7: (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

Do you have a fix for this?

-Edgar

[2019-06-18 16:24] ChristophAI commented on #154
This is also an SEO issue. In broader terms it is important for any machine-driven interpretation of the page content. The hierarchy of heading tags should always be in numerical order, so any bot can parse the page structure without applying crazy heuristics.
You will want to check the heading hierarchy on any page, and decide whether what you have makes sense overall.

[2019-06-18 16:25] jacine commented on #154
Thanks for bringing the issue to our attention.  It's clearly a bug, and it will be resolved.

[2019-06-18 16:26] jacine commented on #153
Thanks, yes, I think this needs to be fixed in Radix.  Will update this when the solution is decided upon.

[2019-06-18 17:37] nswaich opened #156 "The website encountered an unexpected error. Please try again later. with Kickstarter"
I am using a fresh install of Drupal with the Acquia Dev Desktop. Whenever I create a site using your kick-starter, I use composer and then Acquia to initialize the site. Everything seems to be working properly along with all the demo content. I am not yet associated with Apigee so I don't have credentials for Apigee connection settings. After some random amount of testing, usually 30 minutes to 3

[2019-06-18 20:12] kscheirer commented on #148
Hi Edgar,

You don't need to make any updates to the Apigee Management server. The new Apigee API Catalog module is SmartDocs for Drupal 8. If you already have that installed, then you're all set.

The credentials from your D7 site should work fine for D8 as well. Curl error 7 is `CURLE_COULDNT_CONNECT (7) - Failed to connect() to host or proxy.`, so it sounds like the Apigee Management server is

[2019-06-18 21:01] epowelljr commented on #148
Got it functioning now. Do you have a link for configuring or using the API Catalog module with the Apigee management server?

Yes I believe we are using the on-premise version.

[2019-06-18 21:13] epowelljr commented on #148
Karl,

The Dev Portal and the Apigee Management server are using the same Redhat server at different ports.
This server do not have access to the internet. Do know if that will contribute issues when using the Apigee API Catalog and the Apigee Management server.

-Edgar

[2019-06-18 21:34] cnovak commented on #148
You can try making the same call from the server using cURL.  You should get the same response.
For example, you can see this will return a 401, modify url, username, password, and org to match your Edge configuration:

[code]

You can also turn on debugging to get more information.  Go to "Extend" in the admin menu you can turn on the [Apigee Edge Debug module](https://www.drupal.org/docs/8/modul

[2019-06-18 23:02] kscheirer commented on #148
Hi Edgar,

Good to hear that its working now. I dont think you'll have any trouble being on the same server. The general docs for using the API Catalog are here: https://www.drupal.org/docs/8/modules/apigee-api-catalog-0/document-your-apis.

Basically
- Create a new API Doc entity
- Upload your OpenAPI spec file
- View the new entity

[2019-06-19 03:05] epowelljr commented on #148
Hi Karl,

I noticed another issue that has surfaced.

When login as an administrator, I tried to add an API doc.
I browsed to Content, API Catalog, Add API doc. There is an Image section where you can Add media. I tried to add an image but was not able to add it. I was able to browse and select the image and select to insert the image but it would not add the image for the API doc.

Attached is th

[2019-06-19 05:48] cnovak commented on #148
Hello @epowelljr I do not see any screenshots on this ticket, can you add them by going to the ticket directly and adding them instead of replying by email?

https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/148

[2019-06-19 06:32] epowelljr commented on #148
Attached is the screenshot:
<img width="1436" alt="Screen Shot 2019-06-18 at 9 49 59 PM" src="https://user-images.githubusercontent.com/7342666/59741956-103d8c80-9232-11e9-9603-665f1e631929.png">

[2019-06-19 16:04] epowelljr commented on #148
Hi Chris,

Can you check the ticket. I attached the error.

[2019-06-19 16:31] jacine commented on #148
Hi @epowelljr,

Thanks for the image.  It's very helpful.  It looks like this is actually a Drupal core bug: https://www.drupal.org/project/drupal/issues/2990664

The fix has been committed, so it should be in the next release.

Thanks,
Jacine

[2019-06-19 19:07] jacine commented on #156
Hi @nswaich!

Thanks so much for this report.  Your watchdog log helped us track down a bug.  I've posted a PR with a fix, in #158 that should resolve the issue.

Thanks!
Jacine

[2019-06-19 20:52] #156 closed, assigned to nobody

[2019-06-19 21:04] epowelljr commented on #148
Hi Utpal,

I need to install the patch listed below.
The module that I need to patch is the media_library.

I tried to apply the patch but the server do not have the ability to allow patching. Can you load patch tool on the server.

-Edgar

[2019-06-20 13:37] jacine commented on #132
This is done.

[2019-06-20 13:37] #132 closed, assigned to jacine

[2019-06-20 16:44] jacine commented on #134
This has been merged.

[2019-06-20 16:44] #134 closed, assigned to jacine

[2019-06-20 18:54] jacine commented on #153
A patch for this has been proposed for Radix:
https://www.drupal.org/project/radix/issues/3063109

[2019-06-20 18:54] #154 closed, assigned to nobody

[2019-06-20 19:05] epowelljr commented on #148
Hi Jacine,

Can you provide suggestions or a fix for the errors below:

We tried to register a developer in the Dev Portal. When entered all details and tried to create an account it throws below exception.

Thanks Jacine!

[2019-06-20 19:15] jacine commented on #148
Hello @epowelljr!

Did you forget to attach the details?  You might need to do it directly, instead of via email like before.

Thanks!
Jacine

[2019-06-20 20:15] epowelljr commented on #148
It is now attached.
<img width="1224" alt="Screen Shot 2019-06-20 at 3 11 32 PM" src="https://user-images.githubusercontent.com/7342666/59878547-349e8380-936e-11e9-8ed5-b365677d72d6.png">

Thank you!

[2019-06-20 22:17] cnovak commented on #148
@epowelljr those error messages are cut off, you should be able to click on the message and see the details.  However, it seems that this issue is full of a lot of different issues/questions.  Can you open an issue for each problem you have instead of having a long thread about different issues?  I am afraid that persons having these same issues will not be able to follow the problem.  Please open

[2019-06-20 22:17] #148 closed, assigned to nobody

[2019-06-21 00:16] epowelljr opened #163 "Medial oEmbed Warning"
**Describe the bug**
What is causing this and what should be done to remove the warning?

<img width="1313" alt="Screen Shot 2019-06-20 at 7 10 31 PM" src="https://user-images.githubusercontent.com/7342666/59888909-70961080-938f-11e9-9d50-0d7273298089.png">

4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2019-06-21 01:46] jacine commented on #163
Hi @epowelljr!

This isn’t a bug. It’s a warning, and unfortunately you cannot suppress it, [yet](https://www.drupal.org/project/drupal/issues/2962753). It’s coming from Drupal core’s media module. If you click the link in that message there is more information.

In short, it has to do with the video media entity which allows you to embed YouTube (and other oEmbed) videos. Kickstart does not ship

[2019-06-21 14:22] epowelljr commented on #148
Hi Cnovak,

This is more info on the bug.

<img width="1274" alt="Screen Shot 2019-06-21 at 9 19 50 AM" src="https://user-images.githubusercontent.com/7342666/59929247-0c626380-9406-11e9-8d2f-28003d669c37.png">

[2019-06-21 15:06] jacine commented on #142
I'm just looking into this now, and I'm concerned about the current state of this module.

- There is a `8.x-1.0-rc1` release, which was cut 9/15/2018.
- The last commit to dev was 1/26/19.
- There are 10 issues, 7 of which are bug reports: https://www.drupal.org/project/issues/legal?version=8.x

If we install this in Kickstart, we're going to have to include patches.  Personally, I would rather w

[2019-06-21 15:35] cnovak commented on #142
Sounds like a good idea.

[2019-06-21 16:08] cnovak commented on #148
@epowelljr pen a bug ticket and fill out details instead of using this same thread for each issue, thanks

[2019-06-22 00:50] epowelljr opened #165 "Error when Registering Users in the Apigee Dev Portal"
I having issues when trying to register user in the Apigee Dev Portal.

Attached is the errors from the Report Status Log.
<img width="1282" alt="Screen Shot 2019-06-21 at 8 45 53 PM" src="https://user-images.githubusercontent.com/7342666/59957407-1d42c180-9466-11e9-8fc7-6b7b06362ac4.png">

[2019-06-22 19:31] jacine commented on #165
Hi @epowelljr,

This is unrelated to Kickstart. Seems like you’ve created a custom field, for a phone number, and you’re trying insert and invalid value? This type of thing is not something we’re really able to help with here, but you might want to try using the telephone field type that ships with Drupal core (there is a module you can enable).

Thanks,
Jacine

[2019-06-22 20:06] epowelljr commented on #165
Excellent!
Thank you.

[2019-06-22 22:18] jacine commented on #165
You’re welcome! 🙂

[2019-06-22 22:18] #165 closed, assigned to nobody

[2019-06-24 14:19] #163 closed, assigned to nobody

[2019-06-24 14:20] jacine commented on #153
The patch has been committed to Radix and will be in the next release.  Thanks!

[2019-06-24 14:20] #153 closed, assigned to jacine

[2019-06-24 14:21] jacine commented on #128
Adding @arshad to the list of assignees, since he did a ton of work here already.

[2019-06-26 09:49] prophet108 opened #166 "Can I install this on an existing Drupal multisite as a profile without core?"
Can I install this on an existing Drupal multisite as a profile on a standard 8.7 core?

[2019-06-27 17:20] drfuzetto commented on #106
I ran `composer install` and it update autoload.php.  My problem was it couldn't find the vendor folder.

`return require __DIR__ . '/../vendor/autoload.php';`

[2019-06-28 16:46] shadcn commented on #166
Hi @prophet108

If this is a new site on your multisite setup, then you can pull in the kickstart profile and use that to install your new site.

If this is an existing site, you cannot use this profile. You should install the [Apigee Edge](https://www.drupal.org/project/apigee_edge) and [Apigee Monetization](https://www.drupal.org/project/apigee_m10n) modules instead.

`composer require drupal/ap

[2019-07-01 15:15] jacine commented on #116
Just to add a quick update here for anyone looking to get started with Pantheon. The above method of setting things up is not recommended.

## Step 1. Setup a Pantheon Instance via Terminus CLI

If you're looking to setup a Pantheon instance, you'll want to first figure out which setup you desire, from the 2 options below, and follow the guides linked below to get it setup:

1. [Github Pull Reques

[2019-07-01 16:43] jacine opened #172 "Required form fields are not showing asterisk"
**Describe the bug**
A red asterisk should be displayed on required fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/user/register`.
2. See that "First name", "Last name", "Email address" and "Username
 do not show the red asterisk to indicate the field is required.

**Expected behavior**
Red asterisk displays at the right of the form label.

[2019-07-02 13:18] jacine opened #174 "Link color of dropdown menu in Navbar is wrong"
**Describe the bug**
The CSS for the links in the nav is too specific and when using dropdown menus, can cause (depending on the colors you've customized to) the links to be the same color as the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up nested menu items in one of the menus in the navbar (main or user menu)
2. Click the dropdown arrow.
3. Note that the link and back

[2019-07-02 19:43] #172 closed, assigned to nobody

[2019-07-02 20:50] jacine opened #177 "Refresh button on Prepaid Balance page is un-styled"
**Describe the bug**
Refresh button on Prepaid Balance page is un-styled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/user/x/monetization/billing`
2. Notice that the "Refresh" button at the top right of the content is unstyled.

**Expected behavior**
The button should be styled, as secondary style.

**Screenshots**
![prepaid-balance-refresh-button](https://user-images.githubuserc

[2019-07-03 15:50] prophet108 commented on #166
Thanks for your reply. This would be a new site on our multisite setup. I can manually install this profile but Is there a way to add it using composer? The kickstart as-is has some assumptions in the composer.json file that don't work in our Acquia account including:

"installer-paths": {
      "web/core": [
        "type:drupal-core"
      ],

and

"require": {
    "php": "^7.1",

The demo is a

[2019-07-03 22:58] kscheirer opened #178 "Warning: count(): Parameter must be an array or an object that implements Countable"
**Describe the bug**
During profile install, in the initial monetization step, big red warning appears

**To Reproduce**
Steps to reproduce the behavior:
1. Follow https://gist.github.com/jacine/4abe1ddcd94a1bae838a648e5dac4ffa
2. Using browser, begin install
3. Get to `Configure Monetization` step
4. Sometimes seen on `Setup monetization` step instead
5. Unfortunately, this is not consistently re

[2019-07-03 23:03] kscheirer commented on #178
Not sure what the expected behavior should be if the currency call fails. We can avoid the error, but the currency checkboxes wont appear, and the missing settings are an error on the Status Report page. Is it possible for an Org not to have any currencies configured?

[2019-07-08 16:25] jacine opened #179 "Breadcrumb Page title issue on Commerce Order Confirmation page"
**Describe the bug**
The commerce page title block has some weird markup in it that causes it to display poorly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go through the process of purchasing a rate plan.
2. When checkout is complete, note the breadcrumbs on the order confirmation page.

**Expected behavior**
Title should be plain text and appear on a single line with the rest of the b

[2019-07-08 16:27] jacine opened #180 "404 not found issues on log for popper.js.map"
**Describe the bug**
There are 404 errors on the logs for `/profiles/contrib/apigee_devportal_kickstart/themes/custom/apigee_kickstart/assets/js/popper.js.map`

**To Reproduce**
Steps to reproduce the behavior:
1. Install the Kickstart
2. Visit "reports" page
3. Note 404 error(s) for popper.js.map

**Expected behavior**
No 404s.

[2019-07-08 16:59] jacine opened #181 "Close "x" button on messages are mis-aligned when message is longer than single line."
**Describe the bug**
Placement of close button is inconsistent and outside of the box in some cases.

**Expected behavior**
Close button should be aligned at the top right, consistently.

**Screenshots**
It is shown in the error in this screenshot, though the close button actually outside the box when pre tags (i think) are in the message:

![example of single and multiline errors](https://user-im

[2019-07-08 17:07] #174 closed, assigned to nobody

[2019-07-08 17:14] jacine opened #182 "Select elements not displaying icon background image."
**Describe the bug**
At some point the icon background image meant to represent the down arrow on the select elements broke, and no longer display.

**To Reproduce**
Steps to reproduce the behavior:
- Can be seen on /user/x/edit for timezone field
- Can be seen during checkout (when purchasing a rate plan).

**Expected behavior**
Fix it ;)

**Screenshots**
The country and state fields are select e

[2019-07-08 17:14] cnovak commented on #166
I am thinking we can remove both these sections from our composer.json since the [apigee/devportal-kickstart-project-composer](https://github.com/apigee/devportal-kickstart-project-composer) project should have these requirements.  Need to verify.

[2019-07-08 17:16] shadcn commented on #181
This is a Radix issue btw. It was fixed. I'll tag a new release this week.

[2019-07-08 17:18] jacine commented on #181
Nice!!! Thanks @arshad!

[2019-07-08 17:21] shadcn commented on #178
Seems to be an issue when there are no supported currencies. Nice catch @kscheirer. I'll send a PR.

[2019-07-08 17:29] jacine opened #183 "Radio elements not displaying properly."
**Describe the bug**
Radio elements are not displaying properly, and there is no way to tell which is selected.  The CSS background image is broken.

**To Reproduce**
Steps to reproduce the behavior:

Steps to reproduce the behavior:

- Can be seen during checkout (when purchasing a rate plan), in Payment method field when there are more than one.
- Can be seen when cancelling a rate plan, and cho

[2019-07-08 17:50] jacine opened #184 "Commerce Cart Messages are not styled properly"
**Describe the bug**
Not sure if Commerce is hard-coding this, or if it's in a template, or potentially JS theme function, but it's using the core markup, as opposed to the overrides we have in place.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to purchase a rate plan.
2. Go through checkout.
3. Insert a problematic credit card number.
4. See unstyled error.

**Expected behavior**
Me

[2019-07-08 18:26] cnovak commented on #72
Instead of having this issue, we decided to remove the option of not installing default content.

[2019-07-08 19:49] jacine opened #186 "Checkbox elements that contain a description need work"
**Describe the bug**
When a checkbox has a label, description and asterisk, it doesn't look right.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in with a newly created developer account.
2. Click on a rate plan
3. Scroll down to the purchase form.
4. Note that everything is squished together and the asterisk is misplaced.

**Expected behavior**
Asterisk needs to be at the top right of

[2019-07-08 21:33] jacine opened #187 "Fieldset/legend markup needs work"
**Describe the bug**
We might want to stop using the card styles for these?  If not, we need to make sure we don't use `<h4>` or any other markup in or around `<legend>` (it's invalid html).  It's also causing the heading levels to be wrong in some places (checkout).

**To Reproduce**

- Visit rate plan cancellation page (click cancel from purchased plans page)
- Go through the process of purchasi

[2019-07-08 21:38] jacine opened #188 "Table <td> alignment issue noticed on Payment methods page"
**Describe the bug**
`<td>` alignment is inconsistent, I think partially because of `.btn-link` / operations.  I just ran into this somewhere else that I cannot recall ATM, but we should fix this globally if we can.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in and go to "Payment methods" page.
2. Add one or more payment methods.
3. Notice the the `<td>` elements are not aligned con

[2019-07-08 21:43] jacine opened #189 "Make sure the "View Details" button height is consistent"
**Describe the bug**
Button height is not consistent on plans page.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in using mint-d8 org.
2. Click "Pricing & Plans"
3. Notice that the buttons are slightly taller on some plans than others.

**Expected behavior**
They should all be the same height.

**Screenshots**
<img width="1477" alt="Screen Shot 2019-07-08 at 5 41 50 PM" src="https://u

[2019-07-09 07:11] #178 closed, assigned to shadcn

[2019-07-09 12:37] shadcn commented on #184
I have not been able to reproduce this. This is what I see.

![Order_information___Apigee_Inc](https://user-images.githubusercontent.com/124599/60888401-c57ac780-a267-11e9-9c04-eb19c1a5eab8.jpg)

Which payment gateway is selected?

[2019-07-09 13:35] shadcn commented on #188
Looks like commerce is replacing dropbuttons with normal links. See `\Drupal\commerce_payment\PaymentMethodListBuilder::buildOperations`.

We could go back to dropbutton? This looks cleaner but might still need some alignment fixes.

![Payment_methods___Apigee_Inc](https://user-images.githubusercontent.com/124599/60892281-f828be00-a26f-11e9-92ce-15d0be2711db.jpg)

[2019-07-09 13:53] jacine commented on #188
Hmm... 🤔 What do you think the odds of them changing this in the future are?  Looks like this is a standard, rigid entity list, that can barely be manipulated at all, so it may be safe...

I guess another option is NOT to use `.btn-link` and use/create a button style that looks like this, e.g. `btn-tertiary`?

[2019-07-09 14:50] jacine commented on #179
Fixed by #190.

[2019-07-09 14:50] #179 closed, assigned to shadcn

[2019-07-09 14:50] jacine commented on #180
Fixed by #191.

[2019-07-09 14:50] #180 closed, assigned to shadcn

[2019-07-09 14:54] jacine commented on #182
Fixed by #192.

[2019-07-09 14:54] #182 closed, assigned to shadcn

[2019-07-09 14:58] jacine commented on #183
Fixed by #193.

[2019-07-09 14:58] #183 closed, assigned to shadcn

[2019-07-09 15:15] jacine commented on #189
Fixed by #195.

[2019-07-09 15:15] #189 closed, assigned to shadcn

[2019-07-09 15:22] jacine commented on #184
Wow, ok... sorry, this is critical info that I forgot to add!

I'm using "Authorize.net (Accept.js)" plugin via `drupal/commerce_authnet`.    And this is the markup:

[code]

Since I can easily reproduce this, I can take it ;)

[2019-07-09 16:57] jacine opened #196 "Document additional steps configure M10n in Kickstart"
When installing M10n with the Kickstart, the installer takes care of everything it reasonably can, such as configuring the Commerce store, creating some products, and configuring them to work with the Add Credit module.

This saves clients lots of time, and gets you an almost complete setup.  However, it doesn't do everything.  And there are differences when you configure and install the monetizat

[2019-07-10 07:08] prophet108 commented on #166
I am excited about the possibility of being to manage this as a profile with composer. Thank you for your work on this.

Looking at your composer.json file, there are more entries that would need to be removed in order to have it manage only the bare necessities relating to the profile. For example, all of the following which reference the location "web" since Acquia uses "docroot", etc.

"install

[2019-07-10 08:34] shadcn commented on #188
Let's see if we see this again then we can add a new `.btn-tertiary`.

For now, I removed the padding with the buttons. Let me know what you think.

[2019-07-10 13:33] jacine commented on #188
Fixed by #199.

[2019-07-10 13:33] #188 closed, assigned to shadcn

[2019-07-10 13:34] jacine commented on #188
Yes, this works!

[2019-07-10 14:33] jacine commented on #187
Fixed via #194.

[2019-07-10 14:33] #187 closed, assigned to shadcn

[2019-07-10 14:35] jacine commented on #181
Removed the 8.x-1.3 milestone, since this is being fixed in Radix, and will be in the next release.  I'll leave this open until that release happens.

[2019-07-10 14:36] jacine commented on #177
Fixed via #197.

[2019-07-10 14:36] #177 closed, assigned to shadcn

[2019-07-10 14:38] jacine commented on #128
This is fixed by various PRs from @arshad and I.

[2019-07-10 14:38] #128 closed, assigned to jacine, shadcn

[2019-07-10 17:20] shadcn commented on #186
Fixed by #201

[2019-07-10 17:20] #186 closed, assigned to shadcn

[2019-07-11 18:27] #72 closed, assigned to jacine

[2019-07-11 18:53] jacine opened #206 "Update m10n branch blocks to use enforced config"
Relates to #205.  I think there is one more block in that branch that needs this.

[2019-07-11 19:15] jacine opened #207 "Create a Condition plugin to deal with block visibility of the page title block"
Thanks to #205, #72 is technically resolved.  However, because of the block visibility settings on the page title block, some pages don't have a title. The block settings are excluding by path but this is not the best way to do this, since we have so many use cases. It also causes issues when the content isn't there.   If a user doesn't have the demo content installed, they don't see a page title

[2019-07-11 19:40] kscheirer commented on #116
I wrote out some step-by-step directions based on your comment @jacine: https://docs.google.com/document/d/1Rt5Br_7aeakAZAH9NN5Hr8ZyqMvM_se3oLvqRDlkR6w/edit?usp=sharing

It's a little shorter, and using terminus is definitely superior than clicking on the pantheon dashboard.
I think there is a way to automate a few of the steps using scripts, like the ::cut:: in .gitignore, see https://github.com/

[2019-07-12 14:21] jacine commented on #166
I have a PR up for this that could use some additional reviews: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/203

[2019-07-12 14:34] jacine opened #209 "Update Kickstart due to M10n product_bundle entity rename"
Now that https://github.com/apigee/apigee-m10n-drupal/pull/152 is merged, we can make these updates.

[2019-07-12 14:34] jacine opened #210 "Use a separate library for M10n related assets"

[2019-07-12 14:36] jacine opened #211 "Colorizer should not target ::root, not body"
We don't want to change the specificity when we set the color variables.  We just need to ensure the colorizer code is further down in the source order.

[2019-07-15 15:54] jacine opened #213 "Fix issue with Colorizer configuration dependencies."
**Describe the bug**
Configuration import validation fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `drush cex -y` to export update config.
2. Run `drush cim -y` which should validate and tell you there are no pending changes.
3. See error with configuration validation:

[code]

**Expected behavior**
Configuration should import successfully.

[2019-07-15 16:14] jacine commented on #184
This was fixed by #202.

[2019-07-15 16:14] #184 closed, assigned to jacine

[2019-07-15 18:22] #209 closed, assigned to jacine

[2019-07-15 19:13] jacine commented on #166
Fixed by #203.

[2019-07-15 19:13] #166 closed, assigned to jacine

[2019-07-16 12:06] shadcn opened #217 "Optional config from apigee_kickstart theme is no longer imported"
**Describe the bug**
Optional config from `apigee_kickstart` theme is no longer imported on installation (after the m10n merge).

**To Reproduce**
Install the profile with demo content selected.

**Expected behavior**
Optional blocks (titles and CTAs) should be imported.

**Additional context**
There are two issues here:

1. During profile installation, optional dependencies are resolved only once

[2019-07-16 12:11] shadcn opened #219 "Move install tasks from .profile to .install"
`.profile` is loaded on every request. Move install tasks hooks to `.install` instead.

[2019-07-16 12:11] shadcn commented on #213
I added a fix for this in #218

[2019-07-16 13:50] #217 closed, assigned to nobody

[2019-07-16 13:52] #206 closed, assigned to nobody

[2019-07-16 14:08] jacine opened #220 "Add temporary experimental message for m10n in the installer"

[2019-07-16 14:08] jacine commented on #213
Fixed by #217.

[2019-07-16 14:08] #213 closed, assigned to nobody

[2019-07-16 17:13] jacine commented on #109
This is working now.  Here's a working example (tested w/Drush 9):

`drush sql-drop -y; drush si apigee_devportal_kickstart --account-name=admin --account-pass=admin --site-name='SITE NAME' --account-mail='APIGEE_EMAIL' --site-mail='APIGEE_EMAIL' --db-url=mysql://root:root@localhost/DATABASE --uri=https://SITE_URI -y; drush key-save apigee_edge_connection_default '{"auth_type":"basic","organizatio

[2019-07-16 17:19] #109 closed, assigned to nobody

[2019-07-16 18:00] #220 closed, assigned to nobody

[2019-07-16 19:05] jacine commented on #116
FYI, I added a comment on this: https://github.com/pantheon-systems/example-drops-8-composer/issues/156

[2019-07-17 16:01] #219 closed, assigned to shadcn

[2019-07-17 19:46] prophet108 commented on #166
I tested this and it works perfectly! Thank you.

[2019-07-17 21:02] kbrinner opened #225 "'composer quick-start' command fails with 'sh: composer: command not found'"
**Describe the bug**
Attempting to run `composer quick-start` fails with error
[code]

**To Reproduce**
1. Run `composer create-project apigee/devportal-kickstart-project:8.x-dev stock-devportal --stability dev --no-interaction`
2. Change to directory `cd stock-devportal`
3. Attempt to install using quick-start option `composer quick-start`
4. See error
[code]

**Expected behavior**
Drupal install

[2019-07-17 21:23] jacine commented on #225
Hi @kbrinner!

Sounds like `composer create-project...` works just fine, and `composer quick-start` fails? You shouldn't need to run `composer install` if you started with `composer create-project ...` but either way the error you are getting is odd, since composer has clearly installed some dependencies. A couple of things to try:

- I wonder if something went wrong, and not all dependencies down

[2019-07-17 22:12] kscheirer commented on #225
I was not able to reproduce this, but try `composer -vvv quick-start` - it should give more detailed information about which step is failing.

[2019-07-17 22:47] jacine commented on #225
I just realized looking at the screenshot you posted that somehow you don’t have version 8.x-1.3. That read me file was changed and should look like this: https://git.drupalcode.org/project/apigee_devportal_kickstart/tree/8.x-1.3

I would try starting over in a new directory.

[2019-07-18 13:52] jacine opened #226 "Fix exposed filter styles on API Catalog page"
**Describe the bug**
The partial that styles views exposed forms got lost in the m10n merge.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/apis`
2. See filters in the left column do not have a white background, etc.

**Expected behavior**
Add partial back to build, see it styled like in the comps.

**Screenshots**
<img width="458" alt="Screen Shot 2019-07-18 at 9 51 33 AM" src="htt

[2019-07-18 18:41] kbrinner commented on #225
**TL;DR**
I tried re-installing composer per
https://getcomposer.org/doc/00-intro.md#globally
and now it works. Sigh.

If you want more info about other things I tried before re-installing composer, feel free to read on :)
@jacine Thank you for your responses.

In terms of getting the correct version, I followed the instructions in this readme https://git.drupalcode.org/project/apigee_devportal_ki

[2019-07-18 18:41] #225 closed, assigned to nobody

[2019-07-18 18:51] jacine commented on #225
Hey @kbrinner!

Thanks so much for letting us know.  This is great info.

I'm glad you got it working!

Maybe we should specifically recommend a global installation in prerequisites, since Composer docs are a little wishy washy about it, and don't recommend one or the other.  @jbennett13 What do you think?

Jacine 😄

[2019-07-18 22:16] arunz6161 opened #234 "Simulate and document steps to configure SAML with D8P. We have the following docs:"
https://www.chapterthree.com/blog/how-to-configure-simplesamlphp-for-drupal-8-on-acquia

https://www.chapterthree.com/blog/adfs-and-simplesamlphp-drupal

https://www.chapterthree.com/blog/pingone-and-simplesamlphp-drupal

But the ask here is for steps that apply to customers on
1. Pantheon
2. On-prem

[2019-07-19 17:30] kscheirer commented on #234
This should probably go in the Kickstart project instead?

[2019-07-19 18:34] #226 closed, assigned to jacine

[2019-07-19 18:41] #210 closed, assigned to jacine

[2019-07-19 19:38] jacine opened #229 "Fix QuickEdit error on Pricing and Plans page"

[2019-07-20 03:18] #207 closed, assigned to shadcn

[2019-07-20 03:26] jacine opened #231 "Use the new BlockType condition plugin on the Page title block"
Follow up for #208.

We'll need to update the page title config to use the newly created condition plugin. It should be configured to:

- Hide the block if "Title bar block" is present in the same region.
- Update the paths restricted in Pages to reflect (leaving only rate plan pages):

[code]

[2019-07-22 17:00] #229 closed, assigned to jacine

[2019-07-23 11:34] shadcn commented on #116
@jacine @kscheirer Can we close this issue? We can move the instructions from @jacine to a wiki.

@kscheirer you can add your step-by-step directions to the wiki too so people can find it.

[2019-07-23 16:30] jacine opened #232 "Improve Monetization Related Configuration"
In trying to complete #196, I realized there are some things we should improve.

- Potentially make a separate module for `apigee_m10n` vs `apigee_m10n_add_credit`.
- Relocate as much config as possible to Kickstart monetization modules.

[2019-07-23 17:07] jacine opened #233 "Add requirement module to allow easier setup if m10n is enabled after install"
The end result of enabling Monetization in Kickstart is different depending on the way you install it:

- **Site install** (feature complete, highly recommended): Initial Apigee Kickstart installation, when performed in a browser, e.g. `https://localhost/core/install.php`, where Monetization features are configured as one of the installation steps.
  - Feature complete
  - Ability to configure you

[2019-07-23 17:18] jacine commented on #196
#232:  Aims to improve the configuration to capture as much as possible when installing post site-install.
#233:  Contains more details about the difference between installing this via the site installer vs enabling post-install, bullet point num 2 in the issue description.

If we can tackle these two issues, documentation and UX will be a lot easier.

---

In the meantime, I'm working on consolid

[2019-07-23 19:26] shadcn commented on #181
`apigee_kickstart` is overriding the Radix template for alert. I pushed a fix for it in #235

[2019-07-24 13:08] #181 closed, assigned to shadcn

[2019-07-24 16:16] jbennett13 opened #236 "Document process for changing emails generated by the D8 portal"
Document steps for customizing the D8 portal to:
1.  Trigger emails on App creation or approval
2.  Send registration emails

This should be tested to see if steps relevant to an install using the Kickstart distribution differ from D8 Edge documentation.  Docs may be more relevant in the Edge doc guide.

[2019-07-24 16:22] jbennett13 opened #237 "Document the steps for adding custom attributes on Apps"
Document the steps for adding custom attributes on Apps (now fields in Drupal).  Check with Gitesh for more detail.

[2019-07-24 16:23] jbennett13 opened #238 "Document steps to set up social login to the D8 portal"
Document steps to set up social login to the D8 portal.

[2019-07-25 17:13] jacine commented on #232
Here is a list of what we're working with here.

| Source  | Enforcement | Module Override? | Has Dependencies? | Config File                                                                | Module                         |
| ------- | ----------- | ---------------- | ----------------- | :------------------------------------------------------------------------- | ------------------------------ |
|

[2019-07-25 20:33] #211 closed, assigned to shadcn

[2019-07-26 15:27] jacine commented on #196
## Monetization in Kickstart

The Apigee Developer Portal Kickstart features the option to setup and customize Monetization features during site installation. If your Edge organization has monetization features, you'll be presented with the option to install Monetization during the site installation. However, if your organization does not include Monetization features, and you obtain them after se

[2019-07-26 16:14] #196 closed, assigned to jacine

[2019-07-26 16:22] jacine commented on #232
Through testing we've confirmed that none of this configuration can actually be moved.  The code that I was tested with is located here: https://github.com/apigee/apigee-devportal-kickstart-drupal/compare/8.x-1.x...jacine:m10n-cleanup

This will need to be handled as part of #233, if we're able to do that.  Closing.

[2019-07-26 16:22] #232 closed, assigned to jacine, shadcn

[2019-07-26 16:47] jacine commented on #233
Just wanted to note 2 issues found during this analysis that should be resolved here:

- `createPaymentGateway()` is unused should be removed.
- a configuration file is not properly named:

[code]

[2019-07-28 18:52] #231 closed, assigned to jacine

[2019-07-30 17:59] kscheirer commented on #234
Also these docs
- pantheon
  - https://community.apigee.com/articles/29201/sso-integration-with-developer-portal.html
- on-prem
  - https://community.apigee.com/articles/60901/sso-integration-via-saml-with-developer-portal-for.html

[2019-08-01 23:26] cnovak opened #242 "apigee_kickstart_customizer: pasting in color does not change preview color"
**Describe the bug**
When using the color customizer, if you copy in a hex color, the color does not change in the preview box until you reenter the box.

**To Reproduce**
Steps to reproduce the behavior:
1. Open up color customizer
2. Copy a color from footer
3. Paste into header
4. The theme will change, but the color of the textbox does not change.

**Screenshots**
![resnapshot](https://user-im

[2019-08-01 23:28] cnovak opened #243 "apigee_kickstart_customizer: Closing sidebar does not reset colors"
**Describe the bug**
If you close the color sidebar w/out hitting save on the bottom, the color stays w/whatever you were previewing until you reload.

**To Reproduce**
Steps to reproduce the behavior:
1. Open up color customizer
2. Change color of header to red
3. Click "x" to close box (do not save)
4. Header stays red until you refresh page.

**Expected behavior**
Closing sidebar should reset c

[2019-08-02 00:09] kscheirer commented on #234
https://docs.google.com/document/d/1iuTHUTU5rzl7VAk2hnMrBzSdAF2EUcd-32H_X9ECVmA/edit#

Ready for review

[2019-08-02 20:20] shadcn opened #244 "Remove deprecated form alter"
Remove deprecated form alter when https://github.com/apigee/apigee-m10n-drupal/pull/186 is merged

[2019-08-06 20:10] arunz6161 commented on #133
Subtasks have been created - #236 , #237, #238

[2019-08-06 20:10] #133 closed, assigned to jbennett13

[2019-08-07 15:42] arunz6161 opened #245 "Installation Issue and Error configuring connection with SAML enabled edge org"
**Describe the bug**
There are 2 reported problems but ending up with the same error stack. First issue is seen during installation using kickstart ( step- configure site). In other case, the error is upon navigating to home page after updating settings.

![Install_Error](https://user-images.githubusercontent.com/4381612/62636785-11646f00-b8ef-11e9-9480-b3cce869a54c.png)

**To Reproduce**
1. Durin

[2019-08-08 01:35] arlina-espinoza commented on #245
@arunz6161 This seems to be an issue with the endpoint this organization is connecting to, they are not using the default endpoint. I'll keep digging deeper into why it's returning something different.

[2019-08-08 16:40] cnovak commented on #245
I put in apigee/apigee-edge-drupal#250 for the validation of the endpoint not being done.

[2019-08-08 21:01] arunz6161 opened #246 "Documentation Request: Explain the options for "Key provider" under advanced settings"
**Is your feature request related to a problem? Please describe.**
On the Apigee edge connection page, under "Advanced Settings" (admin/config/apigee-edge/settings), there are 5 options on "Key Provider" dropdown. Please document each option.

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
Screenshot below
<img width="340" alt="Scree

[2019-08-08 21:26] giteshk opened #247 "Login using email address or username"
It would be ideal to allow users to login using their email address instead of just the username.

Having to remember one more username is not ideal.

[2019-08-11 16:42] rengan76 opened #248 "Unable to connect SSO Org, Oauth configured with private file. still errors when i click on Apps"
I have configured Oauth2 got the oauth token. our Apigee edge is SSO enabled.  After connection sucuessful. When i click on the APPS. This is what i see always

TypeError: Return value of Drupal\apigee_edge\Entity\Controller\Cache\DeveloperIdCache::getEntityId() must be of the type string, null returned in Drupal\apigee_edge\Entity\Controller\Cache\DeveloperIdCache->getEntityId() (line 40 of C:\xa

[2019-08-12 00:26] rengan76 opened #249 "Unable sync developers from apigee edge to drupal 8"
After OAuth connection successful and got the OAuth.dat token. When try to click on the APPS button errors and when try to sync developers below is the error

An AJAX HTTP error occurred.
HTTP Result Code: 200
Debugging information follows.
Path: /batch?id=5&op=do_nojs&op=do
StatusText: OK
ResponseText:

[2019-08-12 01:04] arunz6161 commented on #248
@rengan76 the problem you are seeing is similar to #245 . As a workaround, could you drop the database and recreate a new and let us know if that helps get around the problem. As per  #245 , the issue is caused because of an invalid value for Apigee MGMT API endpoint.

[2019-08-12 01:05] arunz6161 commented on #249
@rengan76 this issue very likely has the same root cause as #248 . Lets keep this open to see if the issue persists after solving #248

[2019-08-12 09:07] rengan76 commented on #249
Thanks Arun. I did that 20 times.  As i said for me connection success at OAuth. The solution to 245 is not to install database skip the apigee installation and then do the oauth or basic connection on configuration.  But my case is oauth token is there but errors on the apps with entity id.

[2019-08-12 09:40] rengan76 commented on #248
@arunz6161. The connection success with oauth token still the same error with sso enabled apigee  edge. But when i try with my evaluation account on apigee edge everything working good. When it tries to connect to sso enabled apigee edge the problem  exists. But you can say you need proper devportal credentials yes i do have.

[2019-08-12 09:44] rengan76 commented on #248
The 245 issue is different. We can skip the installation and configure it on the admin it works. We can clear flush caches and change db if wanted on the settings.php we can remove the cache config with db settings and change. My case is totally different than 245 case. I bet no one tested with sso enabled apigee edge.  I have tried with evaluation apigee edge connection it works charming.  Someon

[2019-08-12 23:45] arunz6161 commented on #249
Resolved by https://github.com/apigee/apigee-edge-drupal/issues/253

[2019-08-12 23:45] #249 closed, assigned to nobody

[2019-08-12 23:45] arunz6161 commented on #248
Resolved by https://github.com/apigee/apigee-edge-drupal/issues/253

[2019-08-12 23:45] #248 closed, assigned to nobody

[2019-08-14 09:22] shadcn commented on #246
@arunz6161 This functionality is provided by Apigee Edge. Should we fix this in Edge instead?

[2019-08-15 15:40] jbennett13 commented on #234
Docs have been published at https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/integrate-simplesamlphp-authentication

[2019-08-19 19:07] #243 closed, assigned to shadcn

[2019-08-19 19:08] #244 closed, assigned to shadcn

[2019-08-19 19:09] #247 closed, assigned to shadcn

[2019-08-19 19:13] arlina-espinoza commented on #245
Closing, follow up is in [apigee/apigee-edge-drupal#250](https://github.com/apigee/apigee-edge-drupal/issues/250).

[2019-08-19 19:13] #245 closed, assigned to arlina-espinoza, arunz6161

[2019-08-19 21:55] #234 closed, assigned to kscheirer

[2019-08-19 22:21] arunz6161 commented on #246
@arshad you are right. @cnovak has created one in edge : https://github.com/apigee/apigee-edge-drupal/issues/256

[2019-08-19 22:21] #246 closed, assigned to nobody

[2019-08-20 19:46] arlina-espinoza commented on #141
Comments:

- _1. Change the team link in the first column to go /teams/team/apps instead of /teams/team_: Although awkward, the team apps is probably why most people will be looking for on the teams, so landing here makes sense. @arshad Do you have any suggestions regarding _" It might be better to find a way to display these on the View page directly"_?
- _2. Change the Operations Dropbutton to l

[2019-08-21 11:23] shadcn commented on #141
@arlina-espinoza are we implementing these in Kickstart or Apigee Edge?

[2019-08-21 11:24] shadcn commented on #127
I'm doing some work in the Radix base theme to make this easier. I'll comment here when I have some updates.

[2019-08-21 18:55] arlina-espinoza commented on #141
As these are style changes they can be in Kickstart. Thanks @arshad :smiley:

[2019-08-21 20:07] #242 closed, assigned to shadcn

[2019-08-22 00:03] arunz6161 opened #254 "Kickstart install with monetization option errors out"
**Describe the bug**
After you configure a monetized org during kickstart installation through web ( i.e by navigating to core/install.php), kickstart recognizes that the enabled org is monetized and adds monetization configuration steps. But this errors out right away

**To Reproduce**
Steps to reproduce the behavior:
1. Install kickstart by running the following command:
composer create-project

[2019-08-22 17:26] kscheirer opened #255 "Add logo to Customizer"
I use the Customizer frequently, and it's very useful, thanks! I'd like to be able to change the theme's Logo as well from this window.

Currently this is available in the theme settings, it would be convenient to have it right on the customizer as well.

[2019-08-23 20:16] kscheirer commented on #237
- Install Kickstart
- Configuration => Apigee Edge => Apps => Developer Apps, then tab Manage Fields or "/admin/config/apigee-edge/app-settings/developer-apps/fields"
- (+) Add Field
- Follow field configuration steps. click save
- Click "Manage Display" tab
- Click "Collapsible card" sub-tab
- Drag your field from the "Disabled" section into the top section
- Save

The new field will be created a

[2019-08-26 18:10] kscheirer commented on #238
The winning module seems to be "Social Auth" - https://www.drupal.org/project/social_auth. There's a long list of supported auths on the project page - users will have to download one for each service with which they want to integrate.

[2019-08-26 18:50] kscheirer commented on #116
@arshad Which wiki?

[2019-08-26 20:21] kscheirer commented on #238
@giteshk - do you think the 2 flows below are acceptable? They both have some drawbacks.

Social Auth does not change Drupal's user registration process at all - except for the outside auth. Specifically this means it respects registration settings at admin/config/people/accounts. We'll document the options available.

- Visitor - best user flow, your account is provisioned and you are logged in w

[2019-08-26 20:45] giteshk commented on #238
@kscheirer If we can fix the problem with the Apigee module with the social login integration that would work.

The registration flows you are suggesting seem to be similar to what core offers I am not following what the question is.

[2019-08-26 20:52] kscheirer commented on #238
Hmm, it just felt weird. There are some more options available in the 2.x branch to control registration. I think you're right, this is not an issue.

[2019-08-27 18:07] jbennett13 opened #256 "Custom Developer App attributes do not display in App details tab"
**Describe the bug**
If I add a custom attribute to the Developer App entity using the steps below, the field does get added to the App Creation form, as expected.  However, it does not display on the individual app "detail" tab even if content has been entered for the custom attribute field for that app.

Steps to replicate:
- Install Kickstart
- Configuration => Apigee Edge => Apps => Developer

[2019-08-29 19:15] kscheirer commented on #256
Adding a field correctly creates a custom attribute
<img width="1161" alt="Screen Shot 2019-08-29 at 12 11 40 PM" src="https://user-images.githubusercontent.com/283628/63969270-5eeb7c00-ca56-11e9-9012-fbd40abbfe94.png">

Field is automatically added to display
<img width="940" alt="Screen Shot 2019-08-29 at 12 12 04 PM" src="https://user-images.githubusercontent.com/283628/63969307-7165b580-ca56-1

[2019-08-29 19:24] kscheirer commented on #256
@jacine pointed out that the field must be added to the "collapsible card" view mode, then it works fine. So there's no bug, this can be handled with documentation.

[2019-08-29 19:24] #256 closed, assigned to nobody

[2019-08-29 22:53] kscheirer commented on #238
- Install Kickstart
- Download and install https://www.drupal.org/project/social_auth and requires social_api, https://www.drupal.org/project/social_api, and one or more login implementations you'd like to support, such as
  - https://www.drupal.org/project/social_auth_google/
  - https://www.drupal.org/project/social_auth_facebook/
 - Docs are available for each implementation at https://www.drup

[2019-08-30 16:29] kscheirer commented on #236
1. We don't have any Rules support afaik to react to these events, so this would require custom code.

2. You can configure registration emails at "Configure" => "People" => "Account settings" or `/admin/config/people/accounts` in the set of vertical tabs at the bottom.

[2019-08-30 16:57] jacine commented on #255
I don't think this belongs in Customizer, which is literally an API for CSS Variables.

If we want to do this, it should be a separate custom module, and ideally a contrib module, whose sole purpose is to edit theme settings (as a whole) using the **Settings Tray** module.

One thing that would be nice to add in customizer, is the ability to set a max width and height for the logo.  We have defaul

[2019-09-04 00:10] #141 closed, assigned to shadcn

[2019-09-04 18:15] arunz6161 commented on #254
Arun to provide mint org credentials to reproduce the issue.

[2019-09-04 18:45] arunz6161 opened #258 "Naming conventions for REST setup of Drupal 8:"
/entity/developer/{developer}: GET , PATCH, DELETE
/entity/developer: POST

[2019-09-04 23:27] cnovak commented on #116
I also created documentation on [how to install Apigee Kickstart on Pantheon.io](https://gist.github.com/cnovak/38ed1026980b782c886bbd04b8a7f70f) which I used to set up test servers.  Check out pantheon-systems/kickstarter_portal/issues/2 for another option.

[2019-09-09 21:19] arlina-espinoza commented on #254
@arunz6161 I could not replicate the issue with the latest Kickstart, Edge and M10n with the provided organization. However when testing with another of the orgs provided, I did find that if an organization did not have any currencies setup then a similar error would be displayed:

![Screenshot_2019-09-06 Setting up monetization Apigee Developer Portal Kickstart](https://user-images.githubusercont

[2019-09-10 16:41] #254 closed, assigned to arlina-espinoza

[2019-09-10 19:18] giteshk opened #261 "Can we document steps for nginx in the Single Sign-On (SSO) via SAML guide"
The documentations [here](https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/integrate-simplesamlphp-authentication) describes the steps to configure simplesamlphp with Apache.

Could we add instructions for nginx since a lot on-premises customers use it.

[2019-09-11 17:21] kscheirer commented on #261
Basically step 6 from https://community.apigee.com/articles/60901/sso-integration-via-saml-with-developer-portal-for.html:
[code]

The above code is assuming paths used by Apigee OPDK

[2019-09-11 21:45] arunz6161 opened #262 "Theming SmartDocs in Kickstart"
**Is your feature request related to a problem? Please describe.**
One of the feedbacks during demo of "try it now" feature was to ensure that user experience is consistent with rest of the portal. Currently apidocs page appears a little out of place and hence theming efforts are needed to make it consistent with  rest of the portal.

[2019-09-12 15:06] jacine opened #263 "Breadcrumb title template breaks when subtheming"
**Describe the bug**
The template naming scheme we used is theme specific and therefore does not get picked up when using a subtheme.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a subtheme.
2. Enable it as the default theme.
3. Visit a page that shows breadcrumbs, e.g. `/apis`.
4. See incorrectly styled page title in the breadcrumbs.

**Expected behavior**
Breadcrumbs should look

[2019-09-12 16:54] jacine opened #265 "Update the theme's screenshot"
The `screenshot.png` is outdated. It has the older version of the hero. ;)

We should update it.

[2019-09-13 14:53] jacine commented on #127
Just a quick update here.  Still working on this, but wanted to provide a quick update here, and note some of the issues it has spawned.

## Starterkit for creating a subtheme

Support for Drush 9 subtheme generation was recently added to Radix.  Our plan here is to add a simple "starterkit" to the theme, which users will be able to (a) refer to as an example when looking to create a subtheme, and

[2019-09-13 20:39] #263 closed, assigned to jacine

[2019-09-13 20:39] #265 closed, assigned to nobody

[2019-09-17 20:12] jbennett13 commented on #236
Added a few additional details to https://www.drupal.org/docs/8/modules/apigee-edge/configure-developer-registration.

[2019-09-17 20:12] #236 closed, assigned to jbennett13

[2019-09-17 22:57] cnovak commented on #262
The "try it now" functionality is not yet ready. This issue is blocked by apigee/apigee-api-catalog-drupal#29.

[2019-09-19 17:10] rengan76 opened #268 "Unable to retrieve Analytics, Always getting page not found"
I am using kickstart
using composer
<img width="473" alt="pagenot found" src="https://user-images.githubusercontent.com/4405193/65265377-cf7a3b80-dade-11e9-9847-9d28cbc69763.PNG">

After apigee edge connection setup Below are working 1. Apps 2. Products 3. Catalogs
Not working is

Analytics. whenever i search for analytics its showing me page not found. Sometimes its showming me no errors other th

[2019-09-19 23:44] kbielawiec commented on #268
From Salesforce ticket:

The following error is also seen on the site. I was able to reproduce this by reverting to an older version prior to [commit 3e25453 in apigee/apigee-edge-drupal](https://github.com/apigee/apigee-edge-drupal/commit/3e2545350f0abbc0f0a64d0572004eddf775c7e2). I have not been able to reproduce the page not found error.

`Error: Call to undefined method Drupal\apigee_edge\Enti

[2019-09-19 23:50] jbennett13 commented on #116
Should either/both of these docs  (Karl/Jacine's or Chris') be included in our Kickstart doc guide on Drupal.org?

[2019-09-20 10:49] mxr576 commented on #268
Provided some input here: https://github.com/apigee/apigee-edge-drupal/issues/262

[2019-09-20 17:54] arlina-espinoza commented on #268
This is an apigee_edge issue, following up in:
https://github.com/apigee/apigee-edge-drupal/issues/262

:)

[2019-09-20 17:54] #268 closed, assigned to arlina-espinoza

[2019-09-24 19:00] nextagencyio commented on #83
<img width="789" alt="Screen Shot 2019-09-24 at 1 56 35 PM" src="https://user-images.githubusercontent.com/1112449/65541548-2c0c9a80-ded3-11e9-9d0d-95293c71fed1.png">

I am working on mapping out the D7 fields to their D8 counterpart and it looks pretty straightforward. The D7 site is overall much simpler so really the only task would be to remap fields as needed to their D8 counterpart. The stand

[2019-09-30 22:49] jbennett13 commented on #237
Added a few notes to the existing Edge module documentation to highlight 1) that this can configuration can be used to add custom attributes and 2) that the configuration of these fields is in a slightly different place in a Kickstart portal.

[2019-09-30 22:49] #237 closed, assigned to jbennett13

[2019-10-02 14:29] shadcn commented on #83
I created PR #269 with migrations for the entity types that ship with devportal. This should take care of migrating most devportal content.

I'm now looking into a way to allow developers to easily extend these migrations and add custom fields.

[2019-10-02 14:34] nextagencyio commented on #83
Awesome @arshad! I had created a Drupal.org module here but your PR is probably better. This is the code I came up with in case you want to cross-reference: https://git.drupalcode.org/project/migrate_apigee

[2019-10-02 14:51] shadcn commented on #83
@drupalninja Woah nice! I'll take a look at migrate_apigee. Thanks

[2019-10-02 15:01] nextagencyio commented on #83
I think your solution makes sense, if there is anything you can borrow from my module that's helpful great. I plan on deprecating that module in favor of the solution that will eventually get merged into this project. I will have the project page point to the main Apigee Kickstart project.

[2019-10-02 17:37] cnovak opened #270 "Kickstart profile hides actual username, hard to connect to REST API"
## Description
The current release 1.5.0 hides the username from the system, and must autogenerate it in the background.  This makes it very hard to use the [Expose REST APIs to interact with API Docs](https://www.drupal.org/docs/8/modules/apigee-api-catalog/expose-rest-apis-to-interact-with-api-docs#comment-13282168) instructions since the `basic_auth` module uses the username to authenticate.  T

[2019-10-02 17:56] cnovak opened #271 "Recent log messages shows incorrect user"
## Description
Related to #270, the Recent log messages page shows wrong user for anonymous user logs, but detail page shows correct user.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to **Recent log messages**
2. Filter by type **cron**

** Actual Behavior **
The **User** column shows Firstname Lastname (not verified) as the username, which is the unfortunate name by default of t

[2019-10-03 11:48] shadcn commented on #83
@drupalninja Thank you. The PR is ready for review.

I added an example module to the PR. A developer could use this example module as a template on how the default migrations can be extended and how to add custom fields.

[2019-10-04 08:05] shadcn commented on #127
The following are now ready for review:

- [x] [radix] [Task] [Provide a means to rename other additional configuration files](https://www.drupal.org/project/radix/issues/3081166)
- [x] [radix] [Task] [Drush subtheme generator expects the kit to be located in Radix](https://www.drupal.org/project/radix/issues/3081150)

[2019-10-04 18:34] kscheirer commented on #270
Yeah, there's the account `name` vs (`first_name` + `last_name` fields). In some cases we're overriding the templates to display the friendlier "first last". We used to use https://www.drupal.org/project/realname to catch most instances of user name display, I havent evaluated its status for D8.

[2019-10-07 11:59] shadcn commented on #127
This is not done yet. Waiting on https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/272

[2019-10-07 14:43] #127 closed, assigned to jacine, shadcn

[2019-10-09 16:57] cnovak opened #275 "Docs: Move theming documentation to Drupal.org"
After PR #267 gets released, we should move the [sub-theme instructions](https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/6dd58a1e93e9d06536b2c79313a93b863610b0e7/themes/custom/apigee_kickstart/README.md) to the Drupal.org docs.

[2019-10-10 05:44] shadcn commented on #270
@cnovak @kscheirer PR ready for review: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/274

[2019-10-10 17:31] kscheirer commented on #270
This fix looks good, user name field should display user name field :) I notice on the `/admin/people` page, the `Username` column is displaying first+last instead of the typical account name, is that ok @cnovak ?

<img width="1370" alt="Screen Shot 2019-10-10 at 10 29 50 AM" src="https://user-images.githubusercontent.com/283628/66592026-117c2780-eb49-11e9-9771-96b59006fea8.png">

[2019-10-11 17:09] cnovak commented on #270
Nice catch @kscheirer , looking into this.

[2019-10-11 20:21] elibyrd opened #276 "Uninstalling Forum module breaks main menu"
**Describe the bug**
The installation profile adds a Forum link to the main menu that cannot be deleted. If the Forum module is uninstalled, any page that would display this menu link (by default, all non-admin pages) will white screen. The administrative page for whatever menu houses this link (by default, Main Navigation) will also white screen, making it impossible to disable the menu link with

[2019-10-14 17:26] arunz6161 commented on #276
@elibyrd Thanks for logging this bug with relevant information. We will triage this in the next sprint and update soon.

[2019-10-14 23:56] cnovak opened #277 "Add documentation on how to update"
Add to our [profile's documentation](https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart) on how to update modules or Drupal core.

We can link to
* [how to update Drupal core](https://www.drupal.org/docs/8/update/update-core-via-composer) and remind user you need to use `omposer update drupal/core webflo/drupal-core-require-dev "symfony/*" --with-dependencies`
* [how to update

[2019-10-15 20:20] arunz6161 commented on #270
Revisit this after #280 is done and ensure kickstart is not overwriting username.

[2019-10-29 03:55] cnovak opened #278 "App Analytics in Kickstart theme improvements"
**Describe the bug**
The apps analytics screen in Kickstart creates a very small graph even though the screen has plenty of space:

<img width="515" alt="app-analytics" src="https://user-images.githubusercontent.com/613093/67736450-f1f85200-f9c4-11e9-8b47-b1d010f94daa.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an app
2. Click on analytics

**Expected behavior**
The graph opt

[2019-10-30 19:03] #83 closed, assigned to shadcn, arlina-espinoza

[2019-10-31 10:00] shadcn commented on #276
@elibryd we have a fix for this here: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/279. We are going to review this now.

[2019-11-01 18:35] arunz6161 opened #280 "Document migration steps"
Migration tool is ready to be released. We need to document the steps mentioned on https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/269

[2019-11-04 04:18] shadcn commented on #275
PR #267 was merged. This can now be moved to d.o docs. @cnovak @jbennett13

[2019-11-05 05:52] #276 closed, assigned to shadcn

[2019-11-06 20:23] cnovak opened #281 "Exception thrown during installation: Integrity constraint violation"
## Description
When installing the 8.x-1.6, during the installation of demo content a SQL error occurs: ` SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '1' for key 'PRIMARY': INSERT INTO {menu_link_content}`

## Steps to reproduce
Steps to reproduce the behavior:
1. Install 8.x-1.6
2. During installation, select checkbox to install demo content

### Expected behavior
System

[2019-11-06 20:29] cnovak commented on #281
Looks like the forum menu has already put in ID 1, here is `menu_link_content_field_revision` table:

| id | revision\_id | langcode | enabled | title | description | link\_\_uri | link\_\_title | link\_\_options | external | changed | default\_langcode | revision\_translation\_affected |
| :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |
| 1 | 1 | en | 1

[2019-11-06 20:49] cnovak opened #282 ""Enable demo content" screen is unreadable in black"
**Describe the bug**
<img width="942" alt="Screen Shot 2019-11-06 at 12 45 16 PM" src="https://user-images.githubusercontent.com/613093/68336718-d0b5f680-0093-11ea-8997-ef769ec992f7.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Run through install process

**Version Info**
8.x-1.x and some versions lower

[2019-11-06 23:41] jbennett13 opened #283 "DOCS: Add documentation re supported browsers for Kickstart theme"
The Kickstart theme is based on Radix.  Add some information to the docs about browser support for the Kickstart theme.

From Arshad:  "So Drupal has a list of supported browsers here: https://www.drupal.org/docs/8/system-requirements/browser-requirements. Most contrib modules and themes try to support same.

For Radix, because it makes heavy use of Bootstrap, we support only the browsers that Boo

[2019-11-07 01:34] cnovak commented on #281
You can workaround this issue by installing last version:
[code]

If you need to start over, you can clear the database and then the installer will run again when you hit the site in your browser:

[code]

[2019-11-07 01:57] kford commented on #281
Confirming I see this same behavior

[2019-11-07 01:57] kford commented on #282
Confirming same as of today

[2019-11-07 04:27] cnovak commented on #281
Release 1.7 will be out shortly

[2019-11-07 04:29] #281 closed, assigned to nobody

[2019-11-07 04:31] shadcn commented on #282
I just started seeing this too. This is happening on the monetization step for me.

[2019-11-08 23:43] kiranjyoth commented on #116
@cnovak @jacine @kscheirer I have created a repo for installation on pantheon. I have tested this template and it works as expected. https://github.com/stratus-meridian/apigee-kickstart-drupal8-drops
Please let me know how it works for you.

[2019-11-11 19:18] cnovak commented on #116
That is great to see @kiranjyoth, thanks!

[2019-11-11 19:25] cnovak commented on #116
@jbennett13 I am not sure - Pantheon seemed to want people to request a demo site by clicking in "Free Consultation" button at the bottom of [this Pantheon created page about Apigee/Pantheon partnership](https://pantheon.io/product/apigee-pantheon-partnership). However I put together instructions so it is easier to setup a testing/development/eval site for myself since I need to have more control

[2019-11-18 21:25] arunz6161 opened #286 "API Doc / Products appear twice based on tagging"
**Describe the bug**
On the /apis page, when filtering by categories, if a API doc is tagged more than once and same selections are made on filtering, it will result in the API doc showing up more than once in the results. Refer screenshot for clarity.

![api_category](https://user-images.githubusercontent.com/4381612/69095071-722f3780-0a06-11ea-8a41-11092c2644d6.png)

**To Reproduce**
Steps to re

[2019-11-20 07:10] shadcn opened #287 "Display expired credentials"
PR https://github.com/apigee/apigee-edge-drupal/pull/290 was merged. We need to update kickstart to show expired credentials on the Apps listing page.

See also https://github.com/apigee/apigee-edge-drupal/issues/156

[2019-11-20 21:55] arlina-espinoza commented on #287
@arshad Would a fix for this require a new release of `apigee_edge` module that includes https://github.com/apigee/apigee-edge-drupal/pull/290?

[2019-11-22 07:04] shadcn commented on #287
@arlina-espinoza Yes. This depends on https://github.com/apigee/apigee-edge-drupal/pull/290

[2019-11-25 07:22] #286 closed, assigned to shadcn

[2019-11-27 19:12] kiranjyoth opened #289 "Search results not showing API docs"
**Describe the bug**
API Docs from API Catalog entity are not indexed by core search.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of Apigee Developer portal Kickstart
2. Click on 'search input'
3. Add keyword 'payment'
3. Perform search
4. Results not showing the API docs for the keyword payment

**Expected behavior**
When performing global search, results should also inclu

[2019-12-06 19:52] arlina-espinoza opened #291 "Verify compatibility with Drupal 8.8.0"
Drupal core 8.8.0 was released on 12/04. We should check for compatibility with it, and work all the possible config changes from the standard profile into the kickstart config, and re-export default content.
Note: from reading the release notes, it sounds like the admin media config (views) has probably changed, for example.

[2019-12-09 06:25] #287 closed, assigned to shadcn

[2019-12-09 06:25] #282 closed, assigned to nobody

[2019-12-10 17:54] shadcn commented on #291
Thanks @arlina-espinoza I'm going to start looking into this.

[2019-12-11 22:12] cnovak opened #292 "Admin Toolbar 1.x is unsupported"
**Describe the bug**
Admin Toolbar 1.x is unsupported

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Reports > Available updates
2. View message about Admin Toolbar:

<img width="1145" alt="Screen Shot 2019-12-11 at 2 10 16 PM" src="https://user-images.githubusercontent.com/613093/70664854-1da36480-1c20-11ea-9c60-dc4ea1565d6a.png">

**Version Info**
Kickstart 8.x-1.7

[2019-12-12 18:04] #292 closed, assigned to shadcn

[2019-12-13 00:36] cnovak opened #295 "Drupal 8.8.0: Warning message about media module image style"
**Describe the bug**
On the status page as of Drupal 8.8.0, there is a warning message saying:

Can we fix this for users automagically, or at least document what image style to use?

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade Kickstart to Drupal core 8.8.0 using Apigee Edge PR https://github.com/apigee/apigee-edge-drupal/pull/305
2. Go to **Reports > Status report** in admin too

[2019-12-13 00:37] cnovak commented on #291
Need to also look into #295 to close this issue.

[2019-12-16 07:16] shadcn commented on #233
We are moving this to the module. See https://github.com/apigee/apigee-m10n-drupal/issues/190

[2019-12-17 19:25] robinvaughan opened #296 "Apigee Developer portal kick start not displayed correctly in IE 10 or IE 11 (With default Kick start theme enabled)"
**Describe the bug**

I have followed the exact steps listed as below -

Once the set up was installed I can see the default "Apigee Kickstart 8.7.10 (default theme)" is enabled with few default demo contents. The theme is rendered correctly and show the demo contents on Mozilla and Chrome but on IE 10 and IE 11 the contents are not getting rendered correctly.

**To Reproduce**
Steps to reproduce

[2019-12-17 19:28] robinvaughan commented on #296
I still can not believe that such an awesome distribution can have such a kind of Bug for IE 11, not sure if I am missing some action which needs to be taken that would in turn fix the theme layout issue on Internet explorer but if any one can help me on that it would be very helpful and deeply appreciated.

The thing is the default theme - "Apigee Kickstart 8.7.10 " works fine on Mozilla , chrome

[2019-12-17 19:38] robinvaughan commented on #296
I again installed one more Fresh APIGEE Drupal kick start distribution with No Demo contents this time using Composer and just default configurations after that this is what I can see on Mozilla -

![image](https://user-images.githubusercontent.com/22614059/71028154-c1b27180-2132-11ea-9e4e-3736b4dc2fba.png)

And this is how the home page gets rendered in IE 11 -

![image](https://user-images.githu

[2019-12-19 08:09] shadcn commented on #296
@robinvaughan I created a PR here for IE 11 support. Can you test and let me know if this works?

[2019-12-19 10:16] robinvaughan commented on #296
Hello @arshad ,

Thanks a ton for your help on this. Well on IE 11 its looking almost perfect now. Let me tell you what I have done to start with .. I have copied and replaced this folder - "themes/custom/apigee_kickstart" at my local set up with the one from your Branch - https://github.com/arshad/apigee-devportal-kickstart-drupal/tree/296-add-ie11-ponyfill

After that I cleared the cache. I test

[2019-12-19 10:28] robinvaughan commented on #296
Another thing I noticed is when I login as Admin on Local vanilla kick start portal with your new changes. I can see that the old issue again pops out in both IE 10 and IE 11 with CSS and JS aggregator switched on as below -

![image](https://user-images.githubusercontent.com/22614059/71165787-7b1a5f80-2277-11ea-8e37-99aa5692242d.png)

Once the CSS and JS aggregator are checked I see the Home page

[2019-12-19 13:29] shadcn commented on #296
@robinvaughan Thanks for the detailed write-up. I'm going to look into the aggregation issue.

[2019-12-19 13:45] robinvaughan commented on #296
@arshad .. are you also facing the aggregation issue at your end when you login as Admin on vanilla Kickstart distribution with you new changes on IE 10 and IE 11?

[2019-12-19 15:27] shadcn commented on #296
@robinvaughan Yes. I've been able to reproduce it. I'm looking into it now.

[2019-12-19 16:10] shadcn commented on #296
@robinvaughan OK fixed it. You can test again. This should also take care of the APIs page as well.

![Dashboard](https://user-images.githubusercontent.com/124599/71188876-399bab80-229b-11ea-9d9f-5389bf2c66f7.jpg)

[2019-12-19 16:23] cnovak commented on #291
The instructions for upgrading to Drupal core 8.8.0 has been updated w/more clear instructions:

This means we do not have to worry about people needing to upgrade to pathauto 1.6 , and in a separate step upgrading to Drupal 8.8.0 any more.

[2019-12-19 17:28] m-khan23 opened #397 "css does not respect Apigee Kickstart color scheming"
Try it now functionality comes with its own scheme of colors (pink - #f44336) going against the Drupal theme colors. There is no option to adjust this either. It should be 'color:  var(--ak-accent-color)' or some variation of this

[2019-12-19 17:33] earth2marsh commented on #296
Just a note based on the topic... **IE10 support is not in scope** for this project as Microsoft's support window is closing in Jan, 2020: https://support.microsoft.com/en-us/help/4488955/support-ending-for-internet-explorer-10

Drupal itself dropped support with 8.4.x: https://www.drupal.org/node/2897971

[2019-12-21 06:48] robinvaughan commented on #296
Hello @arshad, I tested again today and Yes this issue related to CSS/JS not working on IE 11/10 when user logs in with Admin Account and CSS/JS aggregation is turned on is - FIXED.

Thanks again for your fix.

How ever the API page still DO NOT show up correctly in IE 11 as you can see below -

![image](https://user-images.githubusercontent.com/22614059/71304297-cd2fc200-23ea-11ea-85f5-bf368d1df6

[2019-12-23 11:28] robinvaughan commented on #296
Hello @arshad,

Just a small update. If I add this one line in the file you see below -

![image](https://user-images.githubusercontent.com/22614059/71355462-1d528400-25a5-11ea-9ecd-2d2cb1bf2875.png)

The API's listing page comes fine on IE 11 as you can see below -

![image](https://user-images.githubusercontent.com/22614059/71355524-5c80d500-25a5-11ea-95bf-c01861fc61fd.png)

Having done that we

[2020-01-06 19:29] arlina-espinoza commented on #295
I'm thinking perhaps just a configuration export from 8.8.0 would fix it, but we'd need to test.

[2020-01-06 20:20] arlina-espinoza commented on #295
Note: We are using image styles/responsive images via View modes for everything, even hero images, so technically that warning isn’t actually a problem. So, we can basically do the same thing core did, to set the default display to use Large, and that should fix it.
(Thanks to @jacine!)

[2020-01-07 06:25] mrdhanasekaran89 opened #298 "Search is not working for Entity types (API Docs)"
Hi Team,

When we search API doc items in Search form, its not displaying search result from API doc.

How to Reproduce:
----------------------
1. Go to Apigee portal, Enter the keyword which is the title/description of any API doc and click Enter.
2. Search result will display in a page. But this result is not having API doc items.

Expected behavior:
----------------------
Search should pull con

[2020-01-07 13:14] shadcn commented on #298
@mrdhanasekaran89 this is a duplicate of https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/289. I'm going to close this one in favor of the older. Let's track this issue over there.

Thank you.

[2020-01-07 13:14] #298 closed, assigned to giteshk

[2020-01-07 13:19] shadcn commented on #289
@kiranjyoth The default search shipped with Kickstart indexes Node entity types only. AFAIK there's no immediate plan to support search for custom entities out of the box.

Suggestion: The [Search API](https://www.drupal.org/project/search_api) module might help with this.

[2020-01-07 20:07] kiranjyoth commented on #289
@arshad Thanks! We've are using Search API for now and it works as needed.

[2020-01-07 23:14] arunz6161 opened #299 "Why Apigee Kickstart custom theme 8.7.6 not highlighting the form fields with Red color upon custom or Default validation error?"
**Describe the bug**
Originally posted on Apigee community: https://community.apigee.com/questions/78019/why-apigee-kickstart-custom-theme-876-not-highligh.html

------------------------------------------------
I am working on Drupal 8 Developer portal, and I have enabled Apigee Kickstart 8.7.6 theme.

I have altered the user registration form by adding some custom fields and also I have added som

[2020-01-08 01:31] #289 closed, assigned to nobody

[2020-01-09 08:24] shadcn commented on #296
@robinvaughan This worked. I added the fix. We're going to merge the PR and create a new release soon. Thank you for your help testing this. IE support is a big win.

[2020-01-09 09:46] shadcn commented on #299
@arunz6161 I pushed a fix for this https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/301

This can be part of the 8.x-1.9 release.

[2020-01-09 13:44] robinvaughan commented on #296
Thanks a lot @arshad ! :)

[2020-01-09 18:13] #295 closed, assigned to shadcn

[2020-01-09 18:13] #296 closed, assigned to shadcn

[2020-01-09 18:16] shadcn commented on #291
This is done. Just need a new release now.

[2020-01-09 18:16] #291 closed, assigned to shadcn

[2020-01-09 18:46] #299 closed, assigned to shadcn

[2020-01-13 11:21] presfer commented on #116
Hi to all. Earlier, when it was Apigee KickStart 8.x-1.7, your instruction works fine, without any issues. But now, with 8.x-1.9, i get an error during installation all dependencies. Please, i need advise to resolve it.
![composer_issue](https://user-images.githubusercontent.com/40182537/72252232-9757b500-3607-11ea-90dc-8105254b6f18.JPG)

[2020-01-13 11:32] shadcn commented on #116
@presfer `apigee/devportal-kickstart-project` is a project template. You should use it with `composer create-project`. Example:

`composer create-project apigee/devportal-kickstart-project:8.x-dev SITE_NAME --no-interaction`

[2020-01-13 12:02] presfer commented on #116
@arshad, i need to add apigee kickstart project to Pantheon, thats why i trying to install all dependencies, based on instruction by @kscheirer.
![composer_issue_2](https://user-images.githubusercontent.com/40182537/72254607-46e35600-360d-11ea-8e20-0a9637a20e55.JPG)

[2020-01-13 16:57] shadcn commented on #116
@presfer is this a new or existing site?

[2020-01-14 09:35] presfer commented on #116
@arshad
It's a new one.

I found a photo of my installation in the past, it was 29.11.19 and it was Apigee_KickStart 8.x-1.7(everything is fine, but now i have an issue during installation)
![composer_issue_3](https://user-images.githubusercontent.com/40182537/72332738-3a213980-36c3-11ea-9715-698c35d52f64.JPG)

[2020-01-16 06:20] shadcn opened #302 "Add tests to Kickstart"
Add tests for more reliable core upgrades.

[2020-01-16 07:50] shadcn commented on #233
This is now all handled in the contrib modules (see apigee/apigee-m10n-drupal#190). I'm going to close this issue. Feel free to reopen if not fixed.

[2020-01-16 07:50] #233 closed, assigned to shadcn

[2020-01-17 22:56] cnovak commented on #116
@presfer I know that you can contact Pantheon and they can help you get a site up and running, just fill out the form at the end of the [Apigee Pantheon Partnership page](https://pantheon.io/product/apigee-pantheon-partnership).  They have a Kickstart upstream they will use to keep you site up to date.

I am not sure about @kscheirer 's doc above, maybe it no longer works? @kscheirer have you trie

[2020-01-19 15:13] cnovak opened #303 "Remove “Experimental” wording from m10n"
Task to revert #220, removing “Experimental” wording from Monetization installer.

https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/768e0540ce5f2d212023a2930571393f32961491/src/Installer/Form/ApigeeMonetizationConfigurationForm.php#L160

[2020-01-21 23:37] arunz6161 commented on #397
@m-khan23 - Are you using kickstart ? If yes, we will move this over to kickstart queue and work it there.

[2020-01-24 17:56] kbielawiec opened #304 "Install error on aws EC2 with php 7.3"
Receiving the following error when installing kickstart on aws EC2 with php 7.3

`[devportal www]$ php composer.phar create-project apigee/devportal-kickstart-proje ct:8.x-dev devportal --no-interaction
Installing apigee/devportal-kickstart-project (8.x-dev 6266932b07abe4c23a746a7e9414c2fcf536bee9)
- Installing apigee/devportal-kickstart-project (8.x-dev 6266932): Cloning 6266932b07
Created projec

[2020-01-27 05:08] shadcn commented on #304
@kbielawiec It looks like you're missing `mbstring`. Can you run `php -m` and check if you have `mbstring` extension enabled?

![php-mbstring](https://user-images.githubusercontent.com/124599/73151385-7e113700-40e4-11ea-915d-29046c458ab2.gif)

[2020-01-27 16:36] cnovak commented on #304
If you are missing mbstring, you should be able to use Yum to install: `sudo yum install php-mbstring`

[2020-01-27 19:29] kscheirer commented on #304
It does look like mbstring and bcmath extensions are missing. But from the above, it looks like `sudo yum install ... php7.3-mbstring ...` was executed, which *should* install mbstring. Could be that they need to be enabled manually in php.ini.

You could also add them to composer.json, like https://github.com/thephpleague/climate/pull/110/files. I think that should work as well, but did not test

[2020-01-29 00:38] cnovak commented on #304
Missed that @kscheirer, but the Yum command listed above seems to be inside the output of composer. @kbielawiec make sure/confirm that:
1. mbstring is installed on your system via Yum
2. `php -m` command @arshad listed above displays mbstring

If #2 does not verify mbstring extension is not installed in PHP, make sure to enable the extension To enable extensions, verify that they are enabled in yo

[2020-01-29 00:41] cnovak commented on #262
"Try it now" functionality is now available. Since the SmartDocs OpenAPI spec renderer is a separate application written in Angular, I believe we will need to create an example stylesheet to help users target the proper CSS in that app.

[2020-01-29 00:42] cnovak commented on #262
Related to https://github.com/apigee/apigee-api-catalog-drupal/issues/64

[2020-01-29 01:11] cnovak commented on #397
@m-khan23 can you explain what Drupal theme colors you are comparing the "try it now" colors? The reason is that SmartDocs OpenAPI spec renderer is created in Angular, which we are embedding into Drupal. I believe you are saying that the color scheme should match the default of the Kickstart theme and also be easily adjustable. Is that correct?

[2020-01-29 01:13] cnovak commented on #116
I am going to close this issue for now, since Pantheon.io has it's [preferred approach of setting up a Kickstart site](https://pantheon.io/product/apigee-pantheon-partnership).

Comment on ticket if something is missing.

[2020-01-29 01:13] #116 closed, assigned to nobody

[2020-01-30 22:06] m-khan23 commented on #397
Yes that is correct. In other words, out of the box, I would expect the theme to respect var(--ak-accent-color) and var(--ak-accent-color-light) - makes for a good experience.

I made the following overrides (a bit wonky) but they get the job done:

/* 12/18/19 --> Start of addition (Mohammad) */

.mat-toolbar.mat-primary {
    background: #eaeaea !important;
    color: white !important;
}

.mat-f

[2020-01-30 22:27] m-khan23 commented on #397
Sorry, I just realized I wrote 'Drupal' instead of 'Apigee Kickstart'.

[2020-01-30 23:00] cnovak opened #305 "Add warning for Edge connection being saved in db config"
The Apigee Edge connection settings when installing Kickstart are stored in the database, which is not very secure.

A warning should be posted with a link to more information on securing Edge credentials. We talk about the [different key providers and the relative security](https://www.drupal.org/docs/8/modules/apigee-edge/configure-the-connection-to-apigee-edge#s-key-provider-security), but may

[2020-01-31 00:09] cnovak opened #306 ""Add credit" configuration in installer is named "Enable prepaid balance top up""
## Description
The Kickstart installer when installing monetization has a checkbox that says "Enable prepaid balance top up", which is confusing since it is enabling the "Apigee Monetization Add Credit" module.

## Steps to reproduce
Steps to reproduce the behavior:
1. Run the kickstart installer on a monetized org
2. View screen on the "Configure monetization" step

**Expected behavior**
I would

[2020-01-31 01:01] cnovak opened #307 "Error installing Kickstart: Call to a member function getCurrencyCode() on null"
During installation of Kickstart on a monetized organization, the following error screen was shown:

<img width="1024" alt="install-error" src="https://user-images.githubusercontent.com/613093/73503266-a74df380-4380-11ea-9d2a-64e8d7f38862.png">

The error that occurred is not clear from the screen. However, I ran `drush ws` and go the following messages:

[code]

This error is coming from Apigee E

[2020-01-31 01:37] cnovak opened #308 "Runtime Exception when going to Reports > Status Report"
##  Description
After installation, going to `/admin/reports/status` shows the following error:

The website encountered an unexpected error. Please try again later.

# Steps to Reproduce
This may be hard to reproduce since I have been installing many times, and am now getting this error every time I run installer, but was not happening earlier.

1. Install Kickstart on a monetized org
2. Go to Re

[2020-01-31 01:44] cnovak commented on #308
I can uninstall the add credit module and this error no longer happens on the reports page. I can then reinstall apigee_m10n_add_credit module, no issues in log, but the runtime exception on reports page shows up again.

[2020-01-31 17:49] cnovak opened #309 "Monetization setup is not completed in Kickstart installation"
# Description

When installing Kickstart, you can enable prepaid balance topup if it is a monetization enabled org:

<img width="716" alt="kickstart-install-configure-m10n" src="https://user-images.githubusercontent.com/613093/73500837-a7e28c00-4378-11ea-8b8e-f025fff86f4b.png">

Once installed, the prepaid balances still does not show up on the balances page until you go to the requirements module

[2020-02-01 00:48] cnovak opened #310 "Document Kickstart having monetization added"
Kickstart will now install monetization if you use a monetized enabled org. However, there isn't any documentation about this.

If you have a monetization enabled org, when you install Kickstart it will ask if you want to install Monetization.

[2020-02-03 05:24] shadcn commented on #309
Hmm it looks like there's a regression somewhere. Step 1, 2 and 3 are definitely covered in the installation.

See https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/8.x-1.x/apigee_devportal_kickstart.install#L128

Step 4 should be easy to add. Step 5 will require a bit more work.

[2020-02-03 05:35] shadcn commented on #310
Here's a start https://www.drupal.org/docs/8/modules/apigee-monetization/enable-the-apigee-monetization-add-credit-module#step-1-install-the-required-monetization-and-commerce-modules

[2020-02-03 05:35] shadcn commented on #307
Looking into this. Assigned.

[2020-02-04 05:49] giteshk opened #311 "Reduce the size of the default images for the content created during install process"
The images used on the content created during the install process are huge.
We should reduce the size of these files.

nasa-89116-unsplash.jpg is 6 MB

These sizes are causing the image styles to fail at times, especially on local machine which has memory_limit set to 128M

[2020-02-04 12:10] shadcn commented on #308
@cnovak Do you still have the full error log somewhere? Wondering if `commerce_store` installation failed somehow?

Might need to make `commerce_store` a hard dependency in `apigee_m10n_add_credit`:

https://github.com/apigee/apigee-m10n-drupal/blob/e5c2b5383b452f470ca25cd215ee7f5e92c9dfa7/modules/apigee_m10n_add_credit/apigee_m10n_add_credit.info.yml#L7-L16

[2020-02-04 17:11] jbennett13 commented on #283
Draft in progress.

[2020-02-04 17:12] jbennett13 commented on #238
Draft almost complete.

[2020-02-04 19:28] arunz6161 commented on #311
@giteshk can we consider increasing memory_limit ? We fear that making this change might result in a poor demo experience for others using different screens.

[2020-02-04 19:57] cnovak commented on #309
We don't need to automate step5, just add a note in the installer telling user they will need to configure a payment gateway w/a link to our docs.   In Drupal 7 if you did not install a payment gateway the system would still work FYI, just had no way to charge the user. Would be good to see how system behaves w/out payment gateway configured to make sure system does not crash, etc.

[2020-02-04 20:10] giteshk commented on #311
@arunz6161 totally agree we want to the experience to be good. But a 5 MB image file is a bit much.

Direction is find a good happy medium. :)

[2020-02-05 05:34] #306 closed, assigned to shadcn

[2020-02-05 05:37] #303 closed, assigned to shadcn

[2020-02-06 23:20] cnovak opened #316 "Avatar used for users is fuzzy"
If you go to `/forum/security-tokens-documentation` the avatar looks lo res, can we put a better one in?
<img width="660" alt="avatar" src="https://user-images.githubusercontent.com/613093/73987092-2f3d7b80-48f4-11ea-8ac6-6588c8a09459.png">

[2020-02-06 23:36] cnovak opened #317 "Responsive Image styles do not use Kickstart breakpoints"
# Description
I was looking at the responsive image styles and the images are set up to use responsive image breakpoints instead of Kickstart breakpoints. Is this configuration correct?

<img width="636" alt="responsive-image-config" src="https://user-images.githubusercontent.com/613093/73988067-6f9df900-48f6-11ea-8866-53caf0edef50.png">

[2020-02-06 23:50] cnovak commented on #310
I updated the issue to be more clear - this issue is to update the Kickstart project page (maybe) and documentation so that it is clear that Kickstart can enable monetization for you.

Things to document:

1. Need to make it clear that Kickstart can set up monetization for you. I talked to someone that did not realize this feature is part of Kickstart. Might be good to mention on project page summ

[2020-02-06 23:50] cnovak commented on #310
@arshad can you give details on the logic in Kickstart install for question #2 above?

[2020-02-07 02:04] jacine commented on #317
Hey @cnovak! 👋

This was an intentional choice. We don’t need the theme breakpoints, but I left them in case anyone extending might want to use them from a sub theme (potentially with `picture`), but we’re using the `srcset` method, which is defined by the core module (like in your screenshot).  We could define 1x and 2x in the theme (that’s all that would end up there given we are using srcset),

[2020-02-07 02:09] jacine commented on #317
Notes, just in case: https://gist.github.com/jacine/cb11830d71f93f3c4d178eddc2cf4ab8

[2020-02-07 23:40] cnovak commented on #308
Here is the whole log: [full-watchdog.log.txt](https://github.com/apigee/apigee-devportal-kickstart-drupal/files/4173360/full-watchdog.log.txt)

[2020-02-11 17:02] cnovak commented on #311
@arshad make sure to check out @jacine 's notes on this: https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/317#issuecomment-583201184

[2020-02-11 17:04] cnovak commented on #317
Thanks @jacine for detailed answer, I was expecting this was done on purpose, glad I made sure and got a good explanation in case others look into this.

[2020-02-11 17:04] #317 closed, assigned to nobody

[2020-02-11 18:33] giteshk opened #318 "Installation scripts for Apigee Kickstart for private cloud"
**Is your feature request related to a problem? Please describe.**
To install the Apigee kickstart on private cloud install today we have to manually follow through a huge list of steps documented [here](https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/use-kickstart-with-apigee-edge-for-private-cloud)

There is always a possibility of human error.

**Describe the solution yo

[2020-02-12 07:33] shadcn commented on #311
Thanks @jacine that was really helpful.

So based on the notes here (https://gist.github.com/jacine/cb11830d71f93f3c4d178eddc2cf4ab8) I think we should keep the hero images as is but we can resize the cards and articles ones (nasa pictures).

Right now they are 5k+px wide (we have one at 8k+) and the largest we use is at 2190px for a 3x screen.

[2020-02-12 07:43] shadcn commented on #308
@cnovak hmm I still cannot reproduce this. This is happening with the latest dev? I'm on `8.x-1.x` for `apigee_edge`, `apigee_m10n` and `apigee_devportal_kickstart`.

I'll check if @arlina-espinoza can reproduce this.

[2020-02-12 07:47] shadcn commented on #305
@cnovak Any suggestion on how we should phrase it?

Right now the message on the installation reads: `Note: Your connection settings are going to be saved in Drupal's configuration system. If you wish to do this later or <a href="https://www.drupal.org/docs/8/modules/apigee-edge/configure-the-connection-to-apigee-edge" target="_blank">use a different key provider</a>, you may skip this step.`

It'

[2020-02-12 09:00] shadcn commented on #309
@cnovak I just ran an installation again to check this and Step 1 to 4 is covered by kickstart. The "Add to Cart form display" is handle via config here: `https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/8.x-1.x/modules/custom/apigee_kickstart_m10n_add_credit/config/install/core.entity_form_display.commerce_order_item.add_credit.add_to_cart.yml`

As for the payment gateway, you nee

[2020-02-12 09:23] shadcn commented on #310
If you want to set up **monetization only**, you need:

1. A monetized organization (this is determined automatically during Kickstart installation based on the connection information provided). If Kickstart finds a monetized organization during installation it will prompt if you want to enable monetization.

If you want **monetization** and **add credit**, you need:
1. A monetized organization.
2

[2020-02-13 16:48] cnovak commented on #305
How about:

[2020-02-13 17:27] jbennett13 commented on #305
Slight tweak:  Edge connection settings are stored in Drupal’s configuration system, which is not designed to store sensitive information.  When installing Kickstart for uses other than local development, we highly recommend changing the Apigee Edge connection key provider to a more secure storage location.  [Learn more](https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/apige

[2020-02-17 17:39] nextagencyio opened #319 ""Unable to install Apigee Kickstart Monetization due to unmet dependencies: field.field.commerce_product.add_credit.stores (field.storage.commerce_product.stores), field.field.commerce_product.add_credit.variations (field.storage.commerce_product.variations)" error"
I have the D8 distro installed with Apigee Edge configured. When I try to enable the "Apigee Kickstart Monetization" experimental feature I get the following warning:

"Unable to install Apigee Kickstart Monetization due to unmet dependencies: field.field.commerce_product.add_credit.stores (field.storage.commerce_product.stores), field.field.commerce_product.add_credit.variations (field.storage.co

[2020-02-19 15:10] nextagencyio opened #320 "Monetization mock API or dummy data for demonstration"
One thing is that is a challenge is that without the monetization add-on you cannot demo the distro's monetization features. The developer sandbox accounts do not include this add-on. It seems like it might not be too bad to have a mock setting just so that you could demonstrate the workflow. I could help with this if I could have example API responses we would need to mock in order to achieve thi

[2020-02-20 16:09] pradeepgorle13 opened #321 "OnPrem Solution - Wanted to have the list of Plugins or the dependencies for validation"
Hi Team,

We are planning to migrate from Drupal 7 to Drupal 8 using the apigee-devportal-kickstart-drupal. We will not be given access for the external internet. Even so, We will be given a proxy opening for a single endpoint(website) to collect the dependencies.
My request is
1. Can you please provide the list of modules/dependencies/libraries for the installation, So that I can keep it in front

[2020-02-21 08:30] #307 closed, assigned to shadcn

[2020-02-21 15:50] shadcn commented on #321
@pradeepgorle13

1. You can see a list of dependencies in the `composer.json` file here: `https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/8.x-1.x/composer.json`. This lists all the modules that `apigee-devportal-kickstart` uses.
2. Not sure what you mean by correct endpoint here. Can you please clarify?

Thank you.

[2020-02-21 15:53] shadcn commented on #304
@kbielawiec Did you figure this out?

[2020-02-21 17:36] pradeepgorle13 commented on #321
Hi Arshad,

Thanks for the swift reply.
1. I have seen  composer.json, I wasn't sure whether we have any other dependencies getting installed with those dependencies.
2. For endpoint question, Since we have strict guidelines for accessing the internet from our servers, Before installation we are asked to give the location/ip(from where the dependencies can be installed), then our security team ope

[2020-02-21 17:53] arlina-espinoza commented on #319
Found the issue is changes in the internal entity schema of commerce entities from commerce 8.x-2.16 I'm working on updating Kickstart installer to avoid installing configuration yaml objects for this submodule, and instead re-create the configuration with code, which should make it more robust against commerce updates.

[2020-02-21 17:58] shadcn commented on #321
@pradeepgorle13 Here's a complete list of all dependencies (this includes modules that you might need if you want monetization features and modules for migrating from Drupal 7)

[code]

The packages are pulled from packagist.org (which might in turn pull from github/gitlab repositories) and the Drupal modules are installed from [packages.drupal.org](https://www.drupal.org/docs/develop/using-compos

[2020-02-21 21:59] pradeepgorle13 commented on #321
Let me verify with my governance team. Will get back with the information if they have questions over it.

[2020-02-21 22:58] jemisonf opened #322 "CSS for FAQs creates extra bottom border when <li> is used in FAQ body"
**Describe the bug**
When you add an FAQ with an html list in the body, the preview on the `faqs` page adds a thin gray border to the bottom of the last element of the list. I'm pretty sure the issue is this CSS selector:

[code]

From [here](https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/eb4836a4417c1616649a0c00f2ed7e034221036c/themes/custom/apigee_kickstart/src/sass/page/_page.

[2020-02-21 22:59] arlina-espinoza commented on #321
Thanks for the list @arshad. Just for reference, this is a list of dependencies as of today - the list might change in the future either by Kickstart or `apigee_edge` adding or removing a dependency, or a third party module or library requiring something else.
The way to figure this out is to do a local installation and run `composer show` to see the full list of dependencies.

[2020-02-22 00:23] arlina-espinoza commented on #309
@cnovak I think this should also be fixed by #323  and https://github.com/apigee/apigee-m10n-drupal/pull/223.

[2020-02-22 00:57] arlina-espinoza commented on #319
@drupalninja Please review this PR: #323

[2020-02-24 16:15] cnovak commented on #321
@pradeepgorle13, is Internet access restricted for all servers or just production instances? The reason I ask is that you could have a test or lower environment that pulls down all dependencies and puts them into your source control repository. Then the production environment would only pull down from your source repository.

[2020-02-24 19:03] pradeepgorle13 commented on #321
Hi Chris,
We will not get complete access of the internet. We are given access only to one website/ip to install in the dev environments too. Once we get all the dependencies then we can move that to our local repository and then can install in the production. This is going to be our process.  So I raised a request for opening up the firewall for the following websites
 1. packages.drupal.org
 2.

[2020-02-24 19:11] pradeepgorle13 commented on #321
Hi Arlina,

Thanks for the clarity. Thanks for the direct command. We will install in any of the out of network systems and will get the list for the version we installed. If there is any changes to the package we are ready to upgrade but we need to get the approval for the third party lib's or any updates from our Open Source Council.
Is there a way that we can see the changes  from one version t

[2020-02-25 09:01] shadcn commented on #322
@jemisonf This is an awesome bug report. I pushed a fix for it. We'll review and merge: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/324

Thank you.

[2020-02-25 18:17] jemisonf commented on #322
Thanks @arshad! Really appreciate the quick follow-up. I'll keep an eye out for the fix in the next release.

[2020-02-26 03:00] micovery opened #325 "petstore/v1 spec target server broken"
**Describe the bug**
Looks like the petstore/v1 OOTB spec included in the kickstart points to a target server that's not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /api/3/1/routes/pets/get
2. Click on /pets (GET) under API Reference
3. Scroll down to the "Try it" section
4. Click on the "Execute" button

**Expected behavior**
There should be a response, showing the array

[2020-02-26 15:23] pradeepgorle13 commented on #321
Hi Team,

A quick question came up during our discussion with the security and governance. Do we have a centralized repository which Drupal can suggest to get the dependent packages. We are not allowed to open firewall for multiple ip's/websites. Can we have a centralized Drupal approved repository location for atleast the kick starter which will have the Drupal Core and Apigee integration package

[2020-02-26 15:26] pradeepgorle13 opened #326 "Question for OnPrem Solution"
Hi Team,

A quick question came up during our discussion with the security and governance. Do we have a centralized repository which Drupal can suggest to get the dependent packages. We are not allowed to open firewall for multiple ip's/websites. Can we have a centralized Drupal approved repository location for atleast the kick starter which will have the Drupal Core and Apigee integration package

[2020-02-26 15:43] pradeepgorle13 commented on #326
Had some discussion with my team and they say "We are looking out for a installer which is bundled; included in a download that comes with the kickstarter package.  Some tar/zip has all this packages bundled together and then an installation script decompresses that and the installer uses the local packages".
This would be similar to the package that APIGEE has provided within the product (Which w

[2020-02-26 16:48] cnovak opened #327 "APIs listing "view documentation" link formatting wrong"
**Describe the bug**
The "View Documentation" button on the APIs listing is formatted wrong:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/apis
2. View "Geolink", button should be at bottom of card:

<img width="882" alt="Screen Shot 2020-02-26 at 8 45 57 AM" src="https://user-images.githubusercontent.com/613093/75367177-bdae7880-5874-11ea-9afd-a562178e997e.png">

[2020-02-27 05:31] #327 closed, assigned to shadcn

[2020-02-27 22:57] kiranjyoth commented on #321
@pradeepgorle13 I will try to answer this as my team encountered a similar situation.  Here is an approach to this.

1. Use composer to download source code locally (You should be in a DMZ to do this step)
2. Commit your code to your organization's source control (bitbucket, github, gitlab etc)
3. Allow your Jenkins / Circle CI (or any other CI tool) to deploy this source code as artifact to devel

[2020-02-27 23:22] arlina-espinoza opened #330 "Kickstart docs: Update instructions regarding monetization setup"
After changes done in https://github.com/apigee/apigee-m10n-drupal/pull/223 and https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/323, we need to update the documentation to match.

- Update instructions for setting up monetization during installer
- Update/create how to install monetization after installing if not done during installer.

[2020-02-27 23:53] cnovak opened #331 "Price is formatted incorrectly on Monetization checkout"
**Describe the bug**
Price is formatted incorrectly on Monetization checkout

**To Reproduce**
Go to checkout after install:

<img width="1480" alt="price-formatting" src="https://user-images.githubusercontent.com/613093/75497475-2ed75400-5979-11ea-905e-53b7331e33de.png">

**Version Info**
Chrome 80.0.3987.122

[2020-02-28 00:17] cnovak commented on #326
This seems to be a duplicate of #321 ?

We are not planning to create a packaged bundle of all dependencies since we would just be pulling from packagist.org and packages.drupal.org, and this would add a delay on getting latest versions and security updates.

You do need at least one environment you can pull down dependencies, do any validation against, and then check into a source control system

[2020-02-28 00:17] #326 closed, assigned to nobody

[2020-02-28 05:43] #322 closed, assigned to shadcn

[2020-02-28 05:48] #325 closed, assigned to cnovak

[2020-02-28 05:49] #319 closed, assigned to arlina-espinoza

[2020-02-28 05:51] shadcn commented on #309
https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/323 and https://github.com/apigee/apigee-m10n-drupal/pull/223 have been merged.

We have a follow-up ticket in `apigee_m10n` to create a test payment gateway: https://github.com/apigee/apigee-m10n-drupal/issues/227

I'm going to mark this ticket as done. Feel free to re-open if not.

Thank you.

[2020-02-28 05:51] #309 closed, assigned to shadcn

[2020-03-03 19:17] cnovak commented on #302
@arshad can you put details into this ticket for better understanding of the scope

[2020-03-03 22:38] cnovak opened #333 "Validation against Drupal core versions"
Nightly testing should be set up which installs and tests our distribution against new versions of Drupal core.

[2020-03-06 16:08] RaymonLPeng opened #334 "Add API Search to Apigee D8 Kick Start"
**Is your feature request related to a problem? Please describe.**
Add a site search feature to the Apigee D8 Kick Start bundle and add it to the demo site: http://dev-kickstart-d8.devportal.apigee.io/

**Describe the solution you'd like**
Add a "Im looking for..." search box, see example on RBC Dev Portal Site:
https://developer.rbc.com/ with basic search results/

The search should cover both AP

[2020-03-09 16:16] cnovak commented on #320
We are currently working on mocking out the Apigee Edge responses for testing and plan to do the same for M10n afterwards. At that time I think you would have mock info to do this. Interesting idea!

[2020-03-09 16:20] nextagencyio commented on #320
That would be amazing because it's currently hard to demonstrate this functionality without an active paid account

[2020-03-09 19:32] pradeepgorle13 commented on #321
Hi Jyothi,

We opened some domains and got all the required libraries. But after we followed all the steps mentioned in the following site-

https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/use-kickstart-with-apigee-edge-for-private-cloud

We were able to see 404 Not Found (nginx/1.16.1) but when we installed all the packages and changing the drupal8.conf as mentione below ,

[2020-03-09 23:11] kiranjyoth commented on #321
@pradeepgorle13 looks like you are using fastcgi proxy. But the fastcgi request param seems to be missing. Could you try adding
`fastcgi_param REQUEST_METHOD $request_method; `
above
`fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name; `
and restart nginx.
Also pls add info.php and add
`<?php phpinfo(); ?>`
in the file at your root to see if you are able to access php information fro

[2020-03-10 21:15] pradeepgorle13 commented on #321
Hi Jyothi,

Thanks for the reply. I have gone through your respone. I think we followed all the steps but we are unable to deploy the application on Nginx server (we are using rh-nginx116 server). Another thing is we are doing it everything including the "composer create-project apigee/devportal-kickstart-project:8.x-dev devportal --no-interaction" using the root user. I am pretty sure that, it sh

[2020-03-11 16:19] cnovak commented on #321
It seems that the subject of the two messages above is completely different than the original issue - @pradeepgorle13 are you still asking for a dependency list like this issue's subject? Can you open a new ticket w/these details so that we are not confused on what the issue is?

I will close this one, but if you have any more questions that pertain to the original subject, feel free to comment ag

[2020-03-11 16:19] #321 closed, assigned to nobody

[2020-03-11 20:30] pradeepgorle13 commented on #321
That Should be fine.... Dependency issue has been resolved... I will open a new ticket...

[2020-03-11 20:37] pradeepgorle13 opened #335 "syntax error, unexpected '.', expecting '&' or variable (T_VARIABLE)"
We were able to see 404 Not Found (nginx/1.16.1) but when we installed all the packages and changed drupal8.conf as mentione below , the devportal is not displaying.

server {
#listen 80;
server_name ourserver.com;
root /var/www/devportal/web; ## <-- Your only path reference.

location = /favicon.ico {
    log_not_found off;
    access_log off;
}

location = /robots.txt {
    allow all;
    log_no

[2020-03-11 22:50] cnovak commented on #335
For the Nginx installation, we recommend [following our docs on Nginx install](https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/use-kickstart-with-apigee-edge-for-private-cloud#s-install-nginx-web-server) which uses the [Nginx Drupal recipe](https://www.nginx.com/resources/wiki/start/topics/recipes/drupal/).  In that section we make only a change to `root` directive to point

[2020-03-12 16:02] pradeepgorle13 commented on #335
@cnovak @kiranjyoth

I just followed the nginx drupal recipe for the installation. Only did the changes mentioned.

[root@slappgp001:/]

It is giving me PHP Version 5.4.16 which we have uninstalled.

But When i go the server and see the version of the PHP, it stil shows 7.3

PHP 7.3.11 (cli) (built: Oct 31 2019 08:30:29) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.11, Copyright

[2020-03-12 17:56] kiranjyoth commented on #335
@pradeepgorle13 the Nginx config file you are referring runs on Unix socket. From your config file  you are running it via fast CGI protocol. This block of code may help. https://www.nginx.com/resources/wiki/start/topics/examples/phpfcgi/#connecting-nginx-to-php-fpm
Like @cnovak  pointed out, its more of a server configuration issue than the developer portal itself. I hope this helps!
Thanks

[2020-03-13 22:30] #331 closed, assigned to shadcn

[2020-03-16 07:11] mrdhanasekaran89 opened #337 "FAQ contents are not toggling properly in IE browser"
Hi Team,

I am using Drupal 8 Apigee distribution in my project and noticed that FAQ contents are not toggling properly and by default, all the Q&A are in opened.

Click on FAQs in the top menu.

Expected behavior: (Answer should be closed by default)
A clear and concise description of what you expected to happen.
![image](https://user-images.githubusercontent.com/50447235/76731409-63be1600-6783-1

[2020-03-16 14:48] cnovak commented on #335
Closing for now, please comment if this needs to be reopened

[2020-03-16 14:48] #335 closed, assigned to nobody

[2020-03-17 07:07] shadcn commented on #337
@mrdhanasekaran89 thanks for the report. Which IE version is this?

[2020-03-17 07:43] shadcn opened #338 "Update Radix to 8.x-4.8"
There's a new release for Radix with security fixes for npm packages.

[2020-03-17 18:29] cnovak opened #340 "Add a recommendation for D8 self hosting .. Machine Size / Hardware."
Possibly use the one from Drupal 7 as a good starting point.

[2020-03-18 13:50] mrdhanasekaran89 commented on #337
Hi arshad,

I am facing this issue in IE 11.

[2020-03-18 20:46] #338 closed, assigned to nobody

[2020-03-18 20:47] #270 closed, assigned to shadcn

[2020-03-18 21:04] pradeepgorle13 commented on #335
@cnovak @kiranjyoth it worked out. The issue was we were having two versions 5.4 and 7.3 of php and the php-fpm version is pointed to 5.4 and we completely removed the 5.4 which resolved our issue

[2020-03-19 13:12] mrdhanasekaran89 commented on #337
Team, any update on this issue?

[2020-03-19 15:03] shadcn commented on #337
@mrdhanasekaran89 I’m looking into this today. I’ll let you know.

[2020-03-20 08:34] shadcn commented on #337
@mrdhanasekaran89 I created PR #341 with a fix.

![apigee-kickstart-faq-ie-11](https://user-images.githubusercontent.com/124599/77147634-21f4de80-6aa7-11ea-82ef-66e6acd569a8.gif)

[2020-03-20 14:15] mrdhanasekaran89 commented on #337
Hi arshad, Thanks for spending your time on this. Its working fine.

[2020-03-20 15:45] cnovak commented on #335
Great to hear @pradeepgorle13!

[2020-03-22 07:09] #337 closed, assigned to shadcn

[2020-03-24 14:03] pradeepgorle13 opened #342 "Devportal Customization Question"
Hi Guys,

Want to understand
1. Where I can get the best resources/documentation for the APIGEE Devportal customization and flows. (ex: I wanted to have a user flow for both the App Developer, App consumer etc.,)
2. When i do the changes, how can i capture those changes in the GIT?

To add:
I am already going through
https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/customize

[2020-03-24 14:47] cnovak commented on #342
# Customization and flows
Can you explain your use case(s) more? I am not sure what you mean by "customization and flows", or "user flow for both the App Developer, App consumer etc.". What are you trying to do?

# Capturing changes
Configuration changes are now stored using a system called "configuration management".  The configuration can be exported and stored in source control. Check out the [

[2020-03-24 21:39] giteshk opened #343 "Add Hero Image dimensions as help text"
The Hero Image on the homepage does not have a recommendation for dimension. Would be nice to have a help text which says what dimensions to expect.

![Screen Shot 2020-03-24 at 5 37 47 PM](https://user-images.githubusercontent.com/6208023/77479559-68737180-6df6-11ea-9a91-44c526e2c9a5.png)

[2020-03-24 21:42] giteshk opened #344 "Hero Image on the front page does not maintain aspect ratio"
Can we change the hero image object-fit CSS property to 'cover' instead of 'fill'.

The image gets distorted when the aspect ratio is not maintained in the uploaded image.

![screen-a](https://user-images.githubusercontent.com/6208023/77479632-88a33080-6df6-11ea-8bc4-e354c9da7eda.gif)

[2020-03-25 14:16] pradeepgorle13 commented on #342
@cnovak Thanks for the immediate reply. What I mean by the customization and Flows is

        Eg:
           For the App Developer or internal user- He logs in, He will upload his OAS document, tag the
           product within the organization, tag its App Owner and submits the request for approval to
           expose API.
          For the App Consumer or external user- He Registers, then he w

[2020-03-25 17:12] cnovak commented on #342
You are welcome! Check out our [Kickstart documentation](https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart) on how to theme the site, change logo, etc.

For the API developer flow, you will need to do your own customizations using either an external system making calls to the Drupal portal through REST APIs, or build out a custom solution using a custom module or some contrib

[2020-03-30 22:47] arlina-espinoza opened #345 "Drupal 9 readiness"
Fix deprecation warnings for Drupal 9, and mark the module as compatible by adding `core_version_requirement: ^8 || ^9` to all module info files (https://www.drupal.org/node/3070687).  (https://www.drupal.org/node/3070687).
The following report was generated using [mglaman/drupal-check](https://github.com/mglaman/drupal-check):

[code]

[2020-03-31 10:14] shadcn commented on #316
This can be closed as duplicate of https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/311 (We're handling all images there)

[2020-03-31 17:53] #316 closed, assigned to shadcn

[2020-03-31 18:59] #342 closed, assigned to nobody

[2020-04-02 14:59] pradeepgorle13 commented on #342
Thanks @cnovak for answering the question

[2020-04-02 15:29] pradeepgorle13 opened #346 "Cloning instances between environments"
I have a devportal installed in an environment 1 and I have installed in environment 2. How can i move the changes/configuration changes that i do in the environment 2.

What I did
1. For environment 1, I was able to capture the configurations and capture the configuration and was able to import and export that state
2. I have installed in both the environments separately - environment 1 and envir

[2020-04-02 16:08] kiranjyoth commented on #346
@pradeepgorle13
You can do this by setting your source UUID same as your destination UUID. This makes the config import work between sites. But you must take backups of your environments before you performing the following steps.

**On Env 1**
`drush config-get "system.site" uuid`
Copy the site UUID you get, you will need this in Env 2

**On Env 2**
`drush config-set "system.site" uuid "your_UUID_

[2020-04-02 16:43] aryaroudi opened #347 "Install the Drupal in docker stuck on 98%"
**Describe the bug**
I set up my environment with Lando and tried on 2 different MacBook Pro laptops and the installation stuck on 98% and not going further.
**To Reproduce**
Steps to reproduce the behavior:
Do the `lando start`
Open the environment in the browser (It will redirect you to Install page)
Enter the database details

**Expected behavior**
There should be an error to show why it stuck

[2020-04-02 21:45] pradeepgorle13 commented on #346
@kiranjyoth
Thanks for the answering the question. Initially, i had struggle using the drush command but when i started using the whole path
"/var/www/devportal/vendor/bin/drush" instead of "drush" worked well for me .

The issue now is I got the uuid
but when i ran the config-set on the second environment,
/var/www/devportal/vendor/bin/drush config-set "system.site" uuid "uuid of the environment

[2020-04-02 22:10] kiranjyoth commented on #346
@pradeepgorle13 Whats the version of Drupal you have running at the moment ?
You can run this at root to get details. `composer show drupal/core`
Also if its 8.8, have you updated your settings.php as shown here, https://www.drupal.org/docs/8/update/update-core-via-composer#s-updating-settingsphp

[2020-04-03 18:43] pradeepgorle13 commented on #346
@kiranjyoth
The version of drupal,  i am using is "version : 8.8.5".

# When i have verified the settings.php
$settings['config_sync_directory'] = 'sites/default/files/config_wN6AWVe5HTGqum4F8KuOF6g7_JfFeo-YITouHwCR_pXgm46Edtxrdo23mrWfosJFMUUaW0ZnbQ/sync';

I reinstalled the drupal and was able to do the drush get-config and drush set-config.
After setting it up the config, I am getting the follow

[2020-04-03 19:36] kiranjyoth commented on #346
@pradeepgorle13 It seems your application is not talking properly to the DB now. Is you application loading ? also pls check if your configurations are same as you fixed in the previous issue you encountered. Having said that, if have have the flexibility of re-spinning environments, why not clone Env1 to Env2 - Db, files, code and make them identical if config has to be moved from one to another

[2020-04-03 20:15] pradeepgorle13 commented on #346
@kiranjyoth
The application is not loading properly. When i reinstalled from first, it loaded properly and then when i updated the uuid with the envrionment 2's uuid, it gave the error that i was pointing to. Also the application was not working.
Also, the option of get-config or set-config no more exists with the drush command. Any thoughts.

So when you are talking about the cloning of the Env1

[2020-04-06 15:16] kiranjyoth commented on #346
@pradeepgorle13 seems something may have been corrupt. Pls restore your env.s and try again. To answer your second question,

|                |           Location             |Description                         |
|----------------|-------------------------------|-----------------------------|
|**Apigee Kickstart  Profile files**|`/web/profiles/contrib/apigee_devportal_kickstart`            |Duri

[2020-04-06 16:24] cnovak commented on #347
@aryaroudi could you share your lando config with us to help validate?

[2020-04-06 17:18] #311 closed, assigned to shadcn

[2020-04-06 18:33] pradeepgorle13 commented on #346
@kiranjyoth Thanks for the instructions. As you said, I again reinstalled from database and the devportal and nginx server. Now i am able to synchronize the uuid's and the error(no import button) i was facing is gone and showing me the changes. But i am getting the below error when i am trying to import. Sorry for dragging this much as i am bit new to this framework and really want to use thisfram

[2020-04-06 19:08] kiranjyoth commented on #346
@pradeepgorle13 Configuration import requires that you don't have the same configuration on destination which you are importing from source .
For example, Vocabulary

 is created during the installation process. Since your destination (env B) has this configuration already set, your config importer is complaining that it can't import on top of this existing config.
This is caused because you have

[2020-04-08 22:20] arunz6161 opened #350 "DOCS - Document developer analytics in Kickstart docs"
Currently we don't have document the presence of developer analytics. We did have [bug ](https://github.com/apigee/apigee-edge-drupal/issues/284) in past which describes steps that can be used to test this feature.

[2020-04-09 05:30] mrdhanasekaran89 commented on #337
Hi @arshad ,

I have taken latest copy of Apigee distribution through composer command. But still FAQs page issue is not fixed in IE browser. Is the code merged with Master branch?

Please confirm.

Thanks
M.Dhanasekaran

[2020-04-09 05:35] mrdhanasekaran89 opened #351 "How to upgrade the existing Apigee distribution to newer version?"
Hi Team,

In one of my project, I am using 8.7.10 version of Apigee kickstart distribution. Now I want to upgrade it to latest version to avail the latest updates and fixes.

Can you please provide the detailed steps to upgrade to latest version of Apigee kickstart?

Thanks
M.Dhanasekaran

[2020-04-09 05:54] mrdhanasekaran89 opened #352 "Revisions delete option not available for API Docs"
I have some node contents and some API Docs in my Apigee portal. I am able to delete the revisions for the node contents. But in API Doc, I am not getting an option to delete revisions. Can you please do the needful fixes and update the Apigee distribution.

*Steps To Reproduce*
Steps to reproduce the behavior:
1. Go to Content->API Doc.
2. Click Edit in any of API Doc.
3. Click Revisions Tab.
4.

[2020-04-09 06:28] shadcn commented on #351
Hey @mrdhanasekaran89, this should be easy if you're using the [Composer project](https://github.com/apigee/devportal-kickstart-project-composer).

## Note
First, make sure you have not made any changes to the `apigee_devportal_kickstart` profile. If you did, you will need to capture the changes manually and re-apply them later.

Otherwise all changes will be lost.

## Updating
1. Make sure you're

[2020-04-09 06:49] shadcn commented on #337
@mrdhanasekaran89 The code has been merged but we have not made a new release yet.

You could apply the fix temporarily as a patch.

1. Install `composer-patches`:

[code]

2. Add the following under `extra` in your root `composer.json` file:

[code]

3. Apply the patch.

[code]

Clear your cache and you should be ready to go.

When we tag a new release, it will tell you the patch no longer applie

[2020-04-09 15:13] ugintl opened #353 "Composer skipping patches"
I know that it is not a bug in your distribution, but I am very frustrated with this error. It has been many months since I am having this problem. I have searched a lot, but did not get any solution.

Whenever I try to download a drupal 8 distribution which has patches, the patches do not apply and composer skips them with error "Could not apply patch! Skipping"

I am using Composer 1.10.1 PHP 7.

[2020-04-09 17:16] cnovak commented on #351
Added this info to docs: https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/get-started-with-kickstart#s-upgrading-kickstart

[2020-04-09 22:14] cnovak commented on #351
Reopening - @arshad shouldn't the step 3. above be `composer update --with-dependencies`, along with optional flag ` --optimize-autoloader` to speed up performance?

[2020-04-09 22:56] cnovak commented on #353
This could be because some patches are already installed into the codebase, so they fail to be patched again. Can you give the output on what patches are failing? It could be our fault by having outdated patches in our project, so could be a bug on our side! I just ran through an install using `composer create-project apigee/devportal-kickstart-project:8.x-dev MY_PROJECT` in a temp dir, and I did

[2020-04-10 06:53] shadcn commented on #351
@cnovak Yes you're right. I've updated the comment above. Thank you.

Should we also add an `UPDATE.md` to https://github.com/apigee/devportal-kickstart-project-composer?

[2020-04-10 11:18] ugintl commented on #353
This is the whole thing

[code]

[2020-04-10 11:46] ugintl commented on #353
by the way I am having this problem in other distributions as well like Varbase etc

[2020-04-13 08:08] shadcn commented on #347
@aryaroudi did you figure this out?

I just tested with the following `.lando.yml` config and it worked.

[code]

If you could post your lando config, we can test it.

[2020-04-14 00:43] cnovak commented on #353
I did a composer run and I do see patches do apply fine for me:

[code]
It may be that [you don't have patch installed?](https://github.com/cweagans/composer-patches/issues/226#issuecomment-421323515) Try running `composer install -vvv` to see any problems.

I will close this since I am not sure how else we can help besides above but feel free to comment back. You could try adding an issue to http

[2020-04-14 00:43] #353 closed, assigned to nobody

[2020-04-14 01:02] jbennett13 commented on #310
Draft of proposed changes to Kickstart and Monetization docs and project pages attached for review:  https://docs.google.com/document/d/1TU3Vwwb_pe6pAv_6X_na96BCAdbiYtl7PdK-Y1bpLsk/edit?usp=sharing

Will this also resolve #330?

[2020-04-14 03:58] cnovak commented on #353
@ugintl wanted to let you know that we released a new composer project template which you may want to use, [check out our docs about the new composer template](https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/get-started-with-kickstart#s-updating-your-main-composer-file-to-use-drupalrecommended-project).

[2020-04-14 19:07] cnovak commented on #351
@arshad put in info to README to point to our documentation on how to update and install now.

[2020-04-14 19:07] #351 closed, assigned to nobody

[2020-04-16 02:37] samhaldia commented on #234
On executing the command composer require drupal/simplesamlphp_auth:3.x-dev drupal/simplesamlphp_custom_attributes --prefer-dist
Using version ^1.1 for drupal/simplesamlphp_custom_attributes
It gives below output and deletes the core folder

./composer.json has been updated
Removing package drupal/better_exposed_filters so that it can be re-installed and re-patched.
  - Removing drupal/better_expo

[2020-04-16 23:38] jbennett13 commented on #280
Draft for review and comment: https://docs.google.com/document/d/1yQ4U1Qe6Vl5XjuhFu93q4V6g3CL15qCepS8cH7M7WiU/edit?usp=sharing

[2020-04-17 11:59] aryaroudi commented on #347
hey @cnovak yes sure:

[code]
not yet, I'm just continued to install it by `drush si` and that way it works, anyway I guess it won't be a concern for me as we need to put the whole process in a CI/CD pipeline and we need to install it by CLI but just shared it in case someone faces the same issue in the web console

[2020-04-22 05:29] shadcn commented on #347
Thanks for posting the config file. I just tested it and seems to be working. Weird. I'll ask someone else to try this and let you know.

[2020-04-22 16:29] jbennett13 commented on #310
Updates published:  https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/enable-monetization (and elsewhere)

[2020-04-22 16:31] jbennett13 commented on #280
Updates published:  https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/migrate-drupal-7-developer-portal-entities

[2020-04-24 10:14] shadcn commented on #347
@aryaroudi We tested this on another clean lando install with the provided config and could not reproduce this.

Since this is not a blocker for you anymore, I'm going to go ahead and close this.

Feel free to re-open if this is still an issue. Thank you.

[2020-04-24 10:14] #347 closed, assigned to shadcn

[2020-04-27 14:42] ugintl commented on #353
@cnovak The problem was on my side. My problem is solved finally. I did 2 things. 1. Added C:\Program Files\Git\usr\bin to my system path. 2. Used cmd as a normal user. Previously I was using it as administrator.

[2020-04-28 19:22] cnovak commented on #353
Great to hear you found the issue! I noticed that missing command line tools were being hidden on normal output so can be tricky to figure out.

[2020-04-29 18:08] cnovak opened #355 "SAML configuration removes Drupal core"
The [SAML Integration instructions](https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/integrate-simplesamlphp-authentication) documentation removed Drupal core.

On executing the command composer require drupal/simplesamlphp_auth:3.x-dev drupal/simplesamlphp_custom_attributes --prefer-dist
Using version ^1.1 for drupal/simplesamlphp_custom_attributes
It gives below output and

[2020-04-29 18:19] cnovak opened #356 "Always show monetization step during install"
## Description

A user was testing monetization installing w/Kickstart and was never prompted for monetization even though she is connecting to a mint enabled org. We did not know why Monetization was not being installed with the installer.  We figured out that the monetization module was not part of her project because it was an older main composer file for Kickstart which did not have the Moneti

[2020-04-29 18:23] cnovak opened #357 "Documentation incorrect about how to get monetization installed?"
Our [installation instructions about Kickstart](https://www.drupal.org/node/3058326#s-installation-instructions) says you need monetization module installed for monetization to be installed during the Kickstart Install.  However, @arlina-espinoza said:

@arlina-espinoza can you verify this, and if so @jbennett13 can you update docs?

[2020-04-29 19:40] jbennett13 commented on #357
Chris - could you point to which part of the install instructions you are referring to?  I thought we had clarified in the docs that the **composer create** command uses the correct root composer file (containing the m10n and Commerce packages), and that you would only have to add or require M10n if you were using your own composer file and wanted to add M10n later.  I may just be missing a sectio

[2020-04-30 03:31] cnovak commented on #355
@samhaldia I tried replicating your issue, but did not see your issue:

[code]
After these commands, my core dir is intact:

[code]
Are these the steps?

[2020-04-30 03:31] cnovak commented on #234
I opened a bug for you on this @samhaldia , see #355

[2020-05-01 17:40] cnovak commented on #357
Here is the page:
https://www.drupal.org/node/3058326#s-installation-instructions

[2020-05-04 05:31] arlina-espinoza commented on #357
@cnovak @jbennett13 If user is using their own composer then yes, they need to require apigee_m10n _and_ drupal/commerce. So I'd suggest to update the section with the following:

[2020-05-05 06:39] Prekshapatel commented on #353
Hi all,

I have a Could not apply patch! Skipping. issue while trying to update the drupal core. That patch is mentioned in GOVCMS installation profile composer.json. Issue is patch is already applied for panelizer module and auto generated in (modules/contrib/panelizer/PATCHES.txt) . And there is a project composer file which is outside docroot using which I am trying to update drupal core. There

[2020-05-05 08:36] #344 closed, assigned to shadcn

[2020-05-06 05:40] shadcn commented on #334
@RaymonLPeng API product is being converted to `Content` entities. See https://github.com/apigee/apigee-api-catalog-drupal/issues/71

This means we will have out of the box support for search once this is done.

If you need a solution meanwhile, I created a PR here that replaces the default search with `search_api` with both Content and API support.

You could apply this PR as a patch.

1. Install

[2020-05-06 07:22] shadcn opened #362 "Remove custom entity list builders from Kickstart"
Now that Apigee Edge allows custom display settings (https://github.com/apigee/apigee-edge-drupal/pull/402), we can remove the following entity list builder from kickstart:

- `\Drupal\apigee_kickstart_enhancement\Entity\ListBuilder\DeveloperAppListBuilder`
- `\Drupal\apigee_kickstart_enhancement\Entity\ListBuilder\TeamAppListBuilder`

[2020-05-12 01:51] jbennett13 commented on #357
Updated this section to clarify possible scenarios when installing with a M10n-enabled org:  https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/get-started-with-kickstart#s-installation-instructions

[2020-05-12 19:10] #357 closed, assigned to arlina-espinoza, jbennett13

[2020-05-12 19:21] arlina-espinoza opened #363 "Update to apigee_api_catalog 2.x"
When [apigee_api_catalog 2.x](https://github.com/apigee/apigee-api-catalog-drupal/milestone/8) is released, we need to update:

- composer requirements
- module's info.yml
- config
- default content

[2020-05-14 04:23] pradeepgorle13 opened #365 "Support for the AWS Gateway with the Devportal"
Hi Team,

The requirement is we are setting up the developer portal for APIGEE with this kick-starter for publishing some proxies. We have some proxies that are built in AWS gateway and we wanted to get those proxies to be published  on the same developer portal. Is it a possibility. If so, What are the steps that are required to be followed.

One Drupal Developer Portal (APIGEE Kick-Starter) shou

[2020-05-15 17:17] cnovak opened #366 "Kickstart installs are failing: "The "apidoc" entity type does not exist.""
**Describe the bug**
When installing Kickstart, it fails with the error: "The "apidoc" entity type does not exist."

**To Reproduce**
Steps to reproduce the behavior:
1. Install Kickstart following instructions

This is happening due to the release of [Apigee API Catalog 2.0](https://www.drupal.org/project/apigee_api_catalog/releases/8.x-2.0) and the Kickstart composer dependency being `drupal/api

[2020-05-15 17:47] #366 closed, assigned to cnovak

[2020-05-20 06:49] shadcn commented on #356
I pushed a PR with a fix: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/368

[2020-05-26 23:12] #362 closed, assigned to shadcn

[2020-05-27 08:26] #356 closed, assigned to shadcn

[2020-05-27 14:48] giteshk commented on #363
Should the Template files for the Card Layout be in the module ?

[2020-05-27 17:22] arunz6161 commented on #355
We are unable to reproduce the issue. Please reopen if you have more details.

[2020-05-27 17:22] #355 closed, assigned to nobody

[2020-05-27 17:23] #345 closed, assigned to arlina-espinoza

[2020-05-27 17:26] arunz6161 commented on #346
Closing due to inactivity.

[2020-05-27 17:26] #346 closed, assigned to nobody

[2020-05-27 17:33] cnovak commented on #343
@giteshk do you remember what issue you saw w/different image sizes? This image should be responsive and work correctly w/any size.

[2020-05-27 18:13] cnovak opened #371 "Do not show monetization step if the Edge org is not monetized"
## Description
In #368, when the org is not monetized, the following screen is shown:

![Configure_monetization___Apigee_Developer_Portal_Kickstart](https://user-images.githubusercontent.com/124599/82413919-48270280-9a87-11ea-9bec-2c48b5bb81e1.jpg)

This ticket is to remove the Monetization step if the org is not monetized since the person doing the install most likely will not know about monetiza

[2020-05-28 09:36] SajithAthukorala opened #372 "Getting JS error on Nav toggle click event in Mobile view"
After  Updating apigee/apigee_devportal_kickstart (1.12.0 => 1.14.0): Getting JS error on home page and not working Nav toggle as expected in mobile .

The hamburger menu is not working on mobile phones and Tablets.
Observed in iPhone 11 Pro, iPhone 11, Galaxy S10, Galaxy tab S6, iPad Pro 11

Chrome
![Screenshot from 2020 05 28 15 04 09 png PNG Image 1920 × 1080 pixels Scaled 85 ](https://user-ima

[2020-05-28 20:39] pradeepgorle13 opened #373 "Question on SAML"
We are trying to do Single Signon with SAML. followed this following process

https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/integrate-simplesamlphp-authentication

While testing the URL. It is giving the Permission Access Denied issues. Can any one suggest

[2020-05-29 07:01] shadcn commented on #372
Bug confirmed. Looking into it.

[2020-05-29 07:57] KNSivagami opened #375 "Customization of API docs page"
We need to do some customisation in the API doc page of the new kickstart module like old drupal 7 portal.

we need something like below

![image](https://user-images.githubusercontent.com/62534689/83235640-d39f4280-a1af-11ea-84cb-f309a1fb9db5.png)

In drupal 7 we configured in taxonomy-> smartdocs model.
In kickstart it cannot be aligned in tab accordingly.

It is showing
![image](https://user-im

[2020-05-29 10:36] #371 closed, assigned to shadcn

[2020-05-29 14:55] kiranjyoth commented on #373
@pradeepgorle13 the documentation pages show how you can configure web server if its **Apache**. Configuring **Nginx** is a bit more involved. Please look at this community post https://community.apigee.com/questions/44115/sso-integration-via-saml-with-developer-portal-417.html?childToView=50268#answer-50268
The master process for php-fpm has no unix socket by default. In this case you have to use

[2020-05-29 15:29] kiranjyoth commented on #375
@KNSivagami Are you using 8.1.x or 8.2.x of the module **apigee_api_catalog** ?
This requires custom templating of custom entity / node type.
For 8.1.x your naming convention will be something like **apigee-entity--apidoc--full.html.twig**
and if its 8.2.x,
Here is a link to naming conventions https://www.drupal.org/docs/theming-drupal/twig-in-drupal/twig-template-naming-conventions#s-nodes
Once y

[2020-05-29 16:31] shadcn commented on #372
I pushed a PR to fix this. We should be tagging a new release soon. If you can't upgrade right away, you can fix this regression by updating `jquery` in your theme. `npm i jquery -D` should do it.

[2020-05-29 16:34] #372 closed, assigned to shadcn

[2020-05-29 16:49] cnovak commented on #372
@SajithAthukorala thanks for reporting this, the 1.15 release just went out with this fix.

[2020-06-02 05:05] SajithAthukorala commented on #372
Thanks for the fix @arshad  @cnovak  , we downgrade the versions since we had to do immediate release , will update you guys !!! thanks again for the quick response

[2020-06-02 21:04] Abdul-Kinadiyil commented on #318
Any update on the planned release date for the scripts?

[2020-06-03 17:29] cnovak commented on #318
Hello @Abdul-Kinadiyil , we have scripts now and are currently going through a review in order to get them open sourced. I hope to have this out in about 2 weeks as a beta.

[2020-06-04 17:02] cnovak commented on #305
Also, the message should be a warning message, not an informational message.

[2020-06-04 20:22] cnovak commented on #305
I created https://github.com/apigee/apigee-edge-drupal/issues/418 to take care of the status update since the Apigee Edge module outside of Kickstart may be configured with the configuration key provider.

[2020-06-08 08:00] #343 closed, assigned to shadcn

[2020-06-08 08:28] arlina-espinoza opened #379 "Teams list looks misaligned"
## Description
With the apigee_teams module enabled, the listing view of teams looks misaligned.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Using an org and a user that has teams, go to `/teams`
2. The right side buttons overflow:
![image](https://user-images.githubusercontent.com/4062676/84008865-45515c00-a927-11ea-99bf-f84ebdc9555a.png)

[2020-06-09 05:58] pradeepgorle13 opened #380 "Custom Theme/Layout"
Hi Guys,

Do we have any proper documentation to create a Custom theme/Layout? We were able to get the Drupal 8(with Apigee Kickstarter) approved. Need some help on getting it started.

Thanks.,
Pradeep

[2020-06-09 09:59] KNSivagami commented on #375
Hi Jyothi

My Api catalog version is version: '8.x-1.2'
project: 'apigee_api_catalog'
Drupal is 8.3

Let me know how to proceed

Thanks,
Sivagami

From: Jyothi K Reddy <notifications@github.com>
Sent: Friday, May 29, 2020 8:59 PM
To: apigee/apigee-devportal-kickstart-drupal <apigee-devportal-kickstart-drupal@noreply.github.com>
Cc: K. N., Sivagami <Sivagami.K.N@Honeywell.com>; Mention <mention@nor

[2020-06-09 16:59] kiranjyoth commented on #375
@KNSivagami Documentation here shows you basic customization of your portal. https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/customize-your-developer-portal

But for your use case, you may need to create a sub-theme from kickstart theme.
follow instructions here to start creating a sub-theme
https://github.com/apigee/apigee-devportal-kickstart-drupal/tree/8.x-1.x/themes/cus

[2020-06-09 19:06] cnovak commented on #275
We had a request for this #380 , would be good to get over on our Drupal.org docs

[2020-06-09 19:09] cnovak commented on #380
Hello Pradeep, we have some info on [how to subtheme Kickstart in our README](https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/6dd58a1e93e9d06536b2c79313a93b863610b0e7/themes/custom/apigee_kickstart/README.md#creating-an-apigee-kickstart-sub-theme) which should be able to help you. There is also [documentation on Drupal.org on theming](https://www.drupal.org/docs/theming-drupal). L

[2020-06-09 19:09] #380 closed, assigned to nobody

[2020-06-09 19:10] cnovak commented on #375
Thanks @kiranjyoth for answering, will close ticket but add comments if anything else is needed.

[2020-06-09 19:10] #375 closed, assigned to nobody

[2020-06-09 23:51] pradeepgorle13 commented on #380
Thanks Chris, Will definitely let you know.

[2020-06-10 19:57] vinayporeddy opened #381 "New Module Installation issues via Devportal UI"
**Describe the bug**
When we try to install new Module Installation  via Devportal UI we see below error.
An AJAX HTTP error occurred.
HTTP Result Code: 403
Debugging information follows.
Path: /core/authorize.php/core/authorize.php?batch=1&id=114&op=do_nojs&op=do
StatusText: Forbidden
ResponseText:
403 Forbidden
403 Forbidden
nginx/1.16.1

https://www.drupal.org/docs/8/modules/apigee-developer-po

[2020-06-11 17:41] #381 closed

[2020-06-12 17:34] #305 closed, assigned to jacine

[2020-06-16 03:57] pradeepgorle13 opened #383 "Local Workspace Setup and Theming"
I was going through the last answer regarding the themes (how to start it and work on it). Below is the reference
https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/380
But I realized that we need to have a local setup on our desktop for this. Or Do you suggest any other easy way to edit any current theme(apigee_devportal_kickstart) or create a new theme.
Any step by step document

[2020-06-16 16:42] cnovak commented on #383
You might want to check out [Lando](https://docs.lando.dev/config/drupal8.html), here is an [article about getting started with Lando for local development](https://bhooraj.com/technology/development-evironment-for-drupal-8-with-lando/).

For theming, [check out my earlier post on theming resources](https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/380#issuecomment-641513954).

To

[2020-06-16 16:42] #383 closed, assigned to nobody

[2020-06-17 18:46] pradeepgorle13 opened #384 "Regarding the subtheme based on apigee-kickstart"
I went through the documents you have suggested and made a considerable progress.

https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/6dd58a1e93e9d06536b2c79313a93b863610b0e7/themes/custom/apigee_kickstart/README.md#using-drush-to-generate-your-sub-theme

I did it manually but I think i must have missed some thing

Installed the Drush and that made it simple to create a subtheme by r

[2020-06-18 13:32] cnovak commented on #384
Thanks for the clearly written issue. @arshad do you need to clear cache? Looks like everything was done properly.

[2020-06-18 14:10] pradeepgorle13 commented on #384
@cnovak @arshad Just wanted to make sure the steps i have followed. I cleared the cache completely too but it wasn't displaying the theme i have created,

[2020-06-22 05:22] shadcn commented on #384
@pradeepgorle13 I see a **subtheme** in the screenshot? Is that the theme you created? What happens when you "Install and set as default"?

[2020-06-22 06:56] pradeepgorle13 commented on #384
The "subtheme" was there from before, So i thought that - this is the one of the themes provided by the apigee-kickstart theme. But the theme I created with the steps is "mytheme" which wasn't being applied  which was created using drush commands.

I can let you know by tomorrow about the "subtheme". But Can you please help me out with the "mytheme" in the mean time.

[2020-06-22 11:04] shadcn commented on #384
@pradeepgorle13 Sure. Can you confirm if "mytheme" was generated successfully? You should see a `mytheme/mytheme.info.yml` file.

[2020-06-22 14:49] pradeepgorle13 commented on #384
Hey Arshad, Please see the file structure that has been created as following. Also, i just used the Drush command to generate the file structure.

Please find the file contents

Also when i tried to apply the other theme "subtheme" the following error was displayed

[2020-06-23 18:41] #373 closed, assigned to nobody

[2020-06-23 22:15] vinayporeddy opened #385 "Drupal SMTP issue"
## Description
SMTP module is not able to send emails.

## Steps to Reproduce

Setup smtp module/configure and try sending emails

## Actual Behavior
We are seeing below error while sending emails.
Error sending e-mail from xxx@xxx.com to xxx@xxx.com: SMTP connect() failed. https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting
 Error sending email (from xxx@xxx.com to xxx@xxx.com with reply-

[2020-06-24 06:35] arunz6161 commented on #385
@vinayporeddy this issue is unrelated to the kickstart module or any Apigee Drupal 8 module. You may want to set the right logging level in SMTP module to narrow down further on the error message.

[2020-06-24 06:35] #385 closed, assigned to nobody

[2020-06-24 16:47] cnovak commented on #385
@vinayporeddy check out the [SMTP project page](https://www.drupal.org/project/smtp) for a link to the issue queue,  you can add a new issue or search to see if someone has had the same issue. I usually find this to be an issue w/the STMP server configuration, use the debugging in the module to figure out what the problem is.  Sometimes SMTP servers will disallow connections to servers incorrectly

[2020-06-25 14:10] pradeepgorle13 commented on #384
@arshad, @cnovak , Any help would be much appreciated. Even tried manually following the steps in "Creating a Sub-theme Manually" from the link

https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/6dd58a1e93e9d06536b2c79313a93b863610b0e7/themes/custom/apigee_kickstart/README.md#using-drush-to-generate-your-sub-theme

It still doesn't display the theme.

Thanks.,
Pradeep

[2020-06-25 14:49] shadcn commented on #384
@pradeepgorle13 I attached a new custom theme I generated.

1. Can you extract and place `apigee_new` under `themes/custom`?
2. Then go to Appearance and click Install and set as default.

This should set the new theme as default.

Can you check and let us know if this works?

[apigee_new.zip](https://github.com/apigee/apigee-devportal-kickstart-drupal/files/4832042/apigee_new.zip)

[2020-06-25 17:23] pradeepgorle13 commented on #384
@arshad Thanks for the suggestion and the zip folder. I tried as you suggested. I copied the folder in the themes/custom

But the theme is not displayed. Used the Cognito Window (No Cahe on browser side). Also did a "drush cache:rebuild".
Please find the below screen shot for undisplayed theme in the list of uninstalled themes. Clarifying that, it is not even present in the insralled themes too.

[2020-06-25 18:19] shadcn commented on #384
@pradeepgorle13 Hmm weird. Can you reproduce the same issue on a clean kickstart install?

[2020-06-25 18:35] pradeepgorle13 commented on #384
@arshad I did that too day before yesterday. We reinstalled apigee-devportal on another server and created new theme(using drush) with name "mytheme" and also copied the "apigee_new" theme today. But, I am unable to see the theme under appearence tab.

[2020-06-25 22:21] cnovak commented on #384
Could it be file permissions? Can the webserver/PHP read these files?

[2020-06-26 00:21] pradeepgorle13 commented on #384
@cnovak @arshad

This is for the radix theme that i have verified.

Please find the themes permissions. I have created two themes with drush and two themes by copying in there from my computer.

Am i missing anything here, Can you  please let me know. I can get an webex for your verification too, if required.

Thanks.,

[2020-06-26 07:03] vinayporeddy commented on #385
@arunz6161 ..Apigee support routed to log a request and hence got to create it here.
@cnovak  Did run tcpdump and we have observed issue with connections and adjust the SMTP configuration which resolved the issue.

[2020-06-26 15:49] pradeepgorle13 commented on #384
@arshad @cnovak

The issue got resolved guys. Thanks for your input, it is to work with permissions only.
How i resolved this
1. I took a server out side of the network and when i used the drush command and created the theme it worked perfectly with the same access permissions as it was in my organization.
2. So i was pretty sure that, there must be some issue within the organization, So I started

[2020-06-29 13:12] shadcn commented on #384
@pradeepgorle13 This is great that you figured it out. Thanks for letting us know.

Drupal covers file permissions in the official doc here: https://www.drupal.org/node/244924

I'm going to close this issue. Feel free to re-open or create a new one if you have any other questions.

Thanks

[2020-06-29 13:12] #384 closed, assigned to shadcn

[2020-07-03 06:18] #379 closed, assigned to shadcn

[2020-07-06 20:49] pradeepgorle13 opened #388 "Getting the Products to be displayed even without logging"
Hi,

Was trying to expose the API's/Products or create a product catalog with the Open API specification even without login. Do we have any option to do that.

Currently we are seeing only the sample API's .Please see the screen shot below
![image](https://user-images.githubusercontent.com/56166711/86640110-022aed00-bfa8-11ea-8e45-efc0df66075a.png)

Can you please redirect me to the right place wh

[2020-07-07 17:45] cnovak commented on #388
I am not sure if I understand what you are asking, but I think you are saying the API Catalog is not populating from your proxies that you have in your org. The API Catalog does not get populated automatically from your proxies or API Products in Apigee, you need to manually create and upload the specs (or automate the process) when you [add an API Doc to your site](https://www.drupal.org/docs/8/m

[2020-07-07 19:25] pradeepgorle13 commented on #388
Thanks Chris, That will help

[2020-07-07 19:25] #388 closed, assigned to arlina-espinoza

[2020-07-09 15:03] samhaldia opened #389 "Media doesn't Render on Pages, when browsed Anonymously"
## Description
When the Apigee Kickstart demo Content Installation is viewed Anonymously, Images doesn't appear to load, its visible only when a user is logged in

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to 'http://localhost/my_project/web/' and browse as anonymous user
2. Hero Images at Header, Cards Images are not rendering
3. Login as authenticated user those demo content i

[2020-07-14 09:04] shadcn opened #391 "Document steps for upgrading to apigee_api_catalog 2.x"
Related:

#363 and #390

[2020-07-14 17:46] #363 closed, assigned to arlina-espinoza

[2020-07-15 22:15] arlina-espinoza opened #394 "Installer sometimes shows an error: you have requested an non-existent service: string_translator.file_translation"
## Description
During installation, the installer will show the error:
_Installer sometimes shows an error: you have requested an non-existent service:
"string_translator.file_translation"_ in Symfony\Component\...

![image](https://user-images.githubusercontent.com/4062676/87605839-70f5fd80-c6ae-11ea-936b-32c4bf9a00a4.png)

## Version Info
Seen since Kickstart 8.x-1.16.

[2020-07-20 16:08] pradeepgorle13 opened #396 "Needed to Provide "Add API Doc" option to the Authenticated user or specific User"
Hi Team,

The Requirement is as follows:
        -  Apart from the administrator, an user should be able to add the Open API Spec using the "Add API Doc"
I followed the following steps
1. I added a role with the name

![image](https://user-images.githubusercontent.com/56166711/87958533-a66c6380-ca7f-11ea-94e4-dc0c3c291f7b.png)

![image](https://user-images.githubusercontent.com/56166711/87958610-b

[2020-07-20 16:33] kiranjyoth commented on #396
@pradeepgorle13
Can you access /admin/content/apis page using this user role ? If so, you have to set a few more permissions.
![image](https://user-images.githubusercontent.com/1490213/87962374-f04b4e80-ca6b-11ea-8017-1c90467254f2.png)
![image](https://user-images.githubusercontent.com/1490213/87962411-fe00d400-ca6b-11ea-9b97-c01494f2ddcf.png)
Apart from these, you may have to check permissions on

[2020-07-20 17:31] pradeepgorle13 commented on #396
@kiranjyoth

I checked for that url you have passed, I see as unauthorized. So Can you please let me know what other access I need to give for the user.

![image](https://user-images.githubusercontent.com/56166711/87967686-306ef900-ca8d-11ea-82fa-ab530ad153c2.png)

![image](https://user-images.githubusercontent.com/56166711/87966073-b8073880-ca8a-11ea-9856-1abfd7a92b5b.png)

What are the other opt

[2020-07-20 20:06] kiranjyoth commented on #396
@pradeepgorle13 You may have to add access to 'content overview page'. If you don't want to give access here, you can add API docs from here --  '/admin/content/api/add' (for API Catalog 2.1 )
' node/add/apidoc ' (for API catalog 2.2)
![image](https://user-images.githubusercontent.com/1490213/87981001-58f4f400-ca89-11ea-88de-40eab38f5c2e.png)

[2020-07-20 21:06] pradeepgorle13 commented on #396
Hi Kiran,

I added as you mentioned previously
 - I enabled the "Access content overview page"
 - I enabled the "use the toolbar"

When i selected the "Administer API Catalog", I am able to see the "Add API doc". But it is givving access to Edit/delete other API's.
![image](https://user-images.githubusercontent.com/56166711/87984775-7be2d080-caa8-11ea-9e77-ef0805fbc2cd.png)

Also the Content Tab a

[2020-07-20 22:11] kiranjyoth commented on #396
Hello Pradeep,

I have setup a new instance with the configuration and requirement you described, and **I can confirm** that without enabling **Administer API catalog** permission, API catalog is not accessible to a user, even if the role is configured to add API docs.
This seems to be a bug with the module in permissions and role matrix.

As Apigee API Catalog module is now updated to version 8.2

[2020-07-20 22:23] pradeepgorle13 commented on #396
Great.. Thanks for the Information. May I know - how i can update the latest version of the APIGEE API Catalog module.
Please note that we have a Firewall which doesn't enable us to upgrade through portal/through internet. Is there a way where i can download and them upgrade it on the boxes. And the locations where i can copy those under /var/www/devportal/ folder.

[2020-07-20 23:12] kiranjyoth commented on #396
@pradeepgorle13 here is the download link https://www.drupal.org/project/apigee_api_catalog/releases/8.x-2.2
Recommended installation is using composer.

Our approach for working within a firewall is to download the updated module locally, commit to the repo and deploy it on the server using CI. But if thats not an option, you may download the zip/tar file and unzip it, replace the older one with

[2020-07-20 23:23] pradeepgorle13 commented on #396
@kiranjyoth Thanks for the suggestion will go through the upgrade process and will let you know. So i am assuming that 8.x-2.2 version is a stable version

[2020-07-21 05:08] kiranjyoth commented on #396
Correct, 8x.2.2 is the latest stable one release July 14th and tagged as recommended by the maintainer.

[2020-07-21 05:36] arunz6161 commented on #389
@samhaldia Looks like you have a local install of the portal. Are you using Nginx ? If yes, can you share the nginx config file here?

[2020-07-21 06:36] samhaldia commented on #389
@arunz6161 yes its a local instance but of XAMPP, and i observed this issue comes after following Drupal Migration from 7 to 8 using DRUPAL MIGRATE UI module and  seems to be fine on fresh install though.

[2020-07-21 12:39] samhaldia commented on #389
@arunz6161 I also setup a local fresh instance on nginx server , and i see the same issue, is there something specific related to nginx conf, it would be nice if you could share

[2020-07-21 18:50] cnovak commented on #397
Moving to Kickstart project so that we can create a CSS file with good comments in the Kickstart theme that takes care of this and can be a source of self documentation for users to know how to make other color changes to the SmartDocs embedded app.

[2020-07-21 19:00] arunz6161 commented on #396
To do: Document upgrade instructions for users behind firewall.

[2020-07-22 09:50] samhaldia commented on #389
I have observed, Its permissions to Anonymous users which gets overridden after Migration, it seems to be fine on allowing  Anonymous users for permissions: Use the Restricted HTML text format, View media

[2020-07-22 09:51] #389 closed, assigned to nobody

[2020-07-22 13:12] pradeepgorle13 commented on #396
Will try and let you know.. Thanks @kiranjyoth

[2020-07-25 00:51] pradeepgorle13 commented on #396
@kiranjyoth
I just downloaded the Zip folder and extracted it. I copied the apigee_api_catalog module and restarted the server. Then ap per your instruction I did the "drush updb". Please find the screenshot below
![image](https://user-images.githubusercontent.com/56166711/88445186-1c116000-cdef-11ea-8f90-baa065a3c94a.png)

Then I restarted the server But I am getting the following error
![image](

[2020-07-27 04:55] kiranjyoth commented on #396
@pradeepgorle13 looks like your install is not able to find the updated module. And from your screenshot I see no pending updates, which means the module is not updated. So I decided to attempt this on an older instance this weekend as I had some time and seemed like a fun challenge. I'm attaching a video of the upgrade attempt I did here. I will write a blog post about this sometime next week in

[2020-07-27 17:28] pradeepgorle13 commented on #396
@kiranjyoth Thanks for the response. It was very helpful. So I have asked my firewall team to open the network for the drupal site for a Day. Then as per the instruction in the Drupal site
https://www.drupal.org/project/apigee_api_catalog/releases/8.x-2.2
I used the command
![image](https://user-images.githubusercontent.com/56166711/88572190-c4504000-d00c-11ea-808c-5709e5ac6258.png)

Just got litt

[2020-07-27 17:42] kiranjyoth commented on #396
@pradeepgorle13 great, if its dev and you have backed up, please run `composer update`. or if you want to just focus on updates for kickstart use `composer update drupal/apigee_devportal_kickstart`. API catalog 2.2 is available only for kickstart 1.7 and hence the requirement lock.

[2020-07-27 21:13] pradeepgorle13 commented on #396
@kiranjyoth Thanks for the response
updated the apigee kick start as well as the catalog
![image](https://user-images.githubusercontent.com/56166711/88591326-2cf9e580-d02a-11ea-9010-a015a324aed2.png)

Then ran the updb too
![image](https://user-images.githubusercontent.com/56166711/88592060-60893f80-d02b-11ea-8642-e28b918d54dd.png)

Then i restarted the server.

Then I tried to see which versions

[2020-07-27 21:39] kiranjyoth commented on #396
@pradeepgorle13 seems like the catalog is not updated. Check your composer file at web/profiles/contrib/apigee_devportal_kickstart/composer.json . The following is mine. If it easier for a quick call, please use this and chat. https://drift.me/stratus-support/
[code]

[2020-07-28 02:32] pradeepgorle13 commented on #396
@kiranjyoth you were correct. It is still pointing to 1.0. Please see the screenshot below
![image](https://user-images.githubusercontent.com/56166711/88612219-b32d2080-d058-11ea-9dae-5f112f3429b2.png)
Will connect with you tomorrow through the chat link you have sent

[2020-07-28 22:43] jbennett13 commented on #283
Added a new section explaining browser support for the Kickstart theme:  https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart/customize-your-developer-portal#s-browser-support-for-the-kickstart-theme

[2020-07-29 22:34] pradeepgorle13 commented on #396
@kiranjyoth @cnovak @earth2marsh
Thanks Kiran for spending more than two hours and guiding me through the issue. Really appreciate your efforts in getting this issue resolved.

Thanks.,
Pradeep

[2020-07-30 03:29] cnovak commented on #396
Thank you @kiranjyoth for giving such great help!

[2020-07-30 20:34] zakiya opened #400 "`npm audit` reports security vulnerabilities"
## Description
`npm audi`t reports security vulnerabilities

## Steps to Reproduce
Steps to reproduce the behavior:
1. run `npm install` from the project root.

## Actual Behavior
Terminal reports:
`found 302 vulnerabilities (299 low, 3 high) in 1301 scanned packages
  run `npm audit fix` to fix 301 of them.
  1 vulnerability requires manual review. See the full report for details.
`
Full report:

[2020-07-31 22:37] #397 closed, assigned to zakiya, arlina-espinoza

[2020-08-04 05:52] Ramadevi-cts opened #401 "Not able to install Drupal8 using composer"
Getting below error while trying to download Drupal8.
[devportal@CTSINAZNPAPI04 www]$ composer create-project apigee/devportal-kickstart-project:8.x-dev devportal --no-interaction
Creating a "apigee/devportal-kickstart-project:8.x-dev" project at "./devportal"
Installing apigee/devportal-kickstart-project (8.x-dev 0a6aab5540df75136af4f5ef7dc7358ef1b3e199)
  - Installing apigee/devportal-kickstart-

[2020-08-04 06:53] arlina-espinoza commented on #401
Hi @Ramadevi-cts ,

It looks like bcmath isn't installed for PHP on your system. On Linux and Mac, you would usually need to use your OS package manager to install it. If you specify what OS you are on we should be able to point you to more specific docs.

[2020-08-04 06:59] Ramadevi-cts commented on #401
Hi Arlina,
Please find below details

Operating System: Red Hat Enterprise Linux Server 7.8 (Maipo)
               CPE OS Name: cpe:/o:redhat:enterprise_linux:7.8:GA:server
               Kernel: Linux 3.10.0-1127.13.1.el7.x86_64
               Architecture: x86-64

Thanks&Regards,
Ramadevi K.