[2020-08-04 16:41] arlina-espinoza commented on #401
I believe something like this would work: `yum install php-bcmath`, and then you might need to restart your webserver: `service httpd restart` (if using apache)

[2020-08-04 20:12] pradeepgorle13 opened #402 "Unable to connect to the Remote Database (when the Devportal app is on one linux Server and MariaDB on the other)"
I have two Linux Servers
 1. Installed the Devportal on Server 1
 2. Installed the MariaDB on the Server 2

![image](https://user-images.githubusercontent.com/56166711/89339293-e7619c00-d66b-11ea-8a5d-cf5025ae4262.png)
By default the server is running on the port 3306.

So changed the file  "/var/www/devportal/web/sites/default/settings.php" as mentioned below
![image](https://user-images.githubus

[2020-08-06 02:42] heykarthikwithu opened #403 "better_exposed_filters module conflicting on composer upgrade"
## Description
We have a new release on better_exposed_filters in 8.5.x
https://www.drupal.org/project/better_exposed_filters/releases/8.x-5.0-beta1

We have as 8.3.x in the apigee-devportal-kickstart-drupal
`    "drupal/better_exposed_filters": "^3.0@alpha",`

For this reason, we see conflict while running the `composer update`

We should have 8.5.x in the composer json in apigee-devportal-kickst

[2020-08-06 07:48] Ramadevi-cts commented on #401
Now getting below error:
Problem 1
    - drupal/commerce 2.x-dev requires drupal/core ^8.8 || ^9 -> satisfiable by drupal/core[8.8.0, 8.8.0-alpha1, 8.8.0-beta1, 8.8.0-rc1, 8.8.1, 8.8.2, 8.8.3, 8.8.4, 8.8.5, 8.8.6, 8.8.7, 8.8.8, 8.8.x-dev, 8.9.0, 8.9.0-beta1, 8.9.0-beta2, 8.9.0-beta3, 8.9.0-rc1, 8.9.1, 8.9.2, 8.9.3, 8.9.x-dev, 9.0.0, 9.0.0-alpha1, 9.0.0-alpha2, 9.0.0-beta1, 9.0.0-beta2, 9.0.0-beta3

[2020-08-06 12:14] Ramadevi-cts commented on #401
Hi Team,

After doing configure changes for PHP FastCGI Process Manager (PHP-FPM) to run as user “nginx” instead of “apache.” , the nginx test page is not loading upon navigating to the server’s hostname or IP in a browser. Please provide the solution.

[2020-08-06 19:58] pradeepgorle13 commented on #402
@arlina-espinoza @minnur Can you suggest any options?

[2020-08-06 20:09] arlina-espinoza commented on #401
@Ramadevi-cts Could you post your complete `composer.json` file? And also what version of PHP you are on.

[2020-08-07 09:29] Ramadevi-cts commented on #401
Attached composer file.

PHP version:
PHP 7.4.8 (cli) (built: Jul 23 2020 02:48:26) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.8, Copyright (c), by Zend Technologies

Thanks&Regards,
Ramadevi K.

From: Arlina Espinoza Rhoton <notifications@github.com>
Sent: Friday, August 7, 2020 1:39 AM
To: apigee/apigee-devportal-kickstart-d

[2020-08-07 18:13] arlina-espinoza opened #404 "Installer can't complete if you skip the Edge connection settings step"
## Description
Installer can't complete if you skip the Edge connection settings step.

## Steps to Reproduce
Steps to reproduce the behavior:
1. On a clean install with `composer create-project apigee/devportal-kickstart-project:8.x-dev`
2. Follow installation steps.
3. When on the Apigee connection settings screen, select "skip this step".
4. A whitescreen is shown. PHP error log shows:
  `Fatal

[2020-08-10 13:14] pradeepgorle13 commented on #402
@minnur if possible can we have a Webex so that I can share my screen to show where i am facing the issue.

[2020-08-10 15:30] minnur commented on #402
Hi @pradeepgorle13 are you able to try install Kickstarter using local database (code and db on the same server) ? I would like to make sure this issue is relevant to the kickstarter.

[2020-08-10 15:44] pradeepgorle13 commented on #402
@minnur When I installed using the kickstarter with the local Database(Code and db on the same server), It is working fine. But when i installed the DB on the other server and changing the settings.php, The error mentioned previously is being displayed.

[2020-08-10 16:01] minnur commented on #402
@pradeepgorle13  From the errors I see in the screenshots you provided it looks like your DB is not accessible from remote. Yes most likely your server is not properly configured. Take a look here https://mariadb.com/kb/en/configuring-mariadb-for-remote-client-access/ for my.cnf configuration.

[2020-08-10 16:05] pradeepgorle13 commented on #402
Hi @minnur , I verified if you see my last point in the above
I tried some more uses cases and found that
Step 1. Called the command "mysql -u devportal -h DatabaseServerIP –p " from the server where Developer portal is installed.
Step 2. It asked for a password since i haven't mentioned any password in the above command.
Step 3. After entering the correct password, I was able to connect to the re

[2020-08-10 16:58] minnur commented on #402
This is a documentation page for the database configuration of Drupal https://www.drupal.org/docs/8/api/database-api/database-configuration

[2020-08-10 16:59] pradeepgorle13 commented on #402
Sure, Will let you know once i go through

[2020-08-10 17:36] Shanli-Yu commented on #402
Is there any logs from the remote server where mariaDB is installed that indicates connection attempts from devportal?

[2020-08-10 18:28] pradeepgorle13 commented on #402
I

Hi @Shanli-Yu  I haven;t seen any logs in the dbserver regarding the connection. Now it just changed my view
  When i used the page and refreshed it, it isn't connecting to the dbserver and ai am not seeing any logs

Even When i am connecting to the server with the devportal server to remote DBserver in the command line, I can see the success but not the logs updated
![image](https://user-image

[2020-08-10 18:36] Shanli-Yu commented on #402
From what I can see so far of that error there are two existing causes and resolutions:

1. The database is misconfigured and could not accept connections.
This does not seem to be the issue since you were able to connect using mysql command

2. Connection settings are not configured correctly in settings.php.
One of the things that can cause this was that the hostname was not specified as IP addr

[2020-08-10 19:09] pradeepgorle13 commented on #402
Yeah @Shanli-Yu , I used the IP in the settings.php. If you see the below image, I have updated with ip too... I just did all the permutations and combinations here. Anyways, I am going to change the userid and password.. Was just sharing this...
![image](https://user-images.githubusercontent.com/56166711/89820721-73b40900-db1b-11ea-87f8-b560e10410f8.png)

[2020-08-10 19:13] arlina-espinoza commented on #404
Adding a PR on https://github.com/apigee/apigee-edge-drupal/pull/465 that will fix it.

[2020-08-10 19:22] arlina-espinoza commented on #404
Adding PR that should require the new version of apigee_edge with the fix: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/406

[2020-08-10 20:23] Shanli-Yu commented on #402
The only other thing I can think of is the port number. I see that you are using 3306 which is the number for internal connection, can you update the port number to external connection and see if it will connect?

[2020-08-10 20:31] pradeepgorle13 commented on #402
Hi @Shanli-Yu , I also went through that route.. Can you please let me know if i am going in the right direction. Please find the following image for the port where mysql is open
![image](https://user-images.githubusercontent.com/56166711/89828065-8849ce80-db26-11ea-9649-2d2f499a538a.png)
Also adding other image for the Status
![image](https://user-images.githubusercontent.com/56166711/89828276-d4

[2020-08-10 20:41] pradeepgorle13 commented on #402
@minnur I  checked for remote connections from the Devportal server to Database server through command line and it is absolutely working fine. Me and @Shanli-Yu discussed regarding this. Please find the my.conf file contents as following

![image](https://user-images.githubusercontent.com/56166711/89829252-4457c900-db28-11ea-99cf-144d227ec03d.png)

[2020-08-10 20:42] pradeepgorle13 commented on #402
Any other options @Shanli-Yu ? Any place where i am going wrong

[2020-08-10 20:53] Shanli-Yu commented on #402
@pradeepgorle13 Seems like there is no other configurations done to mysql based on the output then 3306 should be the correct port number.

[2020-08-10 20:59] pradeepgorle13 commented on #402
@minnur  @shanli-yu So, Can you please suggest where i am going wrong.. I can setup some webex call if required..

[2020-08-10 21:29] Shanli-Yu commented on #402
@pradeepgorle13 Since so far I cannot see any discrepancies in devportal settings, I highly recommend to first configure the server logging threshold if possible, to view the server access logs and confirm if the devportal node is at least making connection attempts, if there are attempts and based on the error the connection was refused, then the issue can be narrowed to server configuration rath

[2020-08-10 21:44] pradeepgorle13 commented on #402
Sure @Shanli-Yu , Will see how far i can go and will update you guys tomorrow morning.

[2020-08-11 18:09] #404 closed, assigned to arlina-espinoza

[2020-08-11 18:37] arlina-espinoza commented on #400
Fixed by #405 .

[2020-08-11 18:37] #400 closed, assigned to zakiya

[2020-08-12 04:19] pradeepgorle13 commented on #402
@minnur @Shanli-Yu By any chance, Is it a Selinux issue ? I tried getting the logs and i wasn't able to get the detailed logs. IF you guys point me to any Mariadb logs enabling for debug. it would be of great help.

[2020-08-13 00:18] pradeepgorle13 commented on #402
I was able to resolve the issue. There was an issue with the SELinux as expected in my previous post. So i sort of disabled it.

[2020-08-13 00:18] #402 closed, assigned to minnur

[2020-08-13 16:14] pradeepgorle13 opened #407 "Wanted to provide the App Owner Role to approve the App(which has a product) request raised"
Hi,

We have a API Owner/Product Owner in the organization.
A consumer logs into Developer Portal and creates a APP and selects a Product and submit the request for the Access.
The access needs to be manually approved by the API Owner/Product Owner. Now we are currently doing in the EDGE UI.
Do we have a way to approve in the Developer Portal. Means the complete process should be done in Developer

[2020-08-13 16:37] kiranjyoth commented on #407
@pradeepgorle13
This will fit your use case. https://www.drupal.org/project/sm_appdashboard_apigee

[2020-08-17 04:03] pradeepgorle13 commented on #407
Thanks Kiran, Will install this and let you know if i have any issues regarding this.

[2020-08-18 12:38] cnovak commented on #318
We have now released [Ansible install scripts to speed up installation of Drupal 8](https://github.com/apigee/devportal-kickstart-drupal-ansible-installer), check it out and add any issues or questions in the issue queue.

[2020-08-18 12:38] #318 closed, assigned to cnovak

[2020-08-18 18:20] shadcn opened #409 "Update UI/theme for API Keys"
Update app UI and fix styles once https://github.com/apigee/apigee-edge-drupal/pull/446 is merged.

See also: https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/408

[2020-08-18 18:29] arunz6161 commented on #401
Apigee support to follow up

[2020-08-18 18:33] arunz6161 commented on #407
@pradeepgorle13 I am closing this out as there are no plans on adding this feature in kickstart module. Hope the solution shared by @kiranjyoth works for you.

[2020-08-18 18:33] #407 closed, assigned to nobody

[2020-08-19 04:22] pradeepgorle13 opened #410 "While Installing in a new environment, getting the permission denied issue"
Hi Guys,

Followed the process mentioned in the below link but the DB in the other server
https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart/use-kickstart-with-apigee-edge-for-private-cloud

On the browser i see the following error
![image](https://user-images.githubusercontent.com/56166711/90592758-571b6f00-e1b4-11ea-910a-91ac995cb479.png)

I am facing an issue while installi

[2020-08-19 14:20] VladimirAus opened #411 "Remove secret fix once edge PR is accepted."
Secret in broken in https://github.com/apigee/apigee-edge-drupal/
https://github.com/apigee/apigee-edge-drupal/issues/467 fixes this functionality which was implemented in kickstart.

## Describe the solution you'd like

Remove the functionality from kickstart once https://github.com/apigee/apigee-edge-drupal/pull/468 is merged.

[2020-08-19 15:31] VladimirAus opened #412 "Remove app actions from kickstart once PR is merged in edge"
There is no app actions in https://github.com/apigee/apigee-edge-drupal/
https://github.com/apigee/apigee-edge-drupal/issues/469 introduces this functionality which was implemented in kickstart.

## Describe the solution you'd like

Remove the functionality from kickstart once https://github.com/apigee/apigee-edge-drupal/pull/470 is merged.

[2020-08-19 21:09] pradeepgorle13 commented on #410
This is applicable to the OnPrem installation where Secured Linux is used.
I was able to resolve this issue. It was because of the SELINUX issue.
In the file "/etc/sysconfig/selinux"
Changed SELINUX from "Enforcing" to "Permissive"

[2020-08-19 21:09] #410 closed, assigned to nobody

[2020-08-19 22:00] pradeepgorle13 opened #413 "Issue with 'PDO'"
Getting this following error when trying to connect to the DB
![image](https://user-images.githubusercontent.com/56166711/90693894-a52c8300-e245-11ea-8fc6-925c9767ddd0.png)

I ran the following command for to yum install php modules (since instead of php, were asked to use rh-php)

yum install rh-php73-php.x86_64 rh-php73-php-bcmath.x86_64 rh-php73-php-common.x86_64 rh-php73-php-cli.x86_64 rh-php7

[2020-08-20 13:27] Stephen-lapierre-mpf opened #415 "No Apigee published Apps on Kickstart App page"
## Description
Updated to Kickstart 1.17.0 and Drupal Core 8.9.3 and published Apps on Apigee are not displayed on Kickstart app page, but are visible on Add App and appear on adding.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Actual Behavior
Apps not visible to obtain consumer key.
## Expected Behavior
Approved published

[2020-08-21 10:40] #401 closed, assigned to arlina-espinoza

[2020-08-25 17:36] arlina-espinoza commented on #394
Could not replicate anymore, closing.

[2020-08-28 16:13] Stephen-lapierre-mpf commented on #415
I deleted and recreated apps and api products, resolved.

[2020-08-28 16:13] #415 closed, assigned to arlina-espinoza

[2020-08-28 17:03] arlina-espinoza commented on #413
@pradeepgorle13  You can check if the PDO driver for MySQL is enabled: `php -i | grep -i pdo` and post the command's response here. It should specify if PDO is enabled and what drivers are available. Also make sure to restart your server after installing any PHP extension.

As another option, try the troubleshooting steps described in this page: https://www.drupal.org/docs/7/system-requirements/wh

[2020-09-01 18:39] #403 closed, assigned to zakiya

[2020-09-01 21:42] cbzdok opened #417 "Issues upgrading API Catalog - pantheon.apidoc table doesn't exist"
When trying to update the API Catalog to the next version we are receiving the following error:

Drupal\Core\Database\DatabaseExceptionWrapper: "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'pantheon.apidoc' doesn't exist

same thing goes for viewing apidocs. I assume there is some configuration issue perhaps with schema name but do not know the right way to resolve this.

Uncaught PH

[2020-09-08 05:45] arlina-espinoza commented on #413
Marking as closed, feel free to reopen if you have further questions.

[2020-09-08 05:45] #413 closed, assigned to nobody

[2020-09-08 07:49] #409 closed, assigned to shadcn

[2020-09-09 18:08] arlina-espinoza opened #418 "Add CircleCI testing"
Add CircleCI testing, and include the following steps:
- Code sniffer
- D9 deprecations check
- Kernel tests
- Functional tests
- Functional JavaScript tests

[2020-09-09 18:09] arlina-espinoza opened #419 "Enable CI testing matrix against both D8 and D9"
Enable CI testing matrix against both D8 and D9, after #418 .

[2020-09-09 18:12] arlina-espinoza opened #420 "Manual testing against D9"
Manually review the installation and functionality using Drupal 9 (after #419). Try different scenarios:
- With/without configuring Apigee Connection settings in the installer.
- With/without monetization
- With/without add credit
- With/without demo content.

[2020-09-09 18:17] arlina-espinoza opened #421 "Add a test to verify installation profile"
Add at least an automated test class to verify the distribution under the following installation options:
- Setting the Apigee Connection settings
- No monetization
- Enable demo content

Verify the following:
- Frontpage loading with featured APIs, main menu links, account links (apps, my account, logout).
- Viewing an API Doc page: making sure SmartDocs widget is rendered.

Depends on #418.

[2020-09-10 05:26] pradeepgorle13 opened #422 "Wanted to Change the port from 80 to 8443"
Hi Guys,

When i try to login with "http://developer.abc.com:80" i am able to see the drupal page. I wanted to change to 8443 instead of 80, it means that "http://developer.adc.com:8443" should work for me. What are the file changes that are required to do that from my side. Can you please help me out.

Thanks.,

[2020-09-10 18:55] arlina-espinoza commented on #422
Hi @pradeepgorle13,
This is not directly related to Kickstart, rather it is a configuration on your webserver, so you should check out the documentation of either apache or nginx (depending on what you are using). Here are some links that might get you started on your search:
- https://www.tecmint.com/change-apache-port-in-linux/
- https://www.tecmint.com/change-nginx-port-in-linux/

[2020-09-10 19:06] pradeepgorle13 commented on #422
Thanks @arlina-espinoza ,This helps me a lot. I was also browsing around and stumbled upon this and it worked for me. I thought that we can do something using the settings file. But thanks for correcting me. Just changed it and it is working fine for me now.
https://serverfault.com/questions/10854/nginx-https-serving-with-same-config-as-http

[2020-09-10 19:06] #422 closed, assigned to raakesh-blokhra

[2020-09-15 20:05] zakiya opened #423 "Notice during installation: Notice: Trying to access array offset on value of type null in Drupal\default_content\Importer->importContent() (line 167 of modules/contrib/default_content/src/Importer.php). Drupal\default_content\Importer->importContent('apigee_kickstart_content') (Line: 15)"
## Description
A PHP notice appears after the **Install demo content** step on Apigee Kickstarter

## Steps to Reproduce
Steps to reproduce the behavior:
1. composer create-project apigee/devportal-kickstart-project:8.x-dev
2. Run through Drupal installer.
3. Check Enable Demo Content at the Install demo content step
4. Save.

## Actual Behavior
A PHP notice is written to the screen. (full text be

[2020-09-15 23:43] pradeepgorle13 opened #424 "Quick Question on API upload and publishing option"
Hi Guys,

Need your guidance on one thing.
Under /admin/content/api/add
I want to make sure to divide the API Publisher to API Developer and API Owner.
If you see the below screenshot, the API Developer should be able to upload the API Spec and it will be informed to the API Owner who in turn will publish it.
![image](https://user-images.githubusercontent.com/56166711/93275410-d2a81600-f78a-11ea-8

[2020-09-16 21:17] BillMarx opened #425 "Drupal 8 Apigee Kickstart HTTPS issue"
Hi,
I have a drupal 8 server in AWS loaded with the Apigee kickstart.  I recently added a certificate and configured for https.  The main screen works but all the other links break as they refer back to http.  I have tried all of the suggestions in https://www.drupal.org/https-information as far as .htaccess rewrite rules and settings.php.  This breaks the site with too many redirect messages.  An

[2020-09-16 21:50] arlina-espinoza commented on #425
Hi @BillMarx ,

Most likely the issue is that the drupal site is served behind a load balancer / reverse proxy. In this setup the drupal site might not actually _know_ that the content is being requested via https and thus show all links as http. In D7 it was an easy fix, as you could easily configure  `$base_url`. However, for D8 you'll need to configure some things in your settings.php file, som

[2020-09-16 21:59] arlina-espinoza commented on #424
Hi @pradeepgorle13 ,

It looks like you are using `apigee_api_catalog` 1.x. If you update to the 2.x branch you'll find the API Doc custom entity was migrated into nodes. Once your project is on the 2.x branch with nodes, you can setup an editorial workflow using the core module "Content Moderation" that will allow a role to edit nodes, and another role can have permission to publish.

There shoul

[2020-09-18 21:15] arlina-espinoza commented on #425
Closing, but feel free to reopen if there are further questions.

[2020-09-18 21:15] #425 closed, assigned to arlina-espinoza

[2020-09-18 21:15] arlina-espinoza commented on #424
Closing, but feel free to reopen if there are further questions.

[2020-09-18 21:15] #424 closed, assigned to arlina-espinoza

[2020-09-21 17:16] kscheirer commented on #391
I just went through this, there's a few more steps I needed to take:

Changes to the apidoc content type:
1. Note the values of the Image and Categories fields for each apidoc node, we'll need them below.
1. Delete the existing Categories and Image fields.
1. Add new Image field, must be named "Image" so the machine name is field_image.
1. Add new Taxonomy term reference field, must be named "Cate

[2020-09-24 11:38] shadcn commented on #391
@kscheirer Thanks for the notes. I implemented two hooks to do the above. See https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/426

[2020-09-25 19:38] BillMarx opened #427 "Pages rendering differently between IE and Chrome"
Hi,

   The Apigee kickstart in Drupal 8 looks good in chrome but the pages are not rendering correctly in IE.  Is a change required to fix this?

Thanks
Bill

[2020-09-28 15:59] kscheirer commented on #427
IE can be tricky. What version are you using? Can you post a screenshot of what's incorrect?

[2020-09-28 17:57] BillMarx commented on #427
Hi,

  We are running Version:

Thanks!!

[cid:image001.png@01D6959F.35AA72F0]

Differences:

【IE】
[cid:image002.jpg@01D6959F.35AA72F0]
[cid:image003.png@01D6959F.35AA72F0]
【Chrome】
[cid:image004.jpg@01D6959F.35AA72F0]

[cid:image009.png@01D6959F.4677E6D0]

[cid:image010.png@01D6959F.4677E6D0]
Bill Marx | Manager, IT Infrastructure
Prudential Financial | Global Technology​
30 Scranton Office Park

[2020-09-28 18:06] kscheirer commented on #427
@BillMarx none of that message came through :) I think you'll have to post here on GitHub directly instead of via email.

[2020-09-28 18:14] BillMarx commented on #427
[IEvsChrome.docx](https://github.com/apigee/apigee-devportal-kickstart-drupal/files/5294230/IEvsChrome.docx)

[2020-09-28 18:15] BillMarx commented on #427
Hi.. Uploaded a word doc with screen shots

Thanks
Bill

[cid:image001.png@01D695A1.CFC3D780]
Bill Marx | Manager, IT Infrastructure
Prudential Financial | Global Technology​
30 Scranton Office Park | Scranton, PA 18507​
T 570 340 4266 | William.marx@prudential.com​
 [6170A350]

From: Karl Scheirer <notifications@github.com>
Sent: Monday, September 28, 2020 2:06 PM
To: apigee/apigee-devportal-kick

[2020-09-28 19:43] rodrilapenta opened #429 "PHP 7.3 end-of-support"
Hi,

I'm installing the Drupal 8 Develper Portal (on-prem) on RHEL 7.8 and I'm using the "Use Kickstart with Apigee Edge" tutorial, which makes me install PHP 7.3 using Remi's RPM repo. As far as I know, nowadays PHP 7.3 version's end-of-support is December 2020, so I was wondering if there's a chance that I can use a newer version (maybe 7.4), or maybe the docs are outdated.

Thanks

Rodrigo

[2020-09-28 19:50] kscheirer commented on #429
Yeah the docs are just outdated, Drupal 8 supports PHP 7.4, https://www.drupal.org/docs/system-requirements/php-requirements.

[2020-09-29 05:31] #418 closed, assigned to arlina-espinoza

[2020-09-29 05:43] #391 closed, assigned to nobody

[2020-09-29 08:38] VladimirAus opened #431 "Remove app warnings code from apigee_kickstart_enhancement.module"
## Description

Warnings only present when profile is present making module is not fully functional.

<img width="1036" alt="Screen Shot 2020-09-29 at 6 30 15 pm" src="https://user-images.githubusercontent.com/1356166/94533077-0d797600-0282-11eb-912f-56684dbe15c7.png">

## Steps to Reproduce

1. Invalidate one of the APIs used by the application.
2. Warning only visible when installation profile i

[2020-09-29 16:53] shadcn commented on #431
@VladimirAus We're actually reworking this bit.

In https://github.com/apigee/apigee-edge-drupal/pull/446 we removed the warning for revoked credentials. See @cnovak comment below:

We need to update this kickstart now.

[2020-09-29 18:32] arunz6161 commented on #431
After fix in https://github.com/apigee/apigee-edge-drupal/issues/492 , remove the warnings from kickstart.

[2020-09-29 18:52] arunz6161 commented on #429
To be discussed in deep dive.

[2020-09-29 21:19] cnovak commented on #429
Thanks for info @rodrilapenta. I have updated the documentation to reflect 7.4 is the PHP version you should currently be using: https://www.drupal.org/node/3078995/revisions/view/12031127/12077856

[2020-09-29 21:19] #429 closed, assigned to arlina-espinoza

[2020-09-30 07:21] shadcn commented on #431
@VladimirAus we are going to handle all app warnings in apigee_edge and remove the code from kickstart. I'll update the ticket to reflect this.

Thank you for your help on this. Appreciate it.

[2020-09-30 19:15] BillMarx commented on #427
Hi – Any update?

Thanks
Bill

[cid:image003.png@01D6973C.93384A20]
Bill Marx | Manager, IT Infrastructure
Prudential Financial | Global Technology​
30 Scranton Office Park | Scranton, PA 18507​
T 570 340 4266 | William.marx@prudential.com​
 [6170A350]

From: William Marx
Sent: Monday, September 28, 2020 2:15 PM
To: apigee/apigee-devportal-kickstart-drupal <reply@reply.github.com>; apigee/apigee-d

[2020-09-30 20:09] #283 closed, assigned to jbennett13

[2020-10-01 15:06] zakiya commented on #427
I took a look at a fresh Apigee Kickstart install in IE 11 and was unable to find any discrepancies. I tried to reproduce the screenshots in the .docx file by logging in as different users, blocking external resources, and disabling aggregation. Next steps might be to see if there's anything telling in your console log and/or checking for user or network specific settings like Compatibility Mode.

[2020-10-01 18:05] BillMarx commented on #427
I think this may be do to the kickstart we installed (several months back).  Is there a way I can update only the kickstart and not lose all the setups we did?  I am running on RHEL

Thanks
Bill

[cid:image001.png@01D697FB.E3F925F0]
Bill Marx | Manager, IT Infrastructure
Prudential Financial | Global Technology​
30 Scranton Office Park | Scranton, PA 18507​
T 570 340 4266 | William.marx@prudential

[2020-10-02 20:57] #419 closed, assigned to arlina-espinoza

[2020-10-05 16:15] #280 closed, assigned to jbennett13

[2020-10-05 23:51] arlina-espinoza commented on #420
All case scenarios passed successfully on D9 with the latest 8.x-1.x.

[2020-10-05 23:51] #420 closed, assigned to zakiya

[2020-10-07 19:49] arlina-espinoza commented on #411
Update: We've updated the code that handles showing/hiding the secret in the `apigee_edge` module, and it essentially copies what is done in Kickstart, as it was a more robust implementation. Note that we named the secret element in apigee_edge module as `apigee_secret` not to conflict with Kickstart's `secret`. See PR https://github.com/apigee/apigee-edge-drupal/pull/496

This ticket is now basic

[2020-10-08 19:47] minnur commented on #423
@zakiya @arlina-espinoza I am unable to replicate the issue. I've tried multiple times to replicate it and no luck. I checked default_content contrib module issue queue for issues that might be related or similar to this one -  nothing.

[2020-10-09 00:10] arlina-espinoza opened #435 "Block related warnings in watchdog after installing with Drupal 9"
When installing Kickstart with Drupal 9, several block related warnings are seen in watchdog.This is not blocking installation or preventing functionality from getting installed.

Example:
![image](https://user-images.githubusercontent.com/4062676/95525234-6f279780-0988-11eb-8f37-c8017e7e15fd.png)

## To Reproduce
1. Install latest Kickstart with Drupal 9, as described in https://github.com/apigee

[2020-10-09 00:31] cnovak commented on #435
Should the messages be blocked, or the invalid items removed so the errors are not happending?

[2020-10-09 16:29] arlina-espinoza commented on #435
We should investigate why the block content wasn't found. I see all relevant blocks installed, so maybe there is an extra step to take for D9.

[2020-10-09 21:32] giteshk opened #436 "Please add SMTP as a dependency to the profile"
SMTP module will be required by most customers and should be a required dependency.

[2020-10-13 06:17] arlina-espinoza commented on #423
Thanks @minnur . Let's close this and we can always reopen if it gets reported again.

[2020-10-14 17:55] arlina-espinoza commented on #427
@BillMarx You should be able to update as any other drupal module. There are some general instructions here: https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart/get-started-with-kickstart#s-upgrading-kickstart

Be sure to backup your site (database, code, files) before update, and run it against a development server before doing it on your production instance. The onl

[2020-10-14 17:55] #427 closed, assigned to zakiya

[2020-10-14 19:49] #411 closed, assigned to minnur

[2020-10-14 23:23] arlina-espinoza commented on #412
@VladimirAus Could you take a look at my comment on https://github.com/apigee/apigee-edge-drupal/issues/469#issuecomment-708566020?

[2020-10-23 17:22] cnovak commented on #394
I just ran into this issue installing w/monetization org. This happens after configuring the Apigee connection.

<img width="855" alt="Screen Shot 2020-10-23 at 10 22 29 AM" src="https://user-images.githubusercontent.com/613093/97034372-a914a400-1519-11eb-8cf7-d47ce3578689.png">

[2020-10-23 22:04] zakiya commented on #394
I got the same issue for Drupal 9.

![devportal](https://user-images.githubusercontent.com/915352/97057714-b7c28180-1540-11eb-9f67-4cb790816e65.png)

Composer version 1.10.13
PHP 7.3.11

$ composer show
[code]

[2020-10-24 05:53] minnur commented on #394
@cnovak @zakiya So far the only place where that service is in use is in core. I couldn't find any related issues on drupal.org. What language and country do you see selected for the installation ?

[2020-10-24 18:20] zakiya commented on #394
@minnur
Got the same error with the following configurations:
**Language:** English **Country:** --None --
**Language:** English **Country:** United States
**Language:** Español **Country:** Mexico

[2020-10-27 13:17] shadcn commented on #302
Closing this as duplicate of #421

[2020-10-27 13:17] #302 closed, assigned to shadcn

[2020-10-29 21:21] arunz6161 commented on #412
Please reopen if still an issue.

[2020-10-29 21:21] #412 closed, assigned to arlina-espinoza

[2020-11-04 20:54] #431 closed, assigned to shadcn

[2020-11-05 22:01] arunz6161 opened #440 "[Placeholder ] To update Apigee connections settings information for new platform"
Adding this card to track the work needed to update working on the Drupal Module connection page:

Modify drupal module connection settings options to say "Hybrid / TBD" or something like that

[2020-11-09 17:26] arlina-espinoza commented on #394
@zakiya Just got this error 3 days ago, so this is still happening under some scenarios (https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/439#issuecomment-723361786).

[2020-11-12 22:06] zakiya commented on #423
FYI -
![notice](https://user-images.githubusercontent.com/915352/99001753-41d28a00-24f0-11eb-9b53-06b9c254df3c.png)
Experienced this in Drupal 9 (but not Drupal 8) while testing  https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/439. This might be worth revisiting once that PR is merged.

[2020-11-13 03:06] #394 closed, assigned to minnur

[2020-11-16 06:04] #435 closed, assigned to shadcn

[2020-11-16 06:04] arlina-espinoza commented on #423
@zakiya Let us know if this persists now that #439 is merged.

[2020-12-03 22:58] cnovak commented on #396
I will close this issue, but please comment if there is anything left to do.

[2020-12-03 22:58] #396 closed, assigned to arunz6161

[2020-12-03 23:01] cnovak commented on #308
will close since this is not reproducible.

[2020-12-03 23:01] #308 closed, assigned to nobody

[2020-12-04 19:32] sivakrishna-yarlagadda opened #442 "FastCGI sent in stderr"
Our Developer portal is not working. Getting below error "The website encountered an unexpected error. Please try again later."

Log File Log :-

FastCGI sent in stderr:
 "PHP message: Uncaught PHP Exception Drupal\Core\File\Exception\DirectoryNotReadyException:
 "The specified file 'temporary://fileOXdLb9' could not be copied because the destination directory is not properly configured.
 This may

[2020-12-11 19:24] cnovak commented on #350
@arunz6161 @jbennett13  can you add more information on what is needed to be documented?

[2020-12-11 19:33] cnovak commented on #333
We don't do any nightly jobs but PRs run against Drupal 8 and 9 stable versions.

[2020-12-11 19:34] cnovak commented on #304
Closing issue

[2020-12-11 19:34] #304 closed, assigned to nobody

[2020-12-11 19:38] cnovak commented on #255
Closing as it is not a feature to add to Kickstart, but if you create this module let us know and we can incorporate it.

[2020-12-11 19:38] #255 closed, assigned to nobody

[2020-12-11 19:39] cnovak commented on #238
@jbennett13 is this completed or still outstanding?

[2020-12-11 21:24] arlina-espinoza commented on #442
Hi @sivakrishna-yarlagadda ,

It looks like Drupal cannot write to the temporary file system. Make sure you have the right configuration in your `settings.php` file:

For Drupal 8.8+:
[code]
Drupal 8.7 and below:
[code]

The path should be writable by the webserver. Usually the `/tmp` directory exists and is writable on all systems, but if you are having access permissions, you might need to check

[2020-12-14 16:53] sivakrishna-yarlagadda commented on #442
We have tried with above option  but still site is not working.

2020/12/14 11:51:43 [error] 1428#0: *16964 FastCGI sent in stderr: "PHP message: Uncaught PHP Exception Drupal\Core\File\Exception\DirectoryNotReadyException: "The specified file 'temporary://file3bKs49' could not be copied because the destination directory is not properly configured. This may be caused by a problem with file or dire

[2020-12-15 23:30] huilinks opened #444 "Error creating Apigee drupal 8 kickstart project"
## Description
When I use the following command to create Apigee kickstart drupal,
c:\temp>composer create-project apigee/devportal-kickstart-drupal-8.x-1.x myproject

I get the following error.

  [Composer\Downloader\TransportException]
  curl error 60 while downloading https://packages.drupal.org/8/packages.json: SSL certificate problem: self signed certificate in certificate chain

## Steps to

[2020-12-18 18:37] kscheirer commented on #444
This is a composer/php configuration issue, not related to kickstart. Can you try some of the advice from https://stackoverflow.com/questions/21114371/php-curl-error-code-60? It seems like this should solve it
1. Copy this certificate bundle on your disk - https://curl.haxx.se/ca/cacert.pem
2. add `curl.cainfo = "path_to_cert\cacert.pem"` to php.ini

[2020-12-21 17:53] cnovak commented on #444
Thanks @kscheirer for helping w/this issue! Will close it, but add a comment if there are still issues.

[2020-12-21 17:53] #444 closed, assigned to nobody

[2020-12-23 03:55] tieudaotu90 opened #445 "Dev Portal MySQL do not replicate"
I'm facing a problem about replication between 2 nodes of MySQL database for Dev Portal. (Each Dev Portal site has its own DB)
Each node is replicate to other. if we disable 1 way replicate, the error still occur.

Here is an error;
Last_SQL_Error: Could not execute Delete_rows event on table mb.sessions; Can't find record in 'sessions', Error_code: 1032; handler error HA_ERR_KEY_NOT_FOUND; the ev

[2020-12-23 17:46] cnovak commented on #445
This is not an issue with our Drupal distribution, but with the configuration/maintenance of a MySQL replication issue. A quick search brought up [this article explaining replication issues](https://severalnines.com/blog/mysql-tutorial-troubleshooting-mysql-replication-part-2) which may help.

I am not sure how else we can help you configure and handle MySQL replication issues, maybe [MySQL docume

[2020-12-23 17:46] #445 closed, assigned to nobody

[2020-12-25 22:04] kscheirer commented on #442
The error is still the same `The specified file 'temporary://file3bKs49' could not be copied because the destination directory is not properly configured.`. Check the settings at Configuration => Media? => File system. Also check the Status report page.

[2020-12-25 23:21] sivakrishna-yarlagadda commented on #442
We are not able to
Login site how can we check settings ?

On Fri, Dec 25, 2020 at 4:04 PM Karl Scheirer <notifications@github.com>
wrote:

--
Thanks & Regards
Y.Sivakrishna,

[2020-12-29 17:03] phdhiren commented on #442
@sivakrishna-yarlagadda, Was this instance running earlier Or its new Or after migrated to new server?

You can get more information on error log by adding following in `settings.php`
`$config['system.logging']['error_level'] = 'verbose';
`

[2020-12-30 17:21] sivakrishna-yarlagadda commented on #442
thanks @phdhiren  we are able to get full details.  Please help us on following issue. We have correct permission even though we are not able to install module.

public://asset_injector should have write access. (Currently using Asset Injector version Directory not writable)

[2020-12-31 05:59] phdhiren commented on #442
@sivakrishna-yarlagadda, It seems more of webserver config issue. You should check apache/httpd is running with which user and that user should write permission on folders mentioned for `file_public_path` and `file_private_path` variables in settings.php

[2021-01-07 22:39] kscheirer commented on #442
This seems like the first issue to resolve.

[2021-01-07 22:59] huilinks commented on #444
I am still seeing the same error after I download the certificate and add
to my php.ini file

On Mon, Dec 21, 2020 at 11:53 AM Chris Novak <notifications@github.com>
wrote:

[2021-01-07 23:09] huilinks commented on #444
I am able to download Drupal 8 without any issues (
https://www.drupal.org/docs/develop/using-composer/using-composer-to-install-drupal-and-manage-dependencies#download-core
)
composer create-project drupal/recommended-project my_site_name_dir

[2021-01-07 23:15] huilinks commented on #444
![image](https://user-images.githubusercontent.com/76076562/103955455-f01f3800-510b-11eb-8264-9a3da93d6ff0.png)

[2021-01-12 14:28] pandatrooper opened #446 "Updating Kickstart within corporate firewall"
I'm looking for a solution that would help me upgrade my Kickstart developer portal without the use of composer.

Since we have strict corporate firewall that does not allow us to fetch dependencies from repositories outside the organisation, therefore I was looking for a solution which does not involve fetching various dependencies using composer. A solution exists from Drupal wherein I can updat

[2021-01-14 01:12] cnovak commented on #446
I was going to suggest doing the composer commands from a local machine so that your prod environment does not have to reach the Internet, but it sounds like the whole company is locked down.

The Drupal.org packages are located at `https://packages.drupal.org/8` from [this page explaining Composer in Drupal](https://www.drupal.org/docs/develop/using-composer/using-packagesdrupalorg), but I do not

[2021-01-14 08:49] pandatrooper commented on #446
Thank Chris for the information ! Yes, none of our machines have the freedom to fetch dependencies from external sources be it directly or via a proxy. We managed to punch some holes in our firewall for the very initial setup using composer. However, that was a one time activity. Usually for dependencies like maven, npm etc. , we either download or mirror the relevant repos to an internal server a

[2021-01-18 12:14] sejonssonjer opened #447 "Callback URL forces http/https"
## Description
When editing app, it enforces callback url to begin with http or https, if trying to change the regexp pattern to allow .* for example it still forces http/https. Basically a native client will have its own reserved URL scheme and would require to register "myapp://" as their callback.

In addition, if you configure and app in Apigee edge with custom url scheme callback then the mod

[2021-01-19 06:36] phdhiren commented on #442
@sivakrishna-yarlagadda , Hope you're able to correct the permission for the folders and its writable.

[2021-01-20 03:42] cnovak commented on #446
You are welcome. The static files should be available to mirror since they will be in Drupal's package repository or in packagist.org, we do not have any other repository of the dependencies. Is there any missing from those repos?

[2021-01-23 00:16] arunz6161 opened #449 "Kickstart install fails with Integrity constraint violation"
## Description
Installation fails with following error

`Drupal\Core\Database\IntegrityConstraintViolationException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'admin_toolbar_tools.extra_links:node.add.forum' for key 'id': INSERT INTO {menu_tree} (id, menu_name) VALUES (:db_insert_placeholder_0, :db_insert_placeholder_1); Array ( [:db_insert_placeholder_0] => admin_toolb

[2021-01-23 00:16] arunz6161 commented on #449
@giteshk FYI

[2021-01-23 00:22] raakesh-blokhra commented on #449
@arunz6161 Can you please confirm whether the database you specified during installation is a new database or an existing one?

[2021-01-23 00:31] arunz6161 commented on #449
New database and not an existing one

[2021-01-26 18:37] raakesh-blokhra opened #450 "Kickstart Installation - Enabling Demo Content throwing error"
## Description
While installing a new setup using Apigee Kickstart, got an error on the lasts step - enable demo content. Install failed. However refreshing the page fixed the install and installed demo content without an issue. Can someone please check if this is happening on their instances also or only on my local XAMPP setup?

## Steps to Reproduce
Steps to reproduce the behavior:
1. Run compo

[2021-01-26 18:59] cnovak commented on #450
What is the error that you see?

[2021-01-27 06:29] raakesh-blokhra commented on #450
Drupal\Core\Database\IntegrityConstraintViolationException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '3' for key 'PRIMARY': INSERT INTO {taxonomy_term_data} (tid, revision_id, vid, uuid, langcode) VALUES (:db_insert_placeholder_0, :db_insert_placeholder_1, :db_insert_placeholder_2, :db_insert_placeholder_3, :db_insert_placeholder_4); Array ( [:db_insert_placeholder_0]

[2021-01-27 11:26] nishasw opened #451 "Getting Error on API Documentation settings page"
## Description
While accessing path /admin/structure/apidoc , I am getting the error below post installation of apigee kickstart module on both Drupal 8 & 9

The website encountered an unexpected error. Please try again later.

InvalidArgumentException: Class "Drupal\apigee_api_catalog\Entity\Form\ApiDocSettingsForm" does not exist. in Drupal\Core\DependencyInjection\ClassResolver->getInstanceFrom

[2021-01-28 19:36] arunz6161 commented on #449
wasn't able to reproduce the issue following the same steps. Closing this for now, will reopen if i am able to reproduce the issue consistently.

[2021-01-28 19:36] #449 closed, assigned to raakesh-blokhra

[2021-02-02 14:28] 327456 opened #452 "Kickstart ansible script throws "Bootstrap failed" error"
## Description
When I try to install drupal v8 or 9 on CentOS v7 on an EC2 instance, I get the  error saying bootstrap failed.

## Steps to Reproduce
Run: ansible-galaxy install -r requirements.yml
Then run: ansible-playbook playbook.yml

## Actual Behavior
Throws the following error during setting up drupal after successfully creating the database and nginx.
*
fatal: [web1]: FAILED! => {"changed"

[2021-02-04 10:06] nishasw opened #453 "Reloading API overview screen gives error "Page Not Found""
When the API overview screen is reloaded, it give error **"The requested page could not be found."**. Please see the attached screenshot.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to /apis
2. Click on one of API listed
3. After the page (API overview) has been loaded , reload the screen and you will get the error below.

![image](https://user-images.githubusercontent.com/78082

[2021-02-04 15:31] sejonssonjer opened #454 "[error] Update failed: apigee_devportal_kickstart_update_8008"
After updating to this version of kickstarter and running drush updb I am getting the following error and it fails to update the DB:
-----------------------
 Do you wish to run the specified pending updates? (yes/no) [yes]:

 [error]  Update aborted by: apigee_devportal_kickstart_update_8008
 [error]  Finished performing updates.
-----------------------
We are on
- Drupal Version 8.9.13
- PHP 7.4.

[2021-02-04 17:38] jackd12 opened #455 "Error while trying to update [error] Call to a member function getDisplay() on null"
Trying to upgrade from drupal 8.9.3 to 8.9.13 getting the error below when running drush updb

drush updb

**_>  [notice] Update started: apigee_devportal_kickstart_update_8009

 [error]  Update aborted by: apigee_devportal_kickstart_update_8009_**
 [error]  Finished performing updates.

Any thoughts on how to fix this ?

[2021-02-04 17:47] jackd12 commented on #455
Here's the full error

Error: Call to a member function getDisplay() on null in apigee_devportal_kickstart_update_8009() (line 484 of /var/www/devportal/web/profiles/contrib/apigee_devportal_kickstart/apigee_devportal_kickstart.install)
#0 /var/www/devportal/web/core/includes/update.inc(246): apigee_devportal_kickstart_update_8009(Array)
#1 /var/www/devportal/web/core/includes/batch.inc(295): upda

[2021-02-05 18:06] raakesh-blokhra commented on #455
Hi @jackd12 We will review the logs and revert back with the finding.

[2021-02-05 18:13] raakesh-blokhra commented on #454
@sejonssonjer Can you get us the full debug log please?

[2021-02-05 18:19] raakesh-blokhra commented on #453
Hi @nishasw we are not able to replicate the issue with the limited information shared above. Can you share any debug logs which we can review to get more information?

[2021-02-10 08:19] sejonssonjer commented on #454
Sure, can you point me to which debug log you mean?

[2021-02-10 21:06] pradeepgorle13 opened #456 "Planning to move to apigee-devportal-kickstart-drupal to AWS (Any Containerized Solution?)"
Hi Team,

It would be great if you guys provide some documentation for the "apigee-developer-portal-drupal" Containerized Solution.
- How we can set the Drupal Portal on AWS?
- Any suggestion would be greatly appreciated.

Thanks

[2021-02-11 03:43] phdhiren commented on #456
@pradeepgorle13 , You should check [ansible installer](https://github.com/apigee/devportal-kickstart-drupal-ansible-installer)  or [docker](https://github.com/apigee/docker-apigee-drupal-kickstart)

[2021-02-11 14:18] pradeepgorle13 commented on #456
@phdhiren Thanks for the link and it is atleast a great start. Found couple of links
https://medium.com/@shubhamner21/launching-drupal-using-eks-15d933101caf
https://aws.amazon.com/marketplace/pp/Bitnami-Drupal-Container-Solution/B07KCSKPGZ
But the requirement exactly matches the first link (Launching drupal using eks). So if that is the case - Is there a way for the Drupal Kickstarter installer t

[2021-02-12 17:46] damianrobinson commented on #450
I can also replicate the error - seems to fail on the same entity:

[code]

[2021-02-15 12:42] nishasw commented on #451
Hi @shishir-intelli ,

I am getting following error in the console on swagger page :
vendor.js:1 ERROR TypeError: this.codeMirror.showHint is not a function
    at t.parseJson (vendor.js:1)
    at HTMLSpanElement.<anonymous> (vendor.js:1)
    at e.invokeTask (polyfills.js:1)
    at Object.onInvokeTask (vendor.js:1)
    at e.invokeTask (polyfills.js:1)
    at t.runTask (polyfills.js:1)
    at t.inv

[2021-02-19 11:08] #453 closed, assigned to raakesh-blokhra

[2021-02-23 06:22] phdhiren commented on #442
@sivakrishna-yarlagadda, Hope you're able to correct permission issue. Closing the issue feel free to reopen, if required.

[2021-02-23 06:22] #442 closed, assigned to phdhiren

[2021-03-04 05:33] phdhiren commented on #456
@pradeepgorle13 It is a typical Drupal installation, so any document mentioned above should lead you to do the install. If you run into any issues, feel free to let us know and we can guide you accordingly. I am closing this issue, but if you have any other questions, please feel free to reopen it.

[2021-03-04 05:33] #456 closed, assigned to nobody

[2021-03-05 06:04] #278 closed, assigned to phdhiren

[2021-03-05 20:48] jbennett13 opened #458 "Notification of Drupal 8 EOL"
With the upcoming EOL of Drupal 8, develop a D8-D9 migration one-pager for inclusion in the Kickstart documentation.
 - The doc should provide steps on any changes needed to update the Composer file or any dependencies to support Drupal 9 for users currently using Drupal 8.
 - If this process is documented in Drupal.org, it is fine to link to the instructions there and not replicate.
 - I will add

[2021-03-05 21:00] cnovak commented on #458
I also noticed that D9 is "in progress" on the project page. We should change that link to the closed ticket to the document on how to migrate from D8 to D9.

<img width="665" alt="Screen Shot 2021-03-05 at 12 39 15 PM" src="https://user-images.githubusercontent.com/613093/110172812-85f4dd80-7db2-11eb-9975-8bcfcd936acf.png">

[2021-03-16 20:54] giteshk opened #460 "Components 8.x-1.x API deprecation notice"
Installed Apigee Kickstart composer project for Drupal 9.
See the following deprecation notice.

![Screen Shot 2021-03-16 at 4 49 46 PM](https://user-images.githubusercontent.com/6208023/111378455-334fd700-8678-11eb-9473-185122f4cb05.png)

[2021-03-16 20:59] raakesh-blokhra commented on #460
@phdhiren since you are looking into these updates, please look into this issue as well. Thanks.

[2021-03-22 13:50] raakesh-blokhra opened #461 "Use apigee-devportal-kickstart-drupal to use Drupal 9"
## Is your feature request related to a problem? Please describe
With Drupal 9 being the preferred version going forward, we need to use Drupal 9 instead of Drupal 8.

## Additional context
Update documentation to reflect the same:
https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart/use-kickstart-with-apigee-edge-for

[2021-04-16 18:58] rmeda24 opened #465 "Unable to login to the drupal portal"
Hi, None of the users are able to login to the portal other than the admin user.

[2021-04-19 17:54] shishir-intelli commented on #465
Hi @rmeda24,

Sorry for the late response. Can you have the logged in admin run developer sync from:
**admin/config/apigee-edge/developer-settings/sync**

Here's the documentation: https://www.drupal.org/docs/8/modules/apigee-edge/synchronize-developers-with-apigee-edge

Once the developer sync is complete, try logging in and let us know if this resolved the issue.

[2021-04-20 16:27] yenoomluap commented on #447
@divya-intelli We are also having issue with this. It seems a conflict with drupal core functionality -- drupal core only allows http and https as accepted protocols for routing (/var/www/html/web/core/lib/Drupal/Core/Utility/UnroutedUrlAssembler.php)?
The ability to onboard native apps using a custom url is an important feature to our customers and is a component of three-legged OAuth with PKCE f

[2021-04-20 18:07] yenoomluap commented on #447
We might have found a temporary workaround.

First step:
add the protocol (ex. sap) to the protocol_filter list at web/sites/default/services.yml

[code]
second step:
rebuild the drupal cache (drush cr)

third step:
manually add the redirect uri to the app in edge ui
![add the redirect uri in edge](https://user-images.githubusercontent.com/8030275/115442104-3db14380-a1d7-11eb-8e28-e81e9c75d318.png

[2021-04-22 16:00] shishir-intelli commented on #465
The issue was resolved internally. We are closing this issue. If you run into any problems, feel free to re-open this ticket or a new one (if the new issue is unrelated to this one). Thanks

[2021-04-22 16:00] #465 closed, assigned to shishir-intelli

[2021-04-22 22:57] cnovak opened #468 "OAuth cannot be used for connection during installation process"
## Description
The OAuth connection setting cannot be used during the installation of the system.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Install Kickstart following instructions
2. During the web installer, connect to an Apigee Edge org (4G) and select `OAuth` instead of `Basic` for authentication type

## Actual Behavior
The error `Unable to save token Unable to save token dat

[2021-04-23 04:39] rylan-michael opened #469 "Cannot build kickstart theme"
## Description
Using `npm run production` to build a fresh apigee_kickstart theme fails. I believe there are two issues. The bug may have been introduced in the PR #448 specifically commit [d0c3264](https://github.com/apigee/apigee-devportal-kickstart-drupal/pull/448/commits/d0c3264e4e65435225adedc7c9f82c56753aff5b).
* The first issue is that --hide-modules has been deprecated. See [Upgrade to Mix

[2021-04-23 13:24] raakesh-blokhra commented on #469
Assigned to @phdhiren. Hiren please take a look and confirm.

[2021-04-23 16:59] phdhiren commented on #468
@cnovak

The OAuth settings will be stored in private file system.

https://www.drupal.org/docs/8/core/modules/file/overview#private-file-system

I'm proposing to add one more step - "Verify Apigee Requirements" similar to "Verify Requirements" before "Configure Apigee Edge" where it can check for private file system and will have documentation link and option to recheck, if private file system is

[2021-04-23 18:31] cnovak commented on #468
Thanks @phdhiren , I forgot that was the reason, I thought that the private file system could not be configured before install. That is a great suggestion - to show an error to  user explaining they need to set up private file system in order to install, and link to instructions.

[2021-04-27 10:22] shishir-intelli opened #470 "ValidReferenceConstraintValidator class throwing error: Call to a member function getValue() on null."
## Description
Updating Teams with entity reference field throwing error

## Steps to Reproduce
Steps to reproduce the behavior:
1. Add entity reference field in `team-settings`
2. Add new team with entity reference field `/add-team`
3. Edit newly added team and click save Throws error

## Actual Behavior
Throws error **Call to a member function getValue() on null**

## Expected Behavior
Update te

[2021-04-30 08:07] #470 closed, assigned to shishir-intelli

[2021-05-04 10:53] #468 closed, assigned to phdhiren

[2021-05-04 22:37] giteshk opened #474 "Ensure private file system is setup during install."
It has been observed that the Apigee Edge module does not work without private file system being setup.

1. Add a requirement in the install step to ensure private file system is setup.
2. Ensure the wizard stores edge connection directly to the private file system.
3. Remove warnings displayed, during installation, to move credentials to private file system instead of configuration store

[2021-05-05 04:14] phdhiren commented on #474
Duplicate of #468

Please note that setting up private file system in settings.php is manual step.

https://www.drupal.org/docs/8/core/modules/file/overview#private-file-system

Added private file system as requirement in pull #472 - Once private file system is in place other points will be taken care automatically.

[2021-05-05 17:17] giteshk commented on #474
Can you confirm if items 2 and 3 are addressed?

[2021-05-06 04:19] phdhiren commented on #474
Yes, Once private file system is in place, OAuth / Apigee X connection settings will be stored in private file system and will not show a warning to move credentials to private file system.
As basic connection do not require private file system, the requirement of private file system in not mandatory but highly recommended in pull #472

[2021-05-06 06:34] jyotierudkar opened #476 "Getting issue with Apigee module installation on Drupal 9.1.7"
On Installing modules Drupal server go down

[2021-05-06 06:56] jyotierudkar commented on #476
On Installing modules Drupal server go down

[2021-05-06 07:44] phdhiren commented on #476
@jyotierudkar
Can you share error log around that?

You can checkout the [installation instruction from the documentation](https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart/get-started-with-kickstart)

[2021-05-11 14:02] divya-intelli commented on #447
Closing since it a duplicate of https://github.com/apigee/apigee-edge-drupal/issues/576 .

[2021-05-11 14:02] #447 closed, assigned to divya-intelli

[2021-05-14 10:06] shishir-intelli commented on #450
I was not able to reproduce this issue.

This seems to be some DB connection issue may be due to glitch in installation.
Closing this ticket for now. Feel free to reopen in case you are still having any issues.

[2021-05-14 10:06] #450 closed, assigned to shishir-intelli

[2021-05-17 08:50] NarendraShukla1989 commented on #476
Please find below the log for the issue:

Error: Interface &#039;Apigee\Edge\Entity\EntityInterface&#039;  not found in include () (line 32 of /var/www/html/drupwl/modules/apigee_edge/src/Entity/EdgeEntityInterfsce.php).

@phdhiren

[2021-05-17 18:53] raakesh-blokhra opened #486 "Spec should not be mandatory for API Catalog"
## Description
When we create a new API doc, Specification source type field is marked as mandatory. This file is not mandatory, as the user can create an API doc without this. Let's fix the issue by making the Specification source type optional.
## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Create Content -> API Doc
2. Add other info but not Specification source type
3. Click on

[2021-05-21 12:42] phdhiren commented on #476
Please check above documentation to follow exact steps.

Above file does not exists in original distribution and make sure you use composer to install the module as given in documentation.

[2021-05-25 12:49] jyotierudkar commented on #476
@phdhiren
while following steps:

problems 1) composer installing apigee_edge module in a different location than drupal/module folder 2) the composer require drupa/apigee_edge runs fine but even after restarting drupal the module is not visible from Drupal UI>>extends>>module section

[2021-05-25 12:55] phdhiren commented on #476
Can you share error log from Drupal log or php? The one shared earlier that file does not exists in original distribution. Can you share `composer show` to help in this more?

[2021-05-25 16:27] pradeepgorle13 opened #484 "Multiple Servers Support in the APIGEE Drupal Developer Portal"
Guys,

We are looking for a feature similar to what we see in the Swagger editor for multiple Endpoints in the Open API Spec.
Please find the Servers sample below
![image](https://user-images.githubusercontent.com/56166711/119533945-5ff92c80-bd54-11eb-877e-7bce85b322fe.png)

When it comes Swagger editor
![image](https://user-images.githubusercontent.com/56166711/119533878-4c4dc600-bd54-11eb-9849-d

[2021-05-25 18:50] giteshk commented on #484
Hi @pradeepgorle13

This is not supported currently by the SmartDocs renderer library.
If you are trying to display the list of hostnames to let consumers know what environment to use. You can add that information in the description field.

We have documented how to enable additional renderers including Swagger UI  in our [docs](https://www.drupal.org/docs/8/modules/apigee-api-catalog/customize-yo

[2021-05-25 19:04] earth2marsh commented on #484
Note that one of the most common mistakes in writing OpenAPI documents is to use `servers` to describe different software development lifecycle stages within the same document. This is because there will be times where the contract described by the OpenAPI document will be different. In that case, I'd recommend using different revisions of the same document with the server set to match, as they ar

[2021-05-25 19:23] pradeepgorle13 commented on #484
@giteshk  , Thanks for the Solution. Hope this will fix our requirement.
@earth2marsh , Thanks for the Info, We are following the standard process you suggested.

[2021-05-26 00:51] pradeepgorle13 opened #485 "Download Option for the API Spec"
Hi Guys,

We are looking for a Download option for the API spec to the App developer with the API definition.
Current Display (We may use the Document but we display it in this APIGEE Smart Doc format)
![image](https://user-images.githubusercontent.com/56166711/119586470-c5700c00-bd9a-11eb-958e-a6e37ec18811.png)

Need an Option for Download the API spec along with the Smart Doc Option.
We need an

[2021-05-26 07:56] #460 closed, assigned to phdhiren

[2021-05-26 09:40] jyotierudkar commented on #476
@phdhiren
Module is getting installed in below location :
/root/.cache/composer/files/drupal

[2021-05-26 09:56] phdhiren commented on #476
@jyotierudkar I hope you're using following the [documentation](https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart/get-started-with-kickstart)

`composer create-project apigee/devportal-kickstart-project:9.x-dev MY_PROJECT --no-interaction`

The module should fall under web/modules/contrib directory if the `installer-paths` are correct
https://github.com/apigee/devpo

[2021-05-26 10:39] jyotierudkar commented on #476
@phdhiren we are trying to install apigee edge  module.. These all commands are for the apigee kickstart.
Are those same for apigee edge

[2021-05-26 12:18] phdhiren commented on #476
Yes, when you install apigee kickstart it enables you to evaluate the Apigee. From your comments it seems the dependencies are [not getting installed](https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/476#issuecomment-842145434) or [not installed at correct place](https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/476#issuecomment-848626286) for which composer is t

[2021-05-26 13:54] jyotierudkar commented on #476
@phdhiren  checked in web/modules/contrib
module is present there
but it is not reflecting in Drupal UI in Extend Tab

Also When we run command composer require drupal/apigee_edge
we are getting Nothing to install

[2021-05-26 15:22] #486 closed, assigned to divya-intelli

[2021-05-27 05:58] #474 closed, assigned to phdhiren

[2021-05-27 14:15] giteshk opened #488 "Test kickstart on PHP 8"
Test kickstart on PHP 8
Update circle ci to test against PHP 8

[2021-05-27 14:26] #455 closed, assigned to divya-intelli

[2021-06-01 10:30] jyotierudkar opened #489 "While Configuring the Apigee with Drupal getting error"
$ drush create-edge-role myorg me@example.com

After Executing this command below error occurred :
Error: call to undefined method GuzzleHttp\Utils::chooseHandler() in GuzzleHttp\choose_handler()  )(line 61 of /root/.composer/global/drush/drush/vendor/
#1[internal function]: GuzzleHttp\HandlerStack::create()

[2021-06-01 15:16] jyotierudkar commented on #476
@phdhiren
we were able to finally get this sorted but while configuring the Apigee-edge, unable to configure it. It gives an error to update file and properties but does not let us proceed.
We tried to follow this link to configure private file path  https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-the-connection-to-apigee#configure-credentials-edge
Do we need to update any co

[2021-06-14 13:52] phdhiren commented on #476
@jyotierudkar ,
Can you send what exact error you're facing while configure? Ideally private file system should be set in Drupal via settings.php

[2021-06-21 10:43] jyotierudkar opened #490 "Unable to to connect with apigee private cloud with Oauth authentication"
Installed Apigee Edge module on Drupal 9.

When i tried to configure apigee private cloud with Oauth athentication type, I am getting Unauthorized Error.
I used the same credentials as HTTP Basic. With Http Basic I am able to establish connection with Apigee private cloud.

For Oauth getting 401: authorized

[2021-06-21 14:53] giteshk commented on #490
@jyotierudkar What version of Apigee Private cloud are you running?

[2021-06-22 17:27] giteshk opened #491 "Document how to setup Apigee Kickstart for High Availability."
This documentation will be useful for customers who want high availability setup for their developer portals

[2021-06-23 04:10] pradeepgorle13 commented on #484
Thanks guys

[2021-06-23 04:10] #484 closed, assigned to nobody

[2021-06-23 04:17] pradeepgorle13 opened #492 "Logging In but with a error"
We connected our Drupal 9 to LDAP for login Validation.
When we try to login, It is logging in but with an error
![image](https://user-images.githubusercontent.com/56166711/123034886-67920c80-d3b8-11eb-9545-8d0c321939db.png)

but when we are clicking on another tab or refresh the page it just disappears.
When ever we logout and login again - it shows the error until we click on another tab or refr

[2021-06-23 06:38] jyotierudkar commented on #490
@giteshk 4.50

[2021-06-28 09:08] shishir-intelli commented on #489
Hi @jyotierudkar ,
Not able to replicate the issue,
Try installing drush locally  `composer require drush/drush`

Similar issue https://www.drupal.org/project/varbase/issues/3216791

[2021-06-28 09:19] shishir-intelli commented on #492
Hi @pradeepgorle13

Can you please share us the exact steps to reproduce the behavior and the error log details.

[2021-07-14 06:28] NNV111 opened #493 "SSO Integration(Ping Federate) with Drupal"
We are trying to integrate SSO(Ping Federate) with Drupal. Have found a link i.e. https://simplesamlphp.org/docs/stable/simplesamlphp-sp
Would like to you if we can go ahead with this approach
Also can anyone provide a brief elaboration on any mandatory steps for sso implementation

[2021-07-14 13:24] shishir-intelli commented on #493
Hi NNV111,
Yes you can give simplesaml a shot and alternatively you can also try https://www.drupal.org/docs/contributed-modules/saml-sp-single-sign-on-sso-saml-service-provider/guide-for-drupal-single-8

[2021-07-15 14:01] #454 closed, assigned to divya-intelli

[2021-07-16 06:49] NNV111 commented on #493
Hi @shishir-intelli
thankyou for the info, but miniorange is a paid version and want to try out with any open source module.

[2021-07-16 10:29] divya-intelli opened #494 "During installation if ApigeeX org is used, it should ask to enable monetization module."
## Description
If ApigeeX org is used during the installation of drupal kickstart, it does not ask to enable monetization.

## Actual Behavior
Cannot enable monetization module during installation, have to enable after login in

## Expected Behavior
Should let you enable monetization module , the way it is done if 4g org is used during installation.

[2021-07-16 15:01] phdhiren commented on #476
@jyotierudkar
Closing this issue for now, but if you need further assistance regarding this, please feel free to reopen it.

[2021-07-16 15:01] #476 closed, assigned to nobody

[2021-07-21 13:35] #494 closed, assigned to divya-intelli

[2021-07-30 12:38] samhaldia commented on #256
Adding a Field Name like FirmId doesnt allow it complaints saying only Lowercase letters are allowed in machine name.
Is there any fix or way out for this?

[2021-08-03 06:04] NNV111 commented on #493
While trying to install with simplesamlphp (https://simplesamlphp.org/docs/stable/simplesamlphp-install). Have installed the installable as per the instructions and while trying to configure the same, facing an issue where the entire Drupal site crashes.
Has anyone faced a similar kind of an issue? If so, how was it fixed?

[2021-08-03 06:25] shishir-intelli commented on #493
Hi,
Which version of Drupal and module are you using?
Can you please tell us more details about the error by sharing us the error logs also have you installed any module for SAML in Drupal.

[2021-08-03 06:37] NNV111 commented on #493
Drupal version 9.1.10
I have just installed the simplesamlphp_auth installable and was trying to configure the same. Haven't installed anything else other than that.
Error logs

[2021-08-03 07:43] shishir-intelli commented on #493
@NNV111,
Can you please also share PHP error logs and also the configuration which you have done, the above has nothing to do with Apigee Devportal this seems some configuration issue.

For Drupal I think you should refer this document for using SAML
https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart/integrate-simplesamlphp-authentication

[2021-08-10 14:43] raakesh-blokhra commented on #492
Closing this issue. Please feel free to reopen if the issue still exists. Thanks

[2021-08-10 14:43] #492 closed, assigned to shishir-intelli

[2021-08-16 12:59] #310 closed, assigned to jbennett13

[2021-08-17 07:28] #469 closed, assigned to phdhiren

[2021-08-24 07:25] jyotierudkar opened #500 "Getting error curl 7 while connecting to APIGEE Edge from Drupal configuaraion"
we have Installed Drupal 9 on one server. And installed Apigee Edge on another server(private cloud).
While making connection :
Configuration -> Apigee Edge -> General
HTTP basic :
while testing the connection encountered below error:
Failed to connect to Apigee Edge : cURL error 7: (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)

[2021-08-24 07:31] phdhiren commented on #500
@jyotierudkar
As per error 7 (CURLE_COULDNT_CONNECT), it seems Drupal is not able to connect to Apigee Edge server.

[2021-08-24 08:19] jyotierudkar commented on #500
What could be the reason ? Are we missing any configuration or something.

What can be done to resolve the connection issue?

[2021-08-24 09:36] phdhiren commented on #500
This could be due to your internal firewall settings, check the connection between both server.

[2021-08-24 14:33] giteshk commented on #500
@jyotierudkar Are you able to run a curl command from the developer portal box to validate there is connectivity between both the servers.

Second problem could be if you are using self signed certs for your management server.

[2021-08-24 14:55] phdhiren commented on #490
@jyotierudkar
Basic Auth is not deprecated for OPDK yet. Please use Basic Auth for now.

Closing this ticketing, tracking the same at https://github.com/apigee/apigee-edge-drupal/issues/608

[2021-08-24 15:01] phdhiren commented on #489
@jyotierudkar
Closing this issue for now, but if you need further assistance regarding this, please feel free to reopen it.

[2021-08-24 15:01] #489 closed, assigned to shishir-intelli

[2021-08-25 08:19] jyotierudkar commented on #490
That is different issue. We are still not able to connect

[2021-08-25 09:06] phdhiren commented on #490
@jyotierudkar

You're able to connect connect using HTTP Basic authentication and you're using OPDK. right?

[2021-08-25 11:21] jyotierudkar commented on #500
Yes able to connect from portal box.
Can you explain in brief regarding signed certs

[2021-08-26 18:55] giteshk opened #501 "Utilize https://github.com/apigee/docker-apigee-drupal-kickstart to quickly spin up an Apigee Developer Portal"
Improve the https://github.com/apigee/docker-apigee-drupal-kickstart docker container to make it easy for customers/prospects to get started with Apigee Drupal developer portal.

Objectives:
1. Quickly setup a local docker instance.
2. Publish docker container to docker Hub for customers to try out.
3. Create a template for customers to manage their customizations.
4. Provide direction to customer

[2021-08-30 16:32] giteshk opened #502 "Upgrade admin toolbar to use 3.x version"
The Admin toolbar 2.x module is no longer supported.

[2021-09-02 13:51] Stephen-lapierre-mpf opened #504 "9.2.3 and 9.2.4 comparability issue"
## Description
Going to any page other than an admin page results in fatal error;
Twig\Error\LoaderError: Template "@apigee-kickstart/node/node.twig" is not defined in "profiles/contrib/apigee_devportal_kickstart/themes/custom/apigee_kickstart/templates/node/node--full.html.twig" at line 8. in Twig\Loader\ChainLoader->getCacheKey() (line 98 of /usr/local/var/groupm3/vendor/twig/twig/src/Loader/Cha

[2021-09-02 16:27] phdhiren commented on #504
@Stephen-lapierre-mpf

I've tried with fresh installation of latest Drupal 9 but I have not got any error.

I've checked with following configuration:
Drupal/9.2.5, PHP/7.4.21, 10.3.29-MariaDB-0+deb10u1

Can you please help replicate issue, any specific thing I should do?

[2021-09-02 16:49] Stephen-lapierre-mpf commented on #504
Thanks for the feedback. I did not perform any special actions, but it did appear to not occur immediately. Attached is the pm-list of my local and prod environments, the same issue is occurring on both.

Stephen La Pierre
Principal Software Engineer
3 World Trade Center
175 Greenwich Street
New York, NY 10007

From: phdhiren ***@***.***>
Reply-To: apigee/apigee-devportal-kickstart-drupal ***@***.

[2021-09-02 16:59] Stephen-lapierre-mpf commented on #504
An example of local log file

[Thu Sep 02 12:57:47.316897 2021] [authz_core:debug] [pid 49161] mod_authz_core.c(815): [client 127.0.0.1:64874] AH01626: authorization result of Require all granted: granted, referer: https://localhost:8000/admin/reports/dblog
[Thu Sep 02 12:57:47.316919 2021] [authz_core:debug] [pid 49161] mod_authz_core.c(815): [client 127.0.0.1:64874] AH01626: authorization result

[2021-09-03 08:16] phdhiren commented on #504
@Stephen-lapierre-mpf

I would recommend to update apigee/apigee_devportal_kickstart to latest (currently 1.24)

Use drupal/components 2.4 instead of 3-beta

It seems you've updated radix theme to use dev version, should go with stable release 4.10, Make sure to use radix patch for components  as mentioned [here](https://github.com/apigee/apigee-devportal-kickstart-drupal/blob/8.x-1.24/composer.js

[2021-09-06 07:11] #502 closed, assigned to nobody

[2021-09-09 05:41] phdhiren commented on #504
@Stephen-lapierre-mpf
Hope above suggestion worked for you. closing the issue for now, feel free to reopen if required.

[2021-09-09 05:41] #504 closed, assigned to phdhiren

[2021-09-14 18:53] Stephen-lapierre-mpf commented on #504
Thanks, your advise was very helpful.

Stephen La Pierre
Principal Software Engineer
3 World Trade Center
175 Greenwich Street
New York, NY 10007

From: phdhiren ***@***.***>
Reply-To: apigee/apigee-devportal-kickstart-drupal ***@***.***>
Date: Friday, September 3, 2021 at 4:16 AM
To: apigee/apigee-devportal-kickstart-drupal ***@***.***>
Cc: Stephen Lapierre ***@***.***>, Mention ***@***.***>
Subj

[2021-09-14 19:10] Stephen-lapierre-mpf opened #505 "Not sure if bug or user issue"
## Description
Having upgraded Drupal, Radix and kickstart on selecting Apps with RBAC no Apps are displayed, only available via creating App and selecting from list.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Apps ( nothing listed except Add
2. Click on Add App
3. Scroll down to select app to add

## Actual Behavior
Not able to see apps with correct RBAC and role without add

[2021-09-15 10:21] phdhiren opened #508 "Handle additional information in addonsConfig"
## Description
Few Apigee X organizations have additional property which leads to error while installing the module

## Steps to Reproduce
Steps to reproduce the behavior:

Install the module normal having org which have addittional info in addonsConfig

Sample org response of such organization
[code]

## Actual Behavior
There are few organization where there are additional `addonsConfig` which is

[2021-09-15 16:27] hollyw2025 opened #507 "How to repleace "API Doc" Title with product display name?"
## Description
After the products were synced from edge to portal, products show up as "API doc" content type. We noticed that product display name didn't show up, so we customized to have product displayname showed up. However, in "API doc", the product name, which is the real name of the product, still shows as Title. We would like to know how to have the product displayName shows as "API doc" T

[2021-09-27 06:59] #508 closed, assigned to divya-intelli

[2021-09-28 16:13] Stephen-lapierre-mpf opened #511 "Invitation to team as member access denied."
## Description
On receiving an invitation to team (version  8.x-1.11) clicking on the email results in access denied on site.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to email invitation
2. Click on accept invitation
3. Site opens with Access Denied,You are not authorized to access this page.

## Actual Behavior
Site opens and Access Denied,You are not authorized to access thi

[2021-09-29 09:00] shishir-intelli opened #512 "Monetization gets installed even if "Enable monetization" checkbox is disabled on installer."
## Description
While kick-start installation, if "Enable Monitization" checkbox is disabled still monetization gets installed.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Install fresh Drupal Apigee Kickstart. (core/install.php).
2. Follow the installation wizard.
3. At one place during installation the wizard will ask to "Enable Monetization".
4. Don't check the checkbox.
5. Instal

[2021-09-30 09:30] #512 closed, assigned to shishir-intelli

[2021-10-04 09:26] phdhiren commented on #511
@Stephen-lapierre-mpf

It seems that you're using the invitation link on the same window, where you're already logged in as admin/other user. Ideally it will go to different person.
1. The invited person is already logged - It will give option to accept / reject invitation.
2. The invited person is not logged in and existing user of the system - It will go on User login page should come.
3. The in

[2021-10-04 09:29] phdhiren commented on #505
Based on the requirement it was suggested to use Apigee Edge Teams functionality instead RBAC in this case

[2021-10-04 09:29] #505 closed, assigned to phdhiren

[2021-10-07 18:43] Stephen-lapierre-mpf commented on #511
The issue is occurring with 3 people. I have tried to accept after logging out and rebooting system with no browser activity, trying the invite which does present login, but still access denied. I tried to forward the email to a personal account so I could try from a laptop I never use for development or portal access. Got the login and access denied also.

[2021-10-11 07:59] phdhiren commented on #511
@Stephen-lapierre-mpf
In your case, if open registration is restricted then inviting new developer will not be the case.
Try invite the user who is an existing user of the website.

[2021-10-11 14:39] Stephen-lapierre-mpf commented on #511
The three users in question have been using the site before hand, access is granted by SAML thru Okta in case that makes a difference. No users are able to register themselves, SSO only access.

[2021-10-11 15:04] phdhiren commented on #511
@Stephen-lapierre-mpf

That's interesting.
* If you can enable Apigee debug module and send those log from Admin > Report > Recent log
* Secondly, If you can send har file, would like to understand any redirection happening during login

You can share these logs with support ticket, as they may have sensitive info.

[2021-10-11 22:17] Stephen-lapierre-mpf commented on #511
[Archive.zip](https://github.com/apigee/apigee-devportal-kickstart-drupal/files/7325579/Archive.zip)
Errors files are 0 bytes

[2021-10-11 23:46] Stephen-lapierre-mpf commented on #511
[drupal-watchdog.log.zip](https://github.com/apigee/apigee-devportal-kickstart-drupal/files/7325842/drupal-watchdog.log.zip)
Watchdog

[2021-10-14 07:03] shishir-intelli commented on #507
Hi @hollyhw15 ,

`2. Go to Portal, the product name and displayName both synced to portal, while the displayName doesn't shows as Title`
Can you tell us which page it is in the Drupal portal or the URL. Is this `/apis/##/#/overview`
If yes, how did you manage to pull the Apigee Edge Api Product details over here, is there any customization done here?

[2021-10-14 08:12] phdhiren commented on #511
@Stephen-lapierre-mpf

There are few php errors while SAML login. Is it possible for you check configuration of the same.

You can also try disable SAML for while and check with generic Drupal login.

[2021-10-14 17:06] phdhiren commented on #511
@Stephen-lapierre-mpf

This could be permission issue as well. Below is default permission, but if you've specific role of the invited user then they also need appropriate permission.

![image](https://user-images.githubusercontent.com/71828912/137363475-4c5763d5-2319-464a-97c5-721e9545c747.png)

Check specifically `Accept own team invitation` and `Decline own team invitation`

[2021-10-14 17:13] Stephen-lapierre-mpf commented on #511
True, but I do not think that is the case.
** link removed **

[2021-10-14 17:48] Stephen-lapierre-mpf commented on #511
Shall I email the logs to address I used before ?

[2021-10-14 19:52] Stephen-lapierre-mpf commented on #511
Logs attached to support ticket 1505555

[2021-10-19 10:47] phdhiren commented on #511
@Stephen-lapierre-mpf

Permission looks fine, except few where 'any' permissions were given to `Authenticated user` which are security concerns. However that's not the blocker for the issue. Ideal permission set I've shared in above comment.

In one of log -
Why there should be more then one times `/user/login?destination` url should be there? If the logs are combined from multiple server or do yo

[2021-10-19 13:47] Stephen-lapierre-mpf commented on #511
Every authenticated user has access to at least one team, hence the Authenticated user inclusion. And yes, combined logs.

[2021-10-19 19:54] pradeepgorle13 opened #516 "Upgrade Issue"
Hi Team,

We are upgrading Drupal from 8 to 9. The requirement is like - We don't want to use the composer file in the higher environments.
So we used the composer in one lower environment and copying the whole Developer Portal folder to the higher environments through CI/CD. But the Issue is - We don't know
    -  What are the files specific to that environment?
    -  How can we protect the data

[2021-10-22 18:19] BillMarx opened #520 "Access Denied installing a Module"
Hi,

   I am running Drupal 8.9.6 with the Apigee kickstart.  I am trying to install a module and I get Access denied
You are not allowed to access this page.  No reason for the error.  I am administrator and have full permissions.  I changed the settings.php and tried both TRUE and FALSE for the setting $settings['allow_authorize_operations' and still no luck.  Any help would be appreciated.

I s

[2021-10-22 20:13] raakesh-blokhra commented on #520
@BillMarx Do you have anything in the logs that show you what the reason might be?

[2021-10-25 12:04] Stephen-lapierre-mpf commented on #511
The issue has been found. The problem was the SSO integration did not include the Firstname or Lastname to be stored in the user profile in Drupal. Teams would not authenticate if all fields did not match between and where not literal "FirstName"and "Lastname" in user profile.

[2021-10-25 12:04] #511 closed, assigned to phdhiren

[2021-10-25 12:05] Stephen-lapierre-mpf commented on #511
We did not reach anyone at Google who knew the requirements for teams authentication, had to discover the hard way.

[2021-10-25 14:19] BillMarx commented on #520
I see the below message in the log even though I am logged in as me and I have administrator rights

<html>
<body>

Type | access denied
-- | --
Monday, October 25, 2021 - 10:15
Anonymous (not verified)
http://apistoreappsjl-dev.prudential.com/core/authorize.php/?batch=1&id=80&op=start
https://apistoreappsjl-dev.prudential.com/admin/modules/install
authorize.php
Warning

</body>
</html>

[2021-10-25 14:25] giteshk commented on #511
Thank you @Stephen-lapierre-mpf for your co-operation in working through the issue.

[2021-10-25 16:52] pradeepgorle13 commented on #516
Can anyone help us out in this. We are planning to upgrade the api-devportal-Kickstart from 8 .8 to 9.x

[2021-10-26 05:39] shishir-intelli commented on #520
@BillMarx ,

There may be something wrong with security on the file system.
Where is the site hosted?

Set `$settings['allow_authorize_operations'] = TRUE;` and try installing with Composer or Drush.

[2021-10-27 17:51] BillMarx commented on #520
I did this and the install failed

 composer require drupal/content_templates
Warning from https://repo.packagist.org: Support for Composer 1 is deprecated and some packages will not be available. You should upgrade to Composer 2. See https://blog.packagist.com/deprecating-composer-1-support/
Using version ^1.0@alpha for drupal/content_templates
./composer.json has been updated
Removing package dr

[2021-10-28 05:14] shishir-intelli commented on #520
@BillMarx
These seems to be your system requirement issues and not related to Apigee or Apigee Kickstart.

I will suggest you to:
1. Upgrade composer to version 2, you are using composer 1.
2. There is some issue with your 'Openssl ca-certificates' please reinstall it.
Refer : https://www.drupal.org/forum/support/post-installation/2020-06-17/ssl-cert-error-when-using-composer-to-install-modules-on

[2021-11-09 15:41] giteshk opened #527 "Use AJAX to render the API listing view"
In an effort to address some of the 508 issues reported on apigee/apigee-api-catalog-drupal#134, we will enable AJAX on the api listing view.

[2021-11-09 18:58] pcrtx opened #523 "Unable to install Drupal9 Apigee Kickstart"
## Description
while trying to install Kickstart for Drupal 9, we have come across  "ext-bcmath missing error"

## Steps to Reproduce
[apigee@xyzhost ~]$ /opt/apigee-devportal-kickstart/bin/composer create-project apigee/devportal-kickstart-project:9.x-dev /opt/apigee-devportal-kickstart-drupal --no-interaction
Creating a "apigee/devportal-kickstart-project:9.x-dev" project at "/opt/apigee-devport

[2021-11-09 21:06] raakesh-blokhra commented on #523
@pcrtx Did/Can you try the following command?

yum install bcmath

AND

yum install php-bcmath

Please try deleting composer.lock file and run `composer install`, after you run the commands and let us know if still running into issues.

[2021-11-09 21:20] giteshk commented on #523
You may need to install the bc-math rpm from : https://repo.ius.io/7/x86_64/packages/p/

[2021-11-12 00:11] pcrtx commented on #523
I have tried all the suggested options  and we are running into dependency conflicts -  since apigee php is of version 7.4.20,  how can I get a compatible version of bcmath for 7.4.20?

[root@somehostname ~]# **yum install bcmath**
Loaded plugins: aliases, changelog, langpacks, product-id, rhnplugin, search-disabled-repos, subscription-manager, tmprepo, verify, versionlock
This system is receiving

[2021-11-12 15:49] phdhiren commented on #523
@pcrtx

Looks like there are conflicts with PHP version. If PHP 5.4 and 7.4 both are installed?

Try following command for PHP 7.4 bcmath extension.
`yum install php7.4-bcmath`

[2021-11-15 19:28] huilinks opened #525 "Best practice for managing customized Apigee Kickstart module"
I have a Drupal Dev Portal site with Apigee Kickstart managed by composer. If I have customized codes of the Apigee Kickstart module, when I update the Kickstart module with command “composer update apigee/devportal-kickstart-project”, my customizations might be overwritten by the update. Does Apigee have/know the best practice guideline of updating customized Kickstart module?

Thanks

[2021-11-16 20:24] pcrtx commented on #523
[root@xxxxxxxx~]# yum install php7.4-bcmath
Loaded plugins: aliases, changelog, langpacks, product-id, rhnplugin, search-disabled-repos, subscription-manager, tmprepo, verify, versionlock
This system is receiving updates from RHN Classic or Red Hat Satellite.
**No package php7.4-bcmath available**.
Error: Nothing to do

[2021-11-18 05:22] phdhiren commented on #523
@pcrtx

Please help me understand which PHP version you're using, as there are reference of 5.4, 7.3 and 7.4 in your logs.

You should be using PHP 7.4, You should remove other versions. Even PHP 7.3 security support also ending soon - https://www.php.net/supported-versions.php

[2021-11-18 05:31] phdhiren commented on #525
@huilinks

IMO, You should watch this repository ( https://github.com/apigee/devportal-kickstart-project-composer ), if you're planning to change composer.json and manage your project by composer.

[2021-11-18 14:15] pcrtx commented on #523
was able to resolve the issue after installing packages from ius as pointed by giteshk.

Thank You all for the support.

[2021-11-18 14:16] #523 closed, assigned to phdhiren

[2021-11-18 14:28] pcrtx opened #526 "Kickstart install version clarification"
## Description
as referred in the documentation https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart,  we have followed all of the steps/pre-requisites.

core/install.php shows page with Apigee Developer Portal Kickstart **8.9.1**.  Please confirm that version 8.9.1 is the intended version for this install.

## Screenshots
![image](https://user-images.githubusercontent

[2021-11-18 15:25] shishir-intelli commented on #526
Hi @pcrtx
Which command you ran to install Drupal Apigee Developer Portal kickstart installation? We have already removed the references to Drupal 8 from https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart.

We recommend Drupal 9, please refer this link https://www.drupal.org/docs/contributed-modules/apigee-developer-portal-kickstart/get-started-with-kickstart for Api

[2021-11-18 17:30] pcrtx commented on #526
/opt/apigee-devportal-kickstart/bin/composer create-project apigee/devportal-kickstart-project:9.x-dev /opt/apigee-devportal-kickstart-drupal --no-interaction

[2021-11-18 17:53] pcrtx commented on #526
issue is caused by composer.json file,  it has references to durpal 8

{
  "name": "apigee/devportal-kickstart-project",
  "description": "Composer project template for the Apigee Developer Portal Drupal distribution.",
  "type": "project",
  "license": "GPL-2.0-or-later",
  "homepage": "https://www.drupal.org/project/apigee_devportal_kickstart",
  "support": {
    "docs": "https://www.drupal.org/

[2021-11-19 07:27] shishir-intelli commented on #526
@pcrtx  No, its not an issue,
https://www.drupal.org/docs/develop/using-composer/using-packagesdrupalorg

Instead check Drupal core version in composer.json, it should be 9.
I ran the same command which you shared and which is there in the doc as well and this is what I see while installation
![Screenshot 2021-11-19 12 36 21 PM](https://user-images.githubusercontent.com/75600200/142581669-c71aff3e

[2021-11-22 21:25] pcrtx commented on #526
@shishir-intelli, Thank You for checking.

The following are the contents of composer.json

    "drupal/core-composer-scaffold": "^9",
    "drupal/core-project-message": "^9",
    "drupal/core-recommended": "^9",
[Apigee-Drupal-9-Install-RunningNotes.txt](https://github.com/apigee/apigee-devportal-kickstart-drupal/files/7584484/Apigee-Drupal-9-Install-RunningNotes.txt)

Also composer.json is attac

[2021-11-23 14:29] pcrtx commented on #526
ngnix was pointing to the drupal 8 conf directories.  it is working now

![image](https://user-images.githubusercontent.com/94010640/143042787-5c9f52fb-14ff-4d67-8fa5-92a86e02968b.png)

[2021-11-23 18:39] raakesh-blokhra commented on #526
@pcrtx Thanks for the update. Closing this issue now since it is working. If you run into any issues, please feel free to reopen it.

[2021-11-23 18:39] #526 closed, assigned to nobody

[2021-11-24 05:20] shishir-intelli commented on #520
Hope this issue is resolved.
Closing this for now, feel free to reopen if in case you need any further help.
Thanks!

[2021-11-24 05:20] #520 closed, assigned to shishir-intelli

[2021-11-24 05:23] shishir-intelli commented on #493
I hope that information helped,
Closing this for now, feel free to reopen if in case you need any further help.
Thanks!

[2021-11-24 05:23] #493 closed, assigned to shishir-intelli

[2021-12-01 03:52] phdhiren commented on #490
Closing the issue for now, fell free to reopen if require.

[2021-12-01 03:52] #490 closed, assigned to phdhiren

[2021-12-06 15:17] phdhiren opened #530 "Update theme related libraries to latest"
## Is your feature request related to a problem? Please describe
Dependent libraries of theme should be up to date.

## Describe the solution you'd like
Update library and build the theme.

[2021-12-06 15:50] phdhiren opened #531 "Circle CI test"
## Description
There are Drupal 8 related CircleCI test are failing
https://app.circleci.com/pipelines/github/apigee/apigee-devportal-kickstart-drupal/114/workflows/52996d00-2725-4036-9df7-4c068a1841cb/jobs/926

## Expected Behavior
It should pass Circle CI test

## Notes
https://github.com/apigee/apigee-edge-drupal/issues/644

https://github.com/apigee/apigee-m10n-drupal/issues/343

https://githu

[2021-12-06 16:23] #531 closed, assigned to phdhiren

[2021-12-07 06:55] #527 closed, assigned to nobody

[2021-12-16 06:02] zycon opened #533 "Sample request body in "Try this API" API Documentation section not getting auto-populated"
Request body in "Try this API"  API documentation page is not auto-populating the sample record objects. Its working only when user types something, but not while clicking the "+" icon.
![image](https://user-images.githubusercontent.com/36449874/146316207-ae1b3007-8599-4efd-92f1-3e90e3320e49.png)

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to any Product API Swagger spec page
2.

[2021-12-16 06:08] zycon opened #534 "Sample Code Snippet generation in API Documentation , for theme"
"Try this API" section in drupal portal is lacking code snippet samples,
![image](https://user-images.githubusercontent.com/36449874/146317297-6079d1fd-2a92-4d45-865e-8ea0721acaef.png)

## Describe the solution you'd like
Sample request code snippets in the UI, along the request objects

## Additional context
This is available in apigee hosted SaaS portal
![image](https://user-images.githubusercon

[2021-12-16 06:15] zycon opened #535 "Example Request is missing in API Documentation"
## Is your feature request related to a problem? Please describe
Example Request object which is available in swagger-spec is not shown in the api-documentation page.

## Describe the solution you'd like
An example request object's screenshot from apigee-hosted SaaS portal
![image](https://user-images.githubusercontent.com/36449874/146318206-5ff510b8-085e-49c5-968f-85faba9910b6.png)

[2021-12-17 06:05] #530 closed, assigned to phdhiren

[2021-12-21 15:21] raakesh-blokhra commented on #516
@pradeepgorle13 I apologize for not responding earlier. We were in the process of D8 EOL so forgot to respond to this ticket. Can you please tell us if you are still having an issue and need help?

[2021-12-28 15:51] phdhiren opened #537 "GraphQL and AsyncAPI changes for kickstart"
## Is your feature request related to a problem? Please describe
GraphQL Doc related changes in kickstart

Related to https://github.com/apigee/apigee-api-catalog-drupal/issues/140

[2022-01-03 14:55] shishir-intelli commented on #507
Closing this for now, Feel free to reopen if in case you need further help.

[2022-01-03 14:55] #507 closed, assigned to shishir-intelli

[2022-01-12 06:45] phdhiren commented on #516
@pradeepgorle13 Closing this issue after inactivity. Feel free to reopen, if requires.

[2022-01-12 06:45] #516 closed, assigned to phdhiren

[2022-01-20 12:39] phdhiren opened #539 "API Product field in API Doc for Kickstart"
## Is your feature request related to a problem? Please describe
In API Doc, new field API Product is introduced, the same should be there when installing using kickstart distribution.

## Additional context
https://github.com/apigee/apigee-api-catalog-drupal/issues/143

[2022-01-24 06:13] phdhiren commented on #261
Documentation updated

[2022-01-24 06:13] #261 closed, assigned to phdhiren

[2022-01-24 13:06] #539 closed

[2022-03-11 06:22] NNV111 opened #543 "Facing an issue while trying to configure Apigee module"
We have Drupal set up and Apigee module installed in AWS workspace. Apigee also runs on private cloud.
While trying to configure the details to establish the connection, facing the following error --
![image](https://user-images.githubusercontent.com/87411570/157813594-69bde8f5-b750-437f-99c1-9fd64e883470.png)

![image](https://user-images.githubusercontent.com/87411570/157814602-f1042107-8511-4b5

[2022-03-11 06:39] shishir-intelli commented on #543
@NNV111
Can you make sure you have correctly configured the private file settings.
See https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-the-connection-to-apigee#configure-private-file

[2022-03-14 10:45] NNV111 commented on #543
@shishir-intelli
 I have configured the path in settings.php and the path is reflecting under the file system in the UI as well
 Cleared the cache, changed the permissions for this file (chmod -R 775 '../private';)
I get the above error when this path has been provided.

![image](https://user-images.githubusercontent.com/87411570/158157022-eece9aef-6ecc-40a2-b96c-29499624d6ba.png)

Fetched this pa

[2022-03-14 14:59] shishir-intelli commented on #543
@NNV111
It seems like the private file system path which you have set is incorrect.
I will suggest you create the private folder on `/www `and not inside Drupal and should not accessible over the web and also set the absolute path in `setting.php` .
So IMO the path should look like `/var/www/private` in **`Private file system path`** and set the access permission for that folder.

[2022-03-15 07:38] phdhiren opened #546 "Update theme related libraries to latest"
## Description

Rebuild the theme library with latest version.

[2022-03-15 11:55] phdhiren opened #548 "CircleCI - Drop support for Drupal 8"
## Is your feature request related to a problem? Please describe
Drop support for Drupal 8
Add dependency on slevomat/coding-standard in CircleCI test
(After latest release of [coder](https://www.drupal.org/project/coder/releases/8.3.14) update CircleCI test to include slevomat/coding-standard)

[2022-03-16 14:04] #548 closed, assigned to phdhiren

[2022-03-16 14:21] #546 closed, assigned to phdhiren

[2022-03-16 22:21] ssrtx opened #550 "Allow developers to download Open API Spec on Apigee Kickstart"
We have installed Drupal 9 Apigee Kickstart with the default theme and connected to our Apigee Edge Private Cloud instance.
Is there a way to allow developers to download the Open API specification (yaml file) from the API documentation page?
We are using the default  Smartdocs Open API viewer/formatter.

Thanks
Subodh

[2022-03-17 06:56] NNV111 commented on #543
@shishir-intelli
Have tried as you've suggested, created a private folder and placed it outside the Drupal i.e. (/var/www/private), set the absolute path in settings.php, gave recursive permissions by using the command chmod -R 775 and chmod -R 777
Still facing the exact same error. The OauthTokenFileStorage.php file at line 200 is pointing out to this if block that's raising the error
![image](ht

[2022-03-22 12:57] shishir-intelli commented on #543
@NNV111
No, you are not missing out anything, its just that your private directory is not set properly.
The `OauthTokenFileStorage.php` checkRequirements method prepares the directory, either the path is incorrect or you are missing out of some permission on that directory.

Can you share me the screenshot of `/admin/config/media/file-system` page.

Meanwhile, you can checkout
https://www.drupal.o

[2022-03-25 07:54] #537 closed, assigned to phdhiren

[2022-03-28 14:59] phdhiren opened #552 "Bump apigee_api_catalog version to 3"
Bump apigee_api_catalog version to 3

[2022-03-29 05:50] #552 closed, assigned to phdhiren

[2022-03-31 13:37] AyoSal opened #557 "Error occured during portal setup"
## Description
Error occured when setting up apigee developer portal after launch from marketplace.

error screen is attached.
was fixed by deleting devportal database in cloudsql and restarting the setup process at the url ![image](https://user-images.githubusercontent.com/27664278/161067843-dc73b7cf-d921-4a92-80e5-ca41b0c5e7ff.png)

[2022-04-01 14:49] raakesh-blokhra commented on #557
@AyoSal I was told that this issue was resolved by deleting DB tables and re-initiating the installation, and this can be closed now. If that is not the case and you need help please reopen this issue. Thank you

[2022-04-01 14:49] #557 closed, assigned to nobody

[2022-04-04 13:53] pradeepgorle13 opened #558 "Vulnerabilities CVE-2022-22965 and CVE-2022-22963"
Hi Team,

We have a discussion in our organization about the Vulnerabilities CVE-2022-22965 and CVE-2022-22963. Does apigee Kickstarter have this vulnerability and what are the mitigation options if present.

Thanks.,
Pradeep

[2022-04-04 14:28] phdhiren commented on #558
@pradeepgorle13

Seems both of this CVE related to Java.
Drupal Devportal uses PHP as the base language and does not have an impact on this.
However, for the base Apigee product you can get in touch with the support team.

[2022-04-04 14:28] #558 closed, assigned to nobody

[2022-04-04 14:30] phdhiren commented on #543
@NNV111

Hope the solution worked for you.
Closing the issue for now, feel free to reopen if required.

[2022-04-04 14:30] #543 closed, assigned to nobody

[2022-04-04 14:36] pradeepgorle13 commented on #558
thanks @phdhiren Perfect this really helps.. Thanks a lot for quick response.

[2022-04-19 17:25] matt-hottinger opened #559 "Support for Workload Identity Federation when configuration Kickstart for Apigee X"
## Is your feature request related to a problem? Please describe
It would be preferable to be able to use short-lived access tokens instead of long-lived service account keys when configuring the Apigee Dev Portal Kickstart for Apigee X. At the moment it appears the only option is to configure using a GCP service account key.

## Describe the solution you'd like
Using a GCP service account key is

[2022-04-27 02:55] giteshk commented on #559
Hi @matt-hottinger, This is a great suggestion.
If you currently deploy the Apigee Edge module on a GCP Compute instance VM it lets you use the default service account without having to enter a key in.

It would be good to add this feature to support Kubernetes pods with workload identity federation.

[2022-06-16 06:19] #488 closed, assigned to phdhiren

[2022-06-22 15:16] simantstha commented on #423
[
![Screenshot 2022-06-22 101631](https://user-images.githubusercontent.com/30699044/175067214-c82d00de-2f7c-4446-a5b3-c3e8242d3fb2.png)
](url)

[2022-06-22 15:17] simantstha commented on #423
Is this error a deal breaker or not. Is there anyway to remove this error.

[2022-06-27 10:08] phdhiren opened #562 "Remove circleci integration"
Now that we rely on GitHub Actions remove any integrations with Circle CI

[2022-06-27 14:31] #562 closed, assigned to nobody

[2022-06-27 19:29] vvenning-lb opened #564 "Getting Type Error trying to install monolog module"
## Description
A clear and concise description of what the bug is.

Error when trying to install the monolog 2.0 module on apigee kickstart on Drupal 9,4.1, PHP 7.4.25

## Steps to Reproduce
Steps to reproduce the behavior:

Go to docroot of project.  Get monolog using composer
 'composer require 'drupal/monolog:^2.0''
Login as admin
1. Go to '/admin/modules'
2. Type 'monolog' in search
3. Select

[2022-06-28 08:39] shishir-intelli commented on #564
Hi @vvenning-lb,
It seems that the `Monolog` module is not compatible with Drupal's core `LoggerChannel` Interface.
We are using `Drupal\Core\Logger\LoggerChannelInterface` for logging.
Reference : https://www.drupal.org/project/monolog/issues/2749859

[2022-06-28 22:44] simantstha opened #565 "Patching fails when installing through composer."
![image](https://user-images.githubusercontent.com/30699044/176316640-22d9c86a-9996-4a03-9589-11804a6bb71c.png)

[2022-06-29 07:25] shishir-intelli opened #566 "Free-form documentation changes for kickstart"
## Is your feature request related to a problem? Please describe
Free form doc related changes in kickstart

Related to https://github.com/apigee/apigee-api-catalog-drupal/issues/196

[2022-06-30 15:51] simantstha opened #568 "Applying patch fails at the end of installation"
Some patches fail to apply while installing via composer.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/30699044/176722080-48ede535-0fda-484b-a2e6-cc323e3bcef8.png)

[2022-07-01 09:49] shishir-intelli commented on #568
Hi @simantstha
Can you share the `composer.json` file which is causing this issue.

Also, some of the time problems maybe OS does not have patch module install.
Try this `patch --version` to check the version
or
`sudo yum install patch` to install if missing.

[2022-07-01 09:51] shishir-intelli commented on #565
Duplicate of #568

[2022-07-01 09:51] #565 closed, assigned to nobody

[2022-07-01 18:15] simantstha commented on #568
{
  "name": "apigee/devportal-kickstart-project",
  "description": "Composer project template for the Apigee Developer Portal Drupal distribution.",
  "type": "project",
  "license": "GPL-2.0-or-later",
  "homepage": "https://www.drupal.org/project/apigee_devportal_kickstart",
  "support": {
    "docs": "https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart"
  },
  "repositories"

[2022-07-04 14:19] shishir-intelli commented on #568
Hi @simantstha
`Composer.json` looks good
What is the patch version on your system?

To debug the issue further can you try `composer install -vvv` or `composer update -vvv` and share the error message, so we can see the exact error.

[2022-07-05 15:21] simantstha commented on #568
![image](https://user-images.githubusercontent.com/30699044/177362079-7169faff-1e42-48b0-a0bd-9210578fd8a1.png)
This is the message for composer update -vvv
also i am working on windows can you tell me the best way to install patch ? I researched online they dont seem to work

[2022-07-06 07:01] shishir-intelli commented on #568
Hi @simantstha
The composer and patch module on the windows system doesn't seem to be configured properly.
IMO in windows you need to add the patch.exe path to the Environment Variables -> System variables -> Path
Check out this link https://www.drupal.org/project/wxt/issues/3035117
and for composer check out https://getcomposer.org/doc/01-basic-usage.md

[2022-07-11 06:26] shishir-intelli commented on #568
Hi @simantstha
We hope your issue has been resolved.
Closing this issue for now, Please feel free to re-open this issue if you need any further help related to Apigee.

[2022-07-11 06:26] #568 closed, assigned to nobody

[2022-07-15 17:31] simantstha opened #569 "Not able to install jsonapi_extras module"
## Description
After installing devportal when i install json api extras module it shows me
## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to extend
2. Type json
3. select jsonapi_extras and click install

## Actual Behavior
What happened after the steps to reproduce.
![image](https://user-images.githubusercontent.com/30699044/179277139-25d03cf0-8c87-4148-a7fd-0722a999d598.png)

## E

[2022-07-19 05:54] shishir-intelli commented on #569
Hi @simantstha
Can you please share the version info or composer show list to reproduce this issue.

[2022-07-19 13:46] simantstha commented on #569
version: 2.3.10
{
  "name": "apigee/devportal-kickstart-project",
  "description": "Composer project template for the Apigee Developer Portal Drupal distribution.",
  "type": "project",
  "license": "GPL-2.0-or-later",
  "homepage": "https://www.drupal.org/project/apigee_devportal_kickstart",
  "support": {
    "docs": "https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstart"
  },

[2022-07-19 17:29] shishir-intelli commented on #569
Could you please share with us the version of `drupal/jsonapi_extras`, The `composer.json` which you have shared above is showing " " for `drupal/jsonapi_extras`;

Could you also share with us the list of installed packages details by running the command `composer show`.

[2022-07-19 17:31] simantstha commented on #569
C:\xampp\htdocs\devproject>composer show
apigee/apigee-client-php                       2.0.16          Client library for connecting to the Apigee Edge API.
apigee/apigee-mock-client-php                  1.1.1           To be used for queueing mock API responses for the ...
apigee/apigee_devportal_kickstart              2.1.0           A fast demo and starting point for Apigee Developer...
asm89/

[2022-07-21 14:57] shishir-intelli commented on #569
Hi @simantstha,
Thanks for sharing the info,

This issue is because of JsonApi `ContentEntityDenormalizer` class which is deprecated, we are working on this issue,
I will create a patch for same.

[2022-07-21 15:00] simantstha commented on #569
Oh great thank you

[2022-07-21 15:23] simantstha commented on #569
Also while we are into apis. Why does my devportal doesnot make a new revision everytime i update the content through RESTful api calls. It just updates the content but new revision is not made. Do you have any idea regarding this?

[2022-07-22 07:49] shishir-intelli commented on #569
Hi,
Make sure `create new revision` is enabled,
If you go to the edit page for apidoc content type (i.e. `admin/structure/types/manage/apidoc`), under Publishing options, you can enforce new revisions by default.
![image](https://user-images.githubusercontent.com/75600200/180390007-63a2ff69-78ab-47d8-b492-6e1ee6cd9b73.png)

if this is already checked the you could try to implement `hook_node_presa

[2022-07-22 15:08] simantstha commented on #569
Thank you for your response i did this but it did not work. Am i doing it correct. I have also enabled create new revision.
![image](https://user-images.githubusercontent.com/30699044/180468876-0a2d1848-d3d2-492b-a002-c571873e6028.png)

[2022-07-25 09:05] shishir-intelli commented on #569
@simantstha

These questions are more about Drupal and not related to Apigee,

For understanding Drupal hooks you can refer to this https://www.drupal.org/docs/creating-custom-modules/understanding-hooks
or for `hook presave` refer this https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Entity%21entity.api.php/function/hook_entity_presave/9.4.x

[2022-07-25 15:45] simantstha commented on #569
Thank you, Shishir. When can I expect the patch for this bug?

[2022-07-26 14:42] shishir-intelli commented on #569
Hi @simantstha

This issue is occurring for `Drupal 9.4.2` and greater versions(This issue is related to https://www.drupal.org/project/jsonapi/issues/3042467)
`ContentEntityDenormalizer` is deprecated in `jsonapi` module, but `drupal/jsonapi_extras` module is still using the service which is deprecated

We have created a patch here, please let us know if this resolves the issue and works fine.
Pa

[2022-07-26 14:45] simantstha commented on #569
Thank you can you guide me how to apply this patch ?

[2022-07-26 15:13] shishir-intelli commented on #569
On terminal go to `/modules/contrib/jsonapi_extras` and run `patch -p1 < patch#569-1.patch`
(Note rename `patch#569-1.txt` to `patch#569-1.patch`)

For more details refer this https://www.drupal.org/docs/develop/git/using-git-to-contribute-to-drupal/applying-a-patch-in-a-feature-branch

[2022-07-26 15:20] simantstha commented on #569
It has been resolved thank you so much.

[2022-07-28 07:59] #569 closed, assigned to shishir-intelli

[2022-07-28 17:44] simantstha opened #571 "Installing File_entity module gives me unexpected error"
## Description
Installing file_entity module bugs the whole portal.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to extend
2. Click on file_entity module
3. Install

## Actual Behavior
![image](https://user-images.githubusercontent.com/30699044/181603453-dce9eb77-c337-4a94-a89c-041d8496ca0a.png)

## Expected Behavior
Should have been installed

## Version Info
This can be the vers

[2022-07-29 04:57] shishir-intelli commented on #571
Hi @simantstha
We are not able to reproduce this issue, could you please share with us the Drupal error log (`/admin/reports/dblog`)

[2022-07-29 14:44] simantstha commented on #571
![image](https://user-images.githubusercontent.com/30699044/181784841-e239ecda-dce0-4bf6-ab30-ff7696825862.png)

[2022-08-01 12:27] shishir-intelli commented on #571
Hi @simantstha,
We are not able to reproduce this issue.
Could you check and make sure the `FieldableEntityDenormalizerImpostor` file exists in the `jsonapi_extra/src-impostor-normalizers/` module.

Have you applied the `jsonapi_extra` module patch (issue 569) ? or added the changes and files manually?

[2022-08-03 16:13] simantstha commented on #571
![image](https://user-images.githubusercontent.com/30699044/182657760-12fdb569-78c4-4e7e-8c23-2194850f68c6.png)

[2022-08-03 16:21] simantstha commented on #571
I did the patching again and
![image](https://user-images.githubusercontent.com/30699044/182658988-70f4096e-9751-48ac-8cda-83cc10c1df4f.png)
![image](https://user-images.githubusercontent.com/30699044/182659323-b2a8c9f8-e5e4-4f48-8465-ef5f9df9440b.png)

[2022-08-03 19:46] simantstha opened #572 "New Update of kickstart is getting error while installing."
![image](https://user-images.githubusercontent.com/30699044/182695884-0c1b7360-2cdc-47ef-94c6-c3def69f9fa7.png)

[2022-08-04 07:04] shishir-intelli commented on #572
Hi @simantstha

There seems to be some issue with `pathauto` latest modules released on 3rd Aug 2022 with Apigee Drupal Kickstart,
You can downgrade both modules `pathauto` to v1.10 and `ctools` to v4.0.0 to make it work for now.

Pathauto - ( `composer require 'drupal/pathauto:1.10'` )
Ctools ( `composer require 'drupal/ctools:4.0.0'` )

We are working on this issue, soon we will update regarding

[2022-08-04 08:54] shishir-intelli commented on #571
Checkout  https://www.drupal.org/project/file_entity/issues/3174449
This issue is not related to Apigee so closing this issue for now, please feel free to re-open if you need any further help.

[2022-08-04 08:54] #571 closed, assigned to shishir-intelli

[2022-08-04 14:29] shishir-intelli commented on #564
@vvenning-lb,
Closing this issue for now, please feel free to reopen if you need any further help.

[2022-08-04 14:29] #564 closed, assigned to shishir-intelli

[2022-08-10 16:19] #572 closed, assigned to shishir-intelli

[2022-08-10 16:40] shishir-intelli opened #573 "Error while installing demo content for kickstart"
## Description
While installing demo content if the user clicks the `Save and Continue` button twice, the installation throws an error.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Start installing Apigee devportal kickstart Drupal
2. Follow the installation wizard
3. On `Install demo content` tab - Click `Enable demo content` checkbox.
4. Click on `Save and continue` button twice.
T

[2022-08-16 15:01] #573 closed, assigned to phdhiren

[2022-08-29 13:24] phdhiren opened #576 "Long array syntax must not be used in doc comment code annotation"
## Description
When checking with phpcs it throw following error
[code]

## Expected Behavior
No error should come when checking for phpcs

[2022-08-30 09:38] #576 closed, assigned to phdhiren

[2022-09-01 12:42] divya-intelli opened #578 "Action - Drop Drupal 9.2 support"
## Is your feature request related to a problem? Please describe
Drupal core 9.2 no longer receives security coverage, therefore drop Drupal 9.2 from action.

[2022-09-02 09:31] shishir-intelli opened #581 "Fix accessibility issues (VPAT)"
## Description
(VPAT) - Voluntary Product Accessibility Template
Try to fix accessibility issues in Apigee devportal.

To resolve below accessibility Issues:
- Errors
- Contrast Errors
- ARIA
- Alerts

[2022-09-05 14:04] #578 closed, assigned to divya-intelli

[2022-09-23 13:50] #581 closed, assigned to shishir-intelli

[2022-09-26 14:04] #566 closed, assigned to shishir-intelli

[2022-10-12 19:51] rajakumar2017 opened #585 "DevPortal kickstart drupal support to Azure kubernetes cluster (AKS)"
## Is your feature request related to a problem? Please describe
  I was successfully deployed the devportal using docker compose in our AKS Cluster as a POC. We have explored devportal kickstart project and like it very much with features it brings to us. So we decided to move the devportal setup in our Dev environment to share with our small set of developers.  Since docker compose is not approv

[2022-10-12 19:54] giteshk commented on #585
Could you add screenshots of the error or php error logs?

[2022-10-12 20:07] rajakumar2017 commented on #585
Hello Giteshk
Thanks for your immediate response. Unfortunately, i have not seen any error message in the log files.
Below is the snippet of the log files.
+ DRUSH='php -d memory_limit=-1 /usr/bin/drush'
+ composer require drupal/restui -o --working-dir=/app/code --no-interaction
Do not run Composer as root/super user! See https://getcomposer.org/root for details
Using version ^1.21 for drupal/res

[2022-10-13 05:33] phdhiren commented on #585
@rajakumar2017

Can you check what error it throws in the error log, when you're accessing the installation process?

Ideally when you install the URL it will be like this `<HOST>/core/install.php`

[2022-10-13 13:27] rajakumar2017 commented on #585
Hello
Thanks for your response.
I have connected the container and checked the stderr and supervisord.log log files. I see only the below information which might be useful for further analysis. I have not seen any entry in stdout log file.

Contents from stderr file located at "/app/code/web " folder.
[12-Oct-2022 19:36:29] NOTICE: fpm is running, pid 205
[12-Oct-2022 19:36:29] NOTICE: ready to ha

[2022-10-13 13:36] giteshk commented on #585
@rajakumar2017 Please look at this commit and make a similar change to your dockerfile
https://github.com/apigee/docker-apigee-drupal-kickstart/commit/0b80869bda17a7e5bfc11f66beeab58cad6fa742

If that doesn't work please paste your docker file here.

[2022-10-13 15:19] rajakumar2017 commented on #585
@giteshk Unfortunately build itself fails when we edit the dockerfile as per the above commit.
The snippet of the build error is given below. I also attached the complete log files and dockerfile for your reference.

The command '/bin/sh -c php -d memory_limit=-1 /usr/bin/composer install -o --working-dir=/app/code --no-interaction     && ln -sf /app/code/vendor/bin/drush /usr/bin/drush' returned

[2022-10-13 15:51] giteshk commented on #585
@rajakumar2017 I was able to build using your dockerfile.

Here is the difference I see with the file I provided:

[code]

[2022-10-13 19:07] rajakumar2017 commented on #585
@giteshk  Thanks for reviewing the docker file and pointing out it.
I made a change in my repository and ran a build again without any success. Though I am using Azure DevOps to Build and Release, It should not make any issues while running the Docker Build. I have attached the Dockerfile and error message for your review. I will be happy if you take a look and update me on your findings. I also c

[2022-10-13 19:19] giteshk commented on #585
It seems like an issue in your build process, I am not familiar with the Azure DevOps tool.

Have you tried using this image directly in your kubernetes file: ghcr.io/apigee/docker-apigee-drupal-kickstart:latest

[2022-10-13 20:44] cen1 opened #586 "Mismatched entity and/or field definitions"
## Description

In the status report page I see the following error:

Mismatched entity and/or field definitions
The following changes were detected in the entity type and field definitions.
Product variation
The Price range field needs to be updated.
Product
The This is an Apigee add credit product field needs to be updated.

## Steps to Reproduce
I am not 100% sure when or how this happened. It

[2022-10-14 05:36] shishir-intelli commented on #586
HI @cen1
Thank you for reporting this issue.

Could you please share with us the output of this command: `composer show` to investigate this issue.

[2022-10-14 06:04] cen1 commented on #586
[composer_show.txt](https://github.com/apigee/apigee-devportal-kickstart-drupal/files/9782912/composer_show.txt)

[2022-10-14 10:08] cen1 commented on #586
Reinstalling Apigee Monetization Add Credit solved the problem.

[2022-10-14 11:21] shishir-intelli commented on #586
Not able to reproduce the issue.

However, while installing 9.4.8 with PHP 8.1.10, I found some issues while enabling the add credit module, we are investigating it.
We will keep you posted on further updates.

[2022-10-14 16:43] rajakumar2017 commented on #585
@giteshk
Finally, I was able to resolve the Docker Build issue on Azure DevOps itself. As such build is working fine and is able to deploy in our cluster also. But I am still seeing an issue while the application is initializing with the below error message.

[14-Oct-2022 14:01:19] NOTICE: fpm is running, pid 205
[14-Oct-2022 14:01:19] NOTICE: ready to handle connections
127.0.0.1 -  14/Oct/2022:1

[2022-10-14 18:00] phdhiren commented on #585
@rajakumar2017

It seems there is a recent issue from composer version 2.4.2, can you downgrade to 2.4.1 using `composer self-update 2.4.1`

https://github.com/composer/composer/issues/11093

[2022-10-17 05:54] shishir-intelli commented on #586
Hi @cen1
We tried to reproduce this issue but were not able to reproduce.

The above mentioned error by me (```while installing 9.4.8 with PHP 8.1.10```) was due to some local system issue.
Closing this issue for now please feel free to re-open for any further issue.

[2022-10-17 05:54] #586 closed, assigned to nobody

[2022-10-17 18:50] rajakumar2017 commented on #585
@phdhiren
Thanks for your recommendation. I have modified the Dockerfile to use composer version 2.4.1 and am able to build and deploy in our AKS infrastructure. As such I am validating all the modules of the application and able to update you in a few days.

[2022-11-24 11:29] phdhiren commented on #585
@rajakumar2017

I hope the issue has been resolved, closed this issue. Feel free to reopen if required.

[2022-11-24 11:29] #585 closed, assigned to giteshk, phdhiren